{% load static %}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Index InformaDivertido</title>

    <link href="{% static 'Plantilla_Sistema/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'Plantilla_Sistema/font-awesome/css/font-awesome.css' %}" rel="stylesheet">

    <!-- Toastr style -->
    <link href="{% static 'Plantilla_Sistema/css/plugins/toastr/toastr.min.css' %}" rel="stylesheet">

    <!-- Gritter -->
    <link href="{% static 'Plantilla_Sistema/js/plugins/gritter/jquery.gritter.css' %}" rel="stylesheet">

    <link href="{% static 'Plantilla_Sistema/css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'Plantilla_Sistema/css/style.css' %}" rel="stylesheet">

    {% block scripts %}

    {% endblock %}

    {% block estilos %}

    {% endblock %}

</head>

<body>
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">

                  {% block menu_usuario %}
                    <li class="nav-header">
                        <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" src="img/profile_small.jpg" />
                             </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">David Williams</strong>
                             </span> <span class="text-muted text-xs block">Art Director <b class="caret"></b></span> </span> </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="profile.html">Profile</a></li>
                                <li><a href="contacts.html">Contacts</a></li>
                                <li><a href="mailbox.html">Mailbox</a></li>
                                <li class="divider"></li>
                                <li><a class="btn btn-info btn-lg" href="{% url 'logout_us' %}">Salir</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            IN+
                        </div>
                    </li>
                  {% endblock %}

                  {% block menu%}
                    <li class="active">
                        <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboards</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li class="active"><a href="index.html">Dashboard v.1 <span class="label label-warning pull-right">+2</span></a></li>
                            <li><a href="dashboard_2.html">Dashboard v.2</a></li>
                            <li><a href="dashboard_3.html">Dashboard v.3</a></li>
                            <li><a href="dashboard_4_1.html">Dashboard v.4</a></li>
                            <li><a href="dashboard_5.html">Dashboard v.5 </a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="layouts.html"><i class="fa fa-diamond"></i> <span class="nav-label">Layouts</span></a>
                    </li>
                    {% endblock %}
                </ul>
            </div>
        </nav>

        <div id="page-wrapper" class="gray-bg dashbard-1 fondoEstatico">
        <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                  {% block bienvenida_usuario %}
                    <span class="m-r-sm text-muted welcome-message">Bienvendio *Nombre Usuario*</span>
                  {% endblock %}
                </li>
                <li>
                  <a href="{% url 'logout_us' %}"> <i class="fa fa-sign-out"></i>Cerrar Sesión</a>
                </li>
            </ul>

        </nav>
        </div>

        {% block contenido %}

        {% endblock %}

        </div>

    </div>


    <!-- Mainly scripts -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'Plantilla_Sistema/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'Plantilla_Sistema/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'Plantilla_Sistema/js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'Plantilla_Sistema/js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

    <!-- Flot -->
    <script src="{% static 'Plantilla_Sistema/js/plugins/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'Plantilla_Sistema/js/plugins/flot/jquery.flot.tooltip.min.js' %}"></script>
    <script src="{% static 'Plantilla_Sistema/js/plugins/flot/jquery.flot.spline.js' %}"></script>
    <script src="{% static 'Plantilla_Sistema/js/plugins/flot/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'Plantilla_Sistema/js/plugins/flot/jquery.flot.pie.js' %}"></script>

    <!-- Peity -->
    <script src="{% static 'Plantilla_Sistema/js/plugins/peity/jquery.peity.min.js' %}"></script>
    <script src="{% static 'Plantilla_Sistema/js/demo/peity-demo.js' %}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{% static 'Plantilla_Sistema/js/inspinia.js' %}"></script>
    <script src="{% static 'Plantilla_Sistema/js/plugins/pace/pace.min.js' %}"></script>

    <!-- jQuery UI -->
    <script src="{% static 'Plantilla_Sistema/js/plugins/jquery-ui/jquery-ui.min.js' %}"></script>

    <!-- GITTER -->
    <script src="{% static 'Plantilla_Sistema/js/plugins/gritter/jquery.gritter.min.js' %}"></script>

    <!-- Sparkline -->
    <script src="{% static 'Plantilla_Sistema/js/plugins/sparkline/jquery.sparkline.min.js' %}"></script>

    <!-- Sparkline demo data  -->
    <script src="{% static 'Plantilla_Sistema/js/demo/sparkline-demo.js' %}"></script>

    <!-- ChartJS-->
    <script src="{% static 'Plantilla_Sistema/js/plugins/chartJs/Chart.min.js' %}"></script>

    <!-- Toastr -->
    <script src="{% static 'Plantilla_Sistema/js/plugins/toastr/toastr.min.js' %}"></script>

    {% block codigo_js %}

    {% endblock %}

    <script>
        $(document).ready(function() {
            setTimeout(function() {
                toastr.options = {
                    closeButton: true,
                    progressBar: true,
                    showMethod: 'slideDown',
                    timeOut: 4000
                };
                {% block inicioSesion %}
                toastr.success('Has iniciado sesión.', 'Binvenido!');
                {% endblock %}

            }, 1300);


            var data1 = [
                [0,4],[1,8],[2,5],[3,10],[4,4],[5,16],[6,5],[7,11],[8,6],[9,11],[10,30],[11,10],[12,13],[13,4],[14,3],[15,3],[16,6]
            ];
            var data2 = [
                [0,1],[1,0],[2,2],[3,0],[4,1],[5,3],[6,1],[7,5],[8,2],[9,3],[10,2],[11,1],[12,0],[13,2],[14,8],[15,0],[16,0]
            ];
            $("#flot-dashboard-chart").length && $.plot($("#flot-dashboard-chart"), [
                data1, data2
            ],
                    {
                        series: {
                            lines: {
                                show: false,
                                fill: true
                            },
                            splines: {
                                show: true,
                                tension: 0.4,
                                lineWidth: 1,
                                fill: 0.4
                            },
                            points: {
                                radius: 0,
                                show: true
                            },
                            shadowSize: 2
                        },
                        grid: {
                            hoverable: true,
                            clickable: true,
                            tickColor: "#d5d5d5",
                            borderWidth: 1,
                            color: '#d5d5d5'
                        },
                        colors: ["#1ab394", "#1C84C6"],
                        xaxis:{
                        },
                        yaxis: {
                            ticks: 4
                        },
                        tooltip: false
                    }
            );

            var doughnutData = {
                labels: ["App","Software","Laptop" ],
                datasets: [{
                    data: [300,50,100],
                    backgroundColor: ["#a3e1d4","#dedede","#9CC3DA"]
                }]
            } ;


            var doughnutOptions = {
                responsive: false,
                legend: {
                    display: false
                }
            };


            var ctx4 = document.getElementById("doughnutChart").getContext("2d");
            new Chart(ctx4, {type: 'doughnut', data: doughnutData, options:doughnutOptions});

            var doughnutData = {
                labels: ["App","Software","Laptop" ],
                datasets: [{
                    data: [70,27,85],
                    backgroundColor: ["#a3e1d4","#dedede","#9CC3DA"]
                }]
            } ;


            var doughnutOptions = {
                responsive: false,
                legend: {
                    display: false
                }
            };


            var ctx4 = document.getElementById("doughnutChart2").getContext("2d");
            new Chart(ctx4, {type: 'doughnut', data: doughnutData, options:doughnutOptions});

        });
    </script>

</body>
</html>
