{% extends 'indexs/index_base.html' %}

{% block menu_usuario %}
  <li class="nav-header">
      <div class="dropdown profile-element"> <span>
          <img style="width:90%" class="img-circle" src="{{entidad.foto.url}}">
          <!-- <img alt="image" class="img-circle" src="img/profile_small.jpg" /> -->
           </span>
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
          <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{entidad.nombre}}</strong>
          </span> <span class="text-muted text-xs block">Institución <b class="caret"></b></span> </span> </a>
          <ul class="dropdown-menu animated fadeInRight m-t-xs">
              <li><a href="{% url 'editar_en' entidad.id %}">Editar perfil</a></li>
              <li class="divider"></li>
              <li><a href="{% url 'logout_us' %}">Salir</a></li>
          </ul>
      </div>
      <div class="logo-element">
        <img style="width:90%" class="img-circle" src="{{entidad.foto.url}}">
      </div>
  </li>
{% endblock %}

{% block bienvenida_usuario %}
  <span class="m-r-sm text-muted welcome-message">Bienvendio {{entidad.nombre}}</span>
{% endblock %}

{% block inicioSesion %}
{% if bienv %}
  toastr.success('Has iniciado sesión.', 'Binvenido!');
{% endif %}
{% endblock %}
