{% extends 'indexs/index_base.html' %}


{% block menu_usuario %}
  <li class="nav-header">
      <div class="dropdown profile-element"> <span>
          <img style="width:90%" class="img-circle" src="{{apoderado.foto.url}}">
          <!-- <img alt="image" class="img-circle" src="img/profile_small.jpg" /> -->
           </span>
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
          <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{apoderado.nombre}} {{apoderado.apellido}}</strong>
          </span> <span class="text-muted text-xs block">Apoderado <b class="caret"></b></span> </span> </a>
          <ul class="dropdown-menu animated fadeInRight m-t-xs">
              <li><a href="{% url 'editar_ap' apoderado.rut %}">Editar perfil</a></li>
              <li class="divider"></li>
              <li><a href="{% url 'logout_us' %}">Salir</a></li>
          </ul>
      </div>
      <div class="logo-element">
        <img style="width:90%" class="img-circle" src="{{apoderado.foto.url}}">
      </div>
  </li>
{% endblock %}

{% block bienvenida_usuario %}
  <span class="m-r-sm text-muted welcome-message">Bienvendio {{apoderado.nombre}} {{apoderado.apellido}}</span>
{% endblock %}

{% block menu%}
  <li class="active">
      <a href="index.html"><i class="fa fa-child"></i> <span class="nav-label">Mis niños</span> <span class="fa arrow"></span></a>
      <ul class="nav nav-second-level">
        {% for infante in infantes %}
          <!-- <li class="active"><a href="index.html">Dashboard v.1 <span class="label label-warning pull-right">+2</span></a></li> -->
          <li><a href="#">{{infante.nombre}}</a></li>
        {% endfor %}
      </ul>
  </li>
{% endblock %}

{% block inicioSesion %}
{% if bienv %}
  toastr.success('Has iniciado sesión.', 'Binvenido!');
{% endif %}
{% endblock %}
