{% extends 'indexs/index_base.html' %}
{% load static %}

{% block menu_usuario %}
  <li class="nav-header">
      <div class="dropdown profile-element"> <span>
          <img style="width:90%" class="img-circle" src="{% static 'img/fotoPerfil/admin/administrador.png' %}">
          <!-- <img alt="image" class="img-circle" src="img/profile_small.jpg" /> -->
           </span>
          <a data-toggle="dropdown" class="dropdown-toggle" href="">
          <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{admin.email}}</strong>
          </span> <span class="text-muted text-xs block">Admin <b class="caret"></b></span> </span> </a>
          <ul class="dropdown-menu animated fadeInRight m-t-xs">
              <li><a href="{% url 'logout_us' %}">Salir</a></li>
          </ul>
      </div>
      <div class="logo-element">
        <img style="width:90%" class="img-circle" src="{% static 'img/fotoPerfil/admin/administrador.png' %}">
      </div>
  </li>
{% endblock %}

{% block bienvenida_usuario %}
  <span class="m-r-sm text-muted welcome-message">Bienvendio {{admin.username}}</span>
{% endblock %}

{% block menu%}
  <li class="active">
      <a href="#"><span class="nav-label">Usuarios</span></a>
  </li>
{% endblock %}

{% block contenido %}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title text-center">
                <h1><b>Usuarios</b></h1>
            </div>
            <div class="ibox-content">

                <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover dataTables-example" >
            <thead>
            <tr>
                <th >ID</th>
                <th >Estado</th>
                <th >Tipo</th>
                <th >Usuario</th>
                <th >Nombre</th>
                <th >Email</th>
                <th >Ultima Conexión</th>
                <th class="text-center">Administrar</th>
                <th class="text-center">Activar/Desactivar</th>
            </tr>
            </thead>
            <tbody>
              {% for usuario in usuarios %}
                <tr >
                    <td>{{usuario.0.id}}</td>
                    {% if  usuario.0.is_active == 1 %}
                      <td><font color="blue">Activo</font></td>
                    {% else %}
                      <td><font color="red">Inactivo</font></td>
                    {% endif %}

                    {% if  usuario.0.tipo == "AP" %}
                      <td>Apoderado</td>
                    {% elif  usuario.0.tipo == "IN" %}
                      <td>Infante</td>
                    {% elif  usuario.0.tipo == "EN" %}
                      <td>Entidad</td>
                    {% endif %}

                    <td>{{usuario.0.username}}</td>
                    <td>{{usuario.1.nombre}}</td>
                    <td>{{usuario.1.email}}</td>
                    <td>{{usuario.0.last_login}}</td>

                    {% if  usuario.0.tipo == "EN" %}
                      <td></td>
                    {% else %}
                      <td class="text-center"><a href="{% url 'administrar_apoderado' usuario.0.id %}" class="btn btn-info" role="button">Administrar</a></td>

                    {% endif %}



                    {% if  usuario.0.is_active == 0 %}

                      <td class="text-center"><a href="{% url 'desactivarUsuario' usuario.0.id %}" class="btn btn-warning" role="button">Activar</a></td>

                    {% else %}
                      <td class="text-center"><a href="{% url 'desactivarUsuario' usuario.0.id %}" class="btn btn-info" role="button">Desactivar</a></td>

                    {% endif %}

                </tr>
              {% endfor %}
            </tbody>

            </table>
                </div>

            </div>
        </div>
    </div>
    </div>
</div>

{% endblock %}


{% block codigo_js %}


<script src="{% static 'Plantilla_Sistema/js/plugins/dataTables/datatables.min.js' %}"></script>


<!-- Page-Level Scripts -->
<script>
    $(document).ready(function(){
        $('.dataTables-example').DataTable({
            pageLength: 25,
            responsive: true,
            dom: '<"html5buttons"B>lTfgitp',
            buttons: [
                { extend: 'copy'},
                {extend: 'csv'},
                {extend: 'excel', title: 'ExampleFile'},
                {extend: 'pdf', title: 'ExampleFile'},

                {extend: 'print',
                 customize: function (win){
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                }
                }
            ]

        });

    });

</script>


{% endblock %}

{% block inicioSesion %}
{% if bienv %}
  toastr.success('Has iniciado sesión.', 'Binvenido!');
{% endif %}
{% endblock %}
