{% extends 'indexs/index_base.html' %}

{% block menu_usuario %}
  <li class="nav-header">
      <div class="dropdown profile-element"> <span>
          <img style="width:90%" class="img-circle" src="{{infante.foto.url}}">
          <!-- <img alt="image" class="img-circle" src="img/profile_small.jpg" /> -->
           </span>
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
          <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{infante.nombre}}</strong>
          </span> <span class="text-muted text-xs block">Infante <b class="caret"></b></span> </span> </a>
          <ul class="dropdown-menu animated fadeInRight m-t-xs">
              <li><a href="{% url 'VerAnalisis_in'%}">Mi perfil</a></li>
              <li class="divider"></li>
              <li><a href="{% url 'logout_us' %}">Salir</a></li>
          </ul>
      </div>
      <div class="logo-element">
        <img style="width:90%" class="img-circle" src="{{infante.foto.url}}">
      </div>
  </li>
{% endblock %}

{% block bienvenida_usuario %}
  <span class="m-r-sm text-muted welcome-message">Bienvendio {{infante.nombre}} </span>
{% endblock %}

{% block menu%}
  <li class="active">
      <a href="#"><i class="fa fa-exchange"></i> <span class="nav-label">Intercambio</span></a>
  </li>
  <li>
      <a href="{% url 'galeria_in' infante.id %}"><i class="fa fa-th"></i> <span class="nav-label">Galeria</span></a>
  </li>
  <li>
      <a href="#"><i class="fa fa-id-card-o"></i> <span class="nav-label">Mi perfil</span></a>
  </li>

{% endblock %}


{% block inicioSesion %}
{% if bienv %}
  toastr.success('Has iniciado sesión.', 'Binvenido!');
{% endif %}
{% endblock %}
