{% load static %}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Index InformaDivertido</title>

    <link href="{% static 'Plantilla_Sistema/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'Plantilla_Sistema/font-awesome/css/font-awesome.css' %}" rel="stylesheet">

    <!-- Toastr style -->
    <link href="{% static 'Plantilla_Sistema/css/plugins/toastr/toastr.min.css' %}" rel="stylesheet">

    <!-- Gritter -->
    <link href="{% static 'Plantilla_Sistema/js/plugins/gritter/jquery.gritter.css' %}" rel="stylesheet">

    <link href="{% static 'Plantilla_Sistema/css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'Plantilla_Sistema/css/style.css' %}" rel="stylesheet">

    {% block estilos %}

    {% endblock %}

</head>

<body class="fondoEstatico">
  {% block contenido %}
  {% endblock %}
</body>
</html>
