{% extends 'indexs/index_admin.html' %}
{% load static %}

{% block menu%}
  <li>
    <a href="{% url 'inicio_ad' %}"><span class="nav-label">Usuarios</span></a>
  </li>
{% endblock %}

{% block contenido %}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title text-center">
                <h1><b>Galeria de {{infante.nombre}}</b></h1>
            </div>
            <div class="ibox-content">

                <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover dataTables-example" >
            <thead>
            <tr>
                <th >ID</th>
                <th >foto</th>
                <th >nombre</th>
                <th >categoria</th>

                <th class="text-center">Publicacion</th>
                <th class="text-center">Eliminar</th>
            </tr>
            </thead>
            <tbody>
              {% for j in juguetes %}
                <tr >
                    <td>{{j.0.id}}</td>
                    <td><img id="a{{j.0.id}}" style="width:90%" src="{{j.0.foto.url}}"></td>
                    <script>
                      var width=(screen.width/8);
                      document.getElementById("a{{j.0.id}}").style.maxWidth=width+"px";
                    </script>
                    <td>{{j.0.nombre}}</td>
                    <td>{{j.0.get_categoria_display}}</td>
                    {% if j.1 != None %}
                      <td class="text-center"><a href="{% url 'eliminar_publicacion' j.0.id infante.id %}" class="btn btn-info" role="button">Eliminar Publicación</a></td>
                    {% else %}
                      <td class="text-center"><font color="blue">-- Sin Publicar --</font></td>
                    {% endif %}

                    <td class="text-center"><a href="{% url 'eliminar_juguete' j.0.id infante.id %}" class="btn btn-info" role="button">Eliminar juguete</a></td>

                </tr>
              {% endfor %}
            </tbody>

            </table>
                </div>

            </div>
        </div>
    </div>
    </div>
</div>

{% endblock %}


{% block codigo_js %}




<script src="{% static 'Plantilla_Sistema/js/plugins/dataTables/datatables.min.js' %}"></script>


<!-- Page-Level Scripts -->
<script>
    $(document).ready(function(){
        $('.dataTables-example').DataTable({
            pageLength: 25,
            responsive: true,
            dom: '<"html5buttons"B>lTfgitp',
            buttons: [
                { extend: 'copy'},
                {extend: 'csv'},
                {extend: 'excel', title: 'ExampleFile'},
                {extend: 'pdf', title: 'ExampleFile'},

                {extend: 'print',
                 customize: function (win){
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                }
                }
            ]

        });

    });

</script>


{% endblock %}
