{% extends 'galerias/galeria_apoderado.html' %}
{% load static %}
{% load bootstrap %}

{% block menu%}
  <li>
      <a href="{% url 'inicio_ap' %}"><i class="fa fa-child"></i> <span class="nav-label">Mis niños</span></a>
  </li>
  <li>
      <a href="{% url 'intercambios_a_concretar' %}"><i class="fa fa-exchange"></i> <span class="nav-label">Intercambios a concretar</span><span id="n_cierres" class="label label-info pull-right"></span></a>
  </li>
  <li >
      <a href="{% url 'galeria_ap' galeria.infante.id %}"><i class="fa fa-picture-o"></i> <span class="nav-label">Galería</span></a>
  </li>
  {% endblock %}

  {% block contenido %}

  <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-lg-12">
            <h2>Configuración de Galería</h2>
            <ol class="breadcrumb">
                <a href="{% url 'galeria_ap' galeria.infante.id %}" class="btn btn-primary" role="button">Volver</a>
            </ol>
      </div>
  </div>

  <div class="wrapper wrapper-content">
            <div class="row ">
                <div class="col-lg-12">
                <div class="ibox float-e-margins">

                    <div class="ibox-content">

                        <h2>Limite actual de juguetes: <strong>{{galeria.limiteProductos}}</strong></h2>


                        <div class="lightBoxGallery text-center">
                          <form  method="post" >
                            {% csrf_token %}

                            {{ form|bootstrap }}


                            <button type="submit" class="btn btn-primary">Aceptar</button>
                          </form>
                        </div>

                    </div>
                </div>
            </div>
            </div>
        </div>
  {% endblock %}

  {% block codigo_js %}

  <!-- cierres pendientes: -->
  <script>
  $.ajax({
    type: "POST",
    url:"{% url 'cierresPendientes' %}",
    data:{
      csrfmiddlewaretoken:"{{ csrf_token }}",
      rutApoderado:"{{apoderado.rut}}"
    },

    success: function(response){
      $("#n_cierres").html("");
      $("#n_cierres").append(''+response.numero+'');
    }
  })
  </script>

  {% endblock %}

<script src="{% static 'Plantilla_Sistema/js/plugins/blueimp/jquery.blueimp-gallery.min.js' %}"></script>
