{% extends 'indexs/index_apoderado.html' %}
{% load static %}

{% block menu%}
  <li>
      <a href="{% url 'inicio_ap' %}"><i class="fa fa-child"></i> <span class="nav-label">Mis niños</span></a>
  </li>
  <li>
      <a href="{% url 'intercambios_a_concretar' %}"><i class="fa fa-exchange"></i> <span class="nav-label">Intercambios a concretar</span><span id="n_cierres" class="label label-info pull-right"></span></a>
  </li>
  <li class="active">
      <a href="index.html"><i class="fa fa-list-ul"></i> <span class="nav-label">Categorias</span> <span class="fa arrow"></span></a>
      <ul class="nav nav-second-level">
        <li><a href="#" id="todo"><i class="fa fa-th"></i>Más Recientes</li>
        <li><a href="#" id="DV"><i class="fa fa-soccer-ball-o"></i>Deportivos y vehículos</a></li>
        <li><a href="#" id="LL"><i class="fa fa-book"></i>Libros</a></li>
        <li><a href="#" id="RM"><i class="fa fa-cogs"></i>Robot y mecánicos</a></li>
        <li><a href="#" id="MC"><i class="fa fa-female"></i>Muñecas y accesorios</a></li>
        <li><a href="#" id="FM"><i class="fa fa-male"></i>Figuras y muñecos de acción</a></li>
        <li><a href="#" id="PM"><i class="fa fa-paw"></i>Peluches y muñecos de trapo</a></li>
        <li><a href="#" id="AV"><i class="fa fa-truck"></i>Autos y vehículos en miniatura</a></li>
        <li><a href="#" id="TA"><i class="fa fa-road"></i>Trenes y accesorios</a></li>
        <li><a href="#" id="AA"><i class="fa fa-flag-checkered"></i>Autopista y accesorios</a></li>
        <li><a href="#" id="HH"><i class="fa fa-wrench"></i>Herramientas</a></li>
        <li><a href="#" id="MM"><i class="fa fa-pencil"></i>Materiales</a></li>
        <li><a href="#" id="CA"><i class="fa fa-cubes"></i>Construcción, acoplamientos y "kits"</a></li>
        <li><a href="#" id="IV"><i class="fa fa-cutlery"></i>Imitación de la vida</a></li>
        <li><a href="#" id="MU"><i class="fa fa-music"></i>Musicales</a></li>
        <li><a href="#" id="AV"><i class="fa fa-camera"></i>Audio-visual</a></li>
        <li><a href="#" id="CT"><i class="fa fa-flask"></i>Ciencia y tecnología</a></li>
        <li><a href="#" id="PR"><i class="fa fa-puzzle-piece"></i>Puzzles y rompecabeza</a></li>
        <li><a href="#" id="MA"><i class="fa fa-delicious"></i>Juego de mesa y azar</a></li>
        <li><a href="#" id="VO"><i class="fa fa-gamepad"></i>Videoconsola y ordenador</a></li>
        <li><a href="#" id="CC"><i class="fa fa-phone"></i>Comunicación</a></li>
        <li><a href="#" id="PH"><i class="fa fa-crosshairs"></i>Puntería y habilidad</a></li>
        <li><a href="#" id="AE"><i class="fa fa-sign-in"></i>Arrastre y empuje</a></li>
        <li><a href="#" id="OV"><i class="fa fa-plane"></i>Voladores</a></li>
        <li><a href="#" id="DA"><i class="fa fa-github-alt"></i>Disfraces y accesorios</a></li>
        <li><a href="#" id="TT"><i class="fa fa-child"></i>Títeres y teatro</a></li>
      </ul>
  </li>
  {% endblock %}

  {% block contenido %}

  <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-lg-12">
            <h2>Galeria de {{infante.nombre}} - [ <strong>{{juguetes_num}}</strong>/{{galeria.limiteProductos}} Juguetes registrados ]</h2>
            <ol class="breadcrumb">
              {% if juguetes_num < galeria.limiteProductos %}
                <a href="{% url 'producto_reg' galeria.id %}" class="btn btn-primary" role="button">Registrar un Juguete</a>
              {% else %}
                <a href="#" class="btn btn-primary disabled" role="button">Registrar un Juguete</a>
              {% endif %}
                <a href="{% url 'galeria_config' galeria.id %}" class="btn btn-primary" role="button">Configurar galeria</a>

            </ol>
      </div>
  </div>

  <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                <div class="ibox float-e-margins">

                    <div class="ibox-content">

                        <h2>Juguetes publicados para intercambiar: <b>{{numJuguetesRegistrados}} Juguetes</b></h2>
                        <p>
                            Categoria: <strong id="categoria">Todos</strong>
                        </p>

                        <div id="JuPublicados" class="lightBoxGallery">
                          {% if  productos_D %}
                            {% for producto in productos_D %}
                              <a href="{% url 'verProducto_ap' producto.id galeria.id %}" title="{{producto.nombre}}" data-gallery=""><img src="{{producto.foto.url}}" style="width:30%"></a>
                            {% endfor %}
                          {% else %}
                              <h2> No hay juguetes publicados para intercambiar </h2>
                          {% endif %}

                            <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
                            <div id="blueimp-gallery" class="blueimp-gallery">
                                <div class="slides"></div>
                                <h3 class="title"></h3>
                                <a class="prev"></a>
                                <a class="next"></a>
                                <a class="close"></a>
                                <a class="play-pause"></a>
                                <ol class="indicator"></ol>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            </div>

            <div class="row">
                <div class="col-lg-12">
                <div class="ibox float-e-margins">

                    <div class="ibox-content">

                        <h2>Juguetes No publicados <b>{{numJuguetesNoRegistrados}} Juguetes</b></h2>
                        <p>
                            Categoria: <strong id="categoria2">Todos</strong>
                        </p>

                        <div id="NoJuPublicados" class="lightBoxGallery">
                            {% if  productos_ND %}
                              {% for producto in productos_ND %}
                                <a href="{% url 'verProducto_ap' producto.id galeria.id %}" title="{{producto.nombre}}" data-gallery=""><img src="{{producto.foto.url}}" style="width:30%"></a>
                              {% endfor %}
                            {% else %}
                                <h2> Aún no se han registrado juguetes </h2>
                            {% endif %}
                            <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
                            <div id="blueimp-gallery" class="blueimp-gallery">
                                <div class="slides"></div>
                                <h3 class="title"></h3>
                                <a class="prev"></a>
                                <a class="next"></a>
                                <a class="close"></a>
                                <a class="play-pause"></a>
                                <ol class="indicator"></ol>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            </div>

        </div>
  {% endblock %}

<script src="{% static 'Plantilla_Sistema/js/plugins/blueimp/jquery.blueimp-gallery.min.js' %}"></script>

{% block codigo_js %}

<script>

$.ajax({
  type: "POST",
  url:"{% url 'cierresPendientes' %}",
  data:{
    csrfmiddlewaretoken:"{{ csrf_token }}",
    rutApoderado:"{{apoderado.rut}}"
  },

  success: function(response){
    $("#n_cierres").html("");
    $("#n_cierres").append(''+response.numero+'');
  }
})

$.ajax({
  type: "POST",
  url:"{% url 'filtrarGaleria' infante.id %}",
  data:{
    csrfmiddlewaretoken:"{{ csrf_token }}",
    filtro: 'todo'
  },

  success: function(response){
    actualizar(response);
  },
})
</script>
<script>

function actualizar(response){
  $("#JuPublicados").html("");

  if(response.largoD>0){
    for(i=0;i<response.largoD;i++){
      var a="/producto/verProducto_ap/"
      var Pid=response.P_disponibles[i][0];
      var b="/{{galeria.id}}"
      var url1=a.concat(Pid);
      var url=url1.concat(b)
      console.log(url)

      $("#JuPublicados").append(''+
      '<a href="'+url+'" title="'+response.P_disponibles[i][2]+'"><img src="'+response.P_disponibles[i][1]+'" style="max-width:33%; max-height:'+(screen.height/3)+'px;">'+
      '</a>');

    }
  }
  else{
    $("#JuPublicados").append(''+
    '<h2> Aún no se han registrado juguetes </h2>');
  }


  $("#NoJuPublicados").html("");
  if(response.largoND>0){
    for(i=0;i<response.largoND;i++){
      var a="/producto/verProducto_ap/"
      var Pid=response.P_Nodisponibles[i][0];
      var b="/{{galeria.id}}"
      var url1=a.concat(Pid);
      var url=url1.concat(b)
      console.log(url)

      $("#NoJuPublicados").append(''+
      '<a href="'+url+'" title="'+response.P_Nodisponibles[i][2]+'"><img src="'+response.P_Nodisponibles[i][1]+'" style="max-width:33%; max-height:'+(screen.height/3)+'px;">'+
      '</a>');

    }
  }
  else{
    $("#NoJuPublicados").append(''+
    '<h2> Aún no se han registrado juguetes </h2>');
  }

}


$(document).on('click','#todo',function(){
  $.ajax({
    type: "POST",
    url:"{% url 'filtrarGaleria' infante.id %}",
    data:{
      csrfmiddlewaretoken:"{{ csrf_token }}",
      filtro: 'todo'
    },

    success: function(response){
      actualizar(response);
      $("#categoria2").html("");
      $("#categoria2").append("Más recientes");
      $("#categoria").html("");
      $("#categoria").append("Más recientes");
    },
  })
});

$(document).on('click','#DV',function(){
  $.ajax({
    type: "POST",
    url:"{% url 'filtrarGaleria' infante.id %}",
    data:{
      csrfmiddlewaretoken:"{{ csrf_token }}",
      filtro: 'DV'
    },

    success: function(response){
      actualizar(response);
      $("#categoria2").html("");
      $("#categoria2").append("Deportivos y vehículos");
      $("#categoria").html("");
      $("#categoria").append("Deportivos y vehículos");
    },
  })
});

$(document).on('click','#LL',function(){
  $.ajax({
    type: "POST",
    url:"{% url 'filtrarGaleria' infante.id %}",
    data:{
      csrfmiddlewaretoken:"{{ csrf_token }}",
      filtro: 'LL'
    },

    success: function(response){
      actualizar(response);
      $("#categoria2").html("");
      $("#categoria2").append("Libros");
      $("#categoria").html("");
      $("#categoria").append("Libros");
    },
  })
});

$(document).on('click','#RM',function(){
  $.ajax({
    type: "POST",
    url:"{% url 'filtrarGaleria' infante.id %}",
    data:{
      csrfmiddlewaretoken:"{{ csrf_token }}",
      filtro: 'RM'
    },

    success: function(response){
      actualizar(response);
      $("#categoria2").html("");
      $("#categoria2").append("Robot y mecánicos");
      $("#categoria").html("");
      $("#categoria").append("Robot y mecánicos");
    },
  })
});

$(document).on('click','#MC',function(){
  $.ajax({
    type: "POST",
    url:"{% url 'filtrarGaleria' infante.id %}",
    data:{
      csrfmiddlewaretoken:"{{ csrf_token }}",
      filtro: 'MC'
    },

    success: function(response){
      actualizar(response);
      $("#categoria").html("");
      $("#categoria").append("Muñecas y accesorios");
      $("#categoria2").html("");
      $("#categoria2").append("Muñecas y accesorios");
    },
  })
});

$(document).on('click','#FM',function(){
  $.ajax({
    type: "POST",
    url:"{% url 'filtrarGaleria' infante.id %}",
    data:{
      csrfmiddlewaretoken:"{{ csrf_token }}",
      filtro: 'FM'
    },

    success: function(response){
      actualizar(response);
      $("#categoria").html("");
      $("#categoria").append("Figuras y muñecos de acción");
      $("#categoria2").html("");
      $("#categoria2").append("Figuras y muñecos de acción");
    },
  })
});

$(document).on('click','#PM',function(){
  $.ajax({
    type: "POST",
    url:"{% url 'filtrarGaleria' infante.id %}",
    data:{
      csrfmiddlewaretoken:"{{ csrf_token }}",
      filtro: 'PM'
    },

    success: function(response){
      actualizar(response);
      $("#categoria").html("");
      $("#categoria").append("Peluches y muñecos de trapo");
      $("#categoria2").html("");
      $("#categoria2").append("Peluches y muñecos de trapo");
    },
  })
});

$(document).on('click','#AV',function(){
  $.ajax({
    type: "POST",
    url:"{% url 'filtrarGaleria' infante.id %}",
    data:{
      csrfmiddlewaretoken:"{{ csrf_token }}",
      filtro: 'AV'
    },

    success: function(response){
      actualizar(response);
      $("#categoria").html("");
      $("#categoria").append("Autos y vehículos en miniatura");
      $("#categoria2").html("");
      $("#categoria2").append("Autos y vehículos en miniatura");
    },
  })
});

$(document).on('click','#TA',function(){
  $.ajax({
    type: "POST",
    url:"{% url 'filtrarGaleria' infante.id %}",
    data:{
      csrfmiddlewaretoken:"{{ csrf_token }}",
      filtro: 'TA'
    },

    success: function(response){
      actualizar(response);
      $("#categoria").html("");
      $("#categoria").append("Trenes y accesorios");
      $("#categoria2").html("");
      $("#categoria2").append("Trenes y accesorios");
    },
  })
});

$(document).on('click','#AA',function(){
  $.ajax({
    type: "POST",
    url:"{% url 'filtrarGaleria' infante.id %}",
    data:{
      csrfmiddlewaretoken:"{{ csrf_token }}",
      filtro: 'AA'
    },

    success: function(response){
      actualizar(response);
      $("#categoria").html("");
      $("#categoria").append("Autopista y accesorios");
      $("#categoria2").html("");
      $("#categoria2").append("Autopista y accesorios");
    },
  })
});

$(document).on('click','#HH',function(){
  $.ajax({
    type: "POST",
    url:"{% url 'filtrarGaleria' infante.id %}",
    data:{
      csrfmiddlewaretoken:"{{ csrf_token }}",
      filtro: 'HH'
    },

    success: function(response){
      actualizar(response);
      $("#categoria").html("");
      $("#categoria").append("Herramientas");
      $("#categoria2").html("");
      $("#categoria2").append("Herramientas");
    },
  })
});

$(document).on('click','#MM',function(){
  $.ajax({
    type: "POST",
    url:"{% url 'filtrarGaleria' infante.id %}",
    data:{
      csrfmiddlewaretoken:"{{ csrf_token }}",
      filtro: 'MM'
    },

    success: function(response){
      actualizar(response);
      $("#categoria").html("");
      $("#categoria").append("Materiales");
      $("#categoria2").html("");
      $("#categoria2").append("Materiales");
    },
  })
});

$(document).on('click','#CA',function(){
  $.ajax({
    type: "POST",
    url:"{% url 'filtrarGaleria' infante.id %}",
    data:{
      csrfmiddlewaretoken:"{{ csrf_token }}",
      filtro: 'CA'
    },

    success: function(response){
      actualizar(response);
      $("#categoria").html("");
      $("#categoria").append("Construcción, acoplamientos y 'kits'");
      $("#categoria2").html("");
      $("#categoria2").append("Construcción, acoplamientos y 'kits'");
    },
  })
});

$(document).on('click','#IV',function(){
  $.ajax({
    type: "POST",
    url:"{% url 'filtrarGaleria' infante.id %}",
    data:{
      csrfmiddlewaretoken:"{{ csrf_token }}",
      filtro: 'IV'
    },

    success: function(response){
      actualizar(response);
      $("#categoria").html("");
      $("#categoria").append("Imitación de la vida");
      $("#categoria2").html("");
      $("#categoria2").append("Imitación de la vida");
    },
  })
});

$(document).on('click','#MU',function(){
  $.ajax({
    type: "POST",
    url:"{% url 'filtrarGaleria' infante.id %}",
    data:{
      csrfmiddlewaretoken:"{{ csrf_token }}",
      filtro: 'MU'
    },

    success: function(response){
      actualizar(response);
      $("#categoria").html("");
      $("#categoria").append("Musicales");
      $("#categoria2").html("");
      $("#categoria2").append("Musicales");
    },
  })
});

$(document).on('click','#AV',function(){
  $.ajax({
    type: "POST",
    url:"{% url 'filtrarGaleria' infante.id %}",
    data:{
      csrfmiddlewaretoken:"{{ csrf_token }}",
      filtro: 'AV'
    },

    success: function(response){
      actualizar(response);
      $("#categoria").html("");
      $("#categoria").append("Audio-visual");
      $("#categoria2").html("");
      $("#categoria2").append("Audio-visual");
    },
  })
});

$(document).on('click','#CT',function(){
  $.ajax({
    type: "POST",
    url:"{% url 'filtrarGaleria' infante.id %}",
    data:{
      csrfmiddlewaretoken:"{{ csrf_token }}",
      filtro: 'CT'
    },

    success: function(response){
      actualizar(response);
      $("#categoria").html("");
      $("#categoria").append("Ciencia y tecnología");
      $("#categoria2").html("");
      $("#categoria2").append("Ciencia y tecnología");
    },
  })
});

$(document).on('click','#PR',function(){
  $.ajax({
    type: "POST",
    url:"{% url 'filtrarGaleria' infante.id %}",
    data:{
      csrfmiddlewaretoken:"{{ csrf_token }}",
      filtro: 'PR'
    },

    success: function(response){
      actualizar(response);
      $("#categoria").html("");
      $("#categoria").append("Puzzles y rompecabeza");
      $("#categoria2").html("");
      $("#categoria2").append("Puzzles y rompecabeza");
    },
  })
});

$(document).on('click','#MA',function(){
  $.ajax({
    type: "POST",
    url:"{% url 'filtrarGaleria' infante.id %}",
    data:{
      csrfmiddlewaretoken:"{{ csrf_token }}",
      filtro: 'MA'
    },

    success: function(response){
      actualizar(response);
      $("#categoria").html("");
      $("#categoria").append("Juego de mesa y azar");
      $("#categoria2").html("");
      $("#categoria2").append("Juego de mesa y azar");
    },
  })
});

$(document).on('click','#VO',function(){
  $.ajax({
    type: "POST",
    url:"{% url 'filtrarGaleria' infante.id %}",
    data:{
      csrfmiddlewaretoken:"{{ csrf_token }}",
      filtro: 'VO'
    },

    success: function(response){
      actualizar(response);
      $("#categoria").html("");
      $("#categoria").append("Videoconsola y ordenador");
      $("#categoria2").html("");
      $("#categoria2").append("Videoconsola y ordenador");
    },
  })
});

$(document).on('click','#CC',function(){
  $.ajax({
    type: "POST",
    url:"{% url 'filtrarGaleria' infante.id %}",
    data:{
      csrfmiddlewaretoken:"{{ csrf_token }}",
      filtro: 'CC'
    },

    success: function(response){
      actualizar(response);
      $("#categoria").html("");
      $("#categoria").append("Comunicación");
      $("#categoria2").html("");
      $("#categoria2").append("Comunicación");
    },
  })
});

$(document).on('click','#PH',function(){
  $.ajax({
    type: "POST",
    url:"{% url 'filtrarGaleria' infante.id %}",
    data:{
      csrfmiddlewaretoken:"{{ csrf_token }}",
      filtro: 'PH'
    },

    success: function(response){
      actualizar(response);
      $("#categoria").html("");
      $("#categoria").append("Puntería y habilidad");
      $("#categoria2").html("");
      $("#categoria2").append("Puntería y habilidad");
    },
  })
});

$(document).on('click','#AE',function(){
  $.ajax({
    type: "POST",
    url:"{% url 'filtrarGaleria' infante.id %}",
    data:{
      csrfmiddlewaretoken:"{{ csrf_token }}",
      filtro: 'AE'
    },

    success: function(response){
      actualizar(response);
      $("#categoria").html("");
      $("#categoria").append("Arrastre y empuje");
      $("#categoria2").html("");
      $("#categoria2").append("Arrastre y empuje");
    },
  })
});

$(document).on('click','#OV',function(){
  $.ajax({
    type: "POST",
    url:"{% url 'filtrarGaleria' infante.id %}",
    data:{
      csrfmiddlewaretoken:"{{ csrf_token }}",
      filtro: 'OV'
    },

    success: function(response){
      actualizar(response);
      $("#categoria").html("");
      $("#categoria").append("Voladores");
      $("#categoria2").html("");
      $("#categoria2").append("Voladores");
    },
  })
});

$(document).on('click','#DA',function(){
  $.ajax({
    type: "POST",
    url:"{% url 'filtrarGaleria' infante.id %}",
    data:{
      csrfmiddlewaretoken:"{{ csrf_token }}",
      filtro: 'DA'
    },

    success: function(response){
      actualizar(response);
      $("#categoria").html("");
      $("#categoria").append("Disfraces y accesorios");
      $("#categoria2").html("");
      $("#categoria2").append("Disfraces y accesorios");
    },
  })
});

$(document).on('click','#TT',function(){
  $.ajax({
    type: "POST",
    url:"{% url 'filtrarGaleria' infante.id %}",
    data:{
      csrfmiddlewaretoken:"{{ csrf_token }}",
      filtro: 'TT'
    },

    success: function(response){
      actualizar(response);
      $("#categoria").html("");
      $("#categoria").append("Títeres y teatro");
      $("#categoria2").html("");
      $("#categoria2").append("Títeres y teatro");
    },
  })
});




</script>
{% endblock %}
