{% extends 'usuarios/registro/register_base.html' %}
{% load bootstrap %}

{% block Titulo %}

  <h3>Registro Niño</h3>
  <p>Ingrese los datos de ususario y luego los datos personales</p>

{% endblock%}

{% block datos %}
<form  method="post" enctype="multipart/form-data">
  {% csrf_token %}

  {{ usuario_form|bootstrap }}

  <div class="form-group">
    <h3>{{infante_form.foto.label}}</h3>
    {{ infante_form.foto }}
  </div>

  <div class="form-group">
    <h3>{{infante_form.nombre.label}}</h3>
    {{ infante_form.nombre }}
  </div>

  <div class="form-group">
    <h3>{{infante_form.edad.label}}</h3>
    {{ infante_form.edad }}
  </div>

  <button type="submit" class="btn btn-primary block full-width m-b">Registrar</button>
</form>

{% endblock %}
