{% extends 'usuarios/registro/register_base.html' %}
{% load bootstrap %}

{% block Titulo %}

  <h3>Registro Entidad</h3>
  <p>Ingrese los datos institucionales.</p>

{% endblock%}

{% block datos %}
<form  method="post" enctype="multipart/form-data">

{% csrf_token %}

  <div class="form-group">
    <h3>{{form.nombre.label}}</h3>
    {{ form.nombre }}
  </div>

  <div class="form-group">
    <h3>{{form.email.label}}</h3>
    {{ form.email }}
  </div>

  <div class="form-group">
    <h3>{{form.pagina.label}}</h3>
    {{ form.pagina }}
  </div>

  <h3>Seleccione medio de pago_</h3>
  <div class="panel-group payments-method" id="accordion">
      <div class="panel panel-default">
          <div data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="panel-heading">
              <div class="pull-right">
                  <i class="fa fa-cc-paypal text-success"></i>
              </div>
              <h5 class="panel-title">
                  <a >PayPal</a>
              </h5>
          </div>
          <div id="collapseOne" class="panel-collapse collapse">
              <div class="panel-body">

                  <div class="row">
                      <div class="col-md-12 text-center">
                          <strong>Servicio:</strong>: <br/> <span class="text-navy">Analisis en preferencias de juguetes </span><br/>
                          <strong>Precio:</strong>: <span class="text-navy">$90.000 CLP</span>

                          <p class="m-t">
                              <strong>Este servicio cuenta con:</strong><br/>
                              > <span class="text-navy">Número de intercambios por sector</span><br/>
                              > <span class="text-navy">Ranking de categorías preferidas por sector</span><br/>
                              > <span class="text-navy">Juguetes intercambiados por sector</span><br/>
                          </p>

                          <a class="btn btn-success">
                              <i class="fa fa-cc-paypal">
                                  Pagar vía PayPal
                              </i>
                          </a>

                      </div>

                  </div>


                   </div>
          </div>
      </div>
      <div class="panel panel-default">
          <div data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="panel-heading">
              <div class="pull-right">
                  <i class="fa fa-cc-visa text-success"></i>
                  <i class="fa fa-cc-amex text-danger"></i>
                  <i class="fa fa-cc-mastercard text-warning"></i>
                  <i class="fa fa-cc-discover text-danger"></i>
              </div>
              <h5 class="panel-title">
                  <a >Tarjeta de Crédito</a>
              </h5>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse ">
              <div class="panel-body">

                  <div class="row">
                      <div class="col-md-12 text-center">

                        <strong>Servicio:</strong>: <br/> <span class="text-navy">Analisis en preferencias de juguetes </span><br/>
                        <strong>Precio:</strong>: <span class="text-navy">$90.000 CLP</span>

                        <p class="m-t">
                            <strong>Este servicio cuenta con:</strong><br/>
                            > <span class="text-navy">Número de juguetes intercambiados por sector</span><br/>
                            > <span class="text-navy">Ranking de categorías preferidas por sector</span><br/>
                            > <span class="text-navy">Juguetes intercambiados por sector</span><br/>
                        </p>
                      </div>
                      <div class="col-md-12">

                          <form role="form" id="payment-form">
                              <div class="row">
                                  <div class="col-xs-12">
                                      <div class="form-group">
                                          <label>NUMERO DE TARJETA</label>
                                          <div class="input-group">
                                              <input type="text" class="form-control" name="Number" placeholder="Ingrese datos" required />
                                              <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-xs-7 col-md-7">
                                      <div class="form-group">
                                          <label>FECHA DE CADUCIDAD</label>
                                          <input type="text" class="form-control" name="Expiry" placeholder="Ingrese datos"  required/>
                                      </div>
                                  </div>
                                  <div class="col-xs-5 col-md-5 pull-right">
                                      <div class="form-group">
                                          <label>CÓDIGO CV</label>
                                          <input type="text" class="form-control" name="CVC" placeholder="Ingrese datos"  required/>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-xs-12">
                                      <div class="form-group">
                                          <label>NOMBRE DE TARJETA</label>
                                          <input type="text" class="form-control" name="nameCard" placeholder="Ingrese datos"/>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-xs-12">
                                      <button class="btn btn-primary" >Pagar</button>
                                  </div>
                              </div>
                          </form>

                      </div>

                  </div>






              </div>
          </div>
      </div>
  </div>

  <!-- <button type="submit" class="btn btn-primary block full-width m-b">Registrarme</button> -->



  </form>


{% endblock %}
