{% load static %}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Registro InformaDivertido</title>

    <link href="{% static 'Plantilla_Sistema/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'Plantilla_Sistema/font-awesome/css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'Plantilla_Sistema/css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'Plantilla_Sistema/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'Plantilla_Sistema/css/plugins/iCheck/custom.css' %}" rel="stylesheet">

    {% block estilos %}

    {% endblock %}

</head>

<body class="fondoEstatico">


    <div class="middle-box text-center loginscreen   animated fadeInDown">
        <div>
            <div>
                <img alt="image" class="logo-name" src="{% static 'img/logos/logo_informadiviertido.png' %}" />
                <h2>InformaDivertido</h2>

            </div>
            {% block Titulo %}

            <h3>Register to IN+</h3>
            <p>Create account to see it in action.</p>

            {% endblock%}

            {% block datos %}
            <form  method="post">
              {% csrf_token %}

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Name" required="">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email" required="">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" required="">
                </div>
                <div class="form-group">
                        <div class="checkbox i-checks"><label> <input type="checkbox"><i></i> Agree the terms and policy </label></div>
                </div>


                <button type="submit" class="btn btn-primary block full-width m-b">Registrarme</button>


                <p class="text-muted text-center"><small>Ya tienes una cuenta?</small></p>
                <a class="btn btn-sm btn-white btn-block" href="login.html">Iniciar sesión</a>
            </form>
            {% endblock %}
            <p class="m-t"> <small>Copyright &copy; Your Website 2018</small> </p>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="{% static 'Plantilla_Sistema/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'Plantilla_Sistema/js/bootstrap.min.js' %}"></script>

    <!-- iCheck -->
    <script src="{% static 'Plantilla_Sistema/js/plugins/iCheck/icheck.min.js' %}"></script>
    <script>
        $(document).ready(function(){
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>
</body>

</html>
