{% extends 'usuarios/registro/register_base.html' %}
{% load bootstrap %}

{% block Titulo %}

  <h3>Registro</h3>
  <p>Seleccione el tipo de usuario e ingrese los datos.</p>

{% endblock%}

{% block datos %}
<form  method="post" >
{% csrf_token %}

{{ form|bootstrap }}

<button type="submit" class="btn btn-primary block full-width m-b">Registrarme</button>
</form>

{% endblock %}
