{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>¡Descubre y juega!</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'Plantilla_Landing/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'Plantilla_Landing/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'Plantilla_Landing/css/grayscale.min.css' %}" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">InformaDivertido</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Acerca   |</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#download">Ingresar   |</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Intro Header -->
    <header class="masthead">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h1 class="brand-heading">¡Bienvenido!</h1>
              <p class="intro-text">Te invitamos a descubrir una página dedicada a la unión de la familia a través del entretenimiento de tu hijo y toda la información que necesita saber sobre él.</p>
              <a href="#about" class="btn btn-circle js-scroll-trigger">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <h2>Nuestros servicios</h2>
          </div>
          <div class="col-lg-6 mx-auto" style="border:1px solid #42dca3;">
          <div class="col-lg-12 mx-auto" style="border-bottom:1px solid #42dca3;"><br/><h3>Apoderado</h3></div><br/>
            <h4>1- Análisis de preferencias y desarrollo de tus hijos</h4>
            <p>Por nuestro sistema de análisis podrás mantener un control y seguimiento del desarrollo de tus hijos como también de sus gustos y tendencias, y si lo deseas, podrás enviar esta información
            a quien desees conveniente, ¡ideal para recibir regalos en una fiesta de cumpleaños!.</p>
            <h4>2- Intercambio de juguetes:</h4>
            <p>Por medio de nuestro sistema de intercambio, tus hijos podrán intercambiar juguetes con otros niños,
               permitiendo a tu hijo escojer un juguete a intercambiar para que finalmente tu decidas donde y cuando concretar el intercambio.</p>
            <h4>3- Sistema de Galería con codigo QR:</h4>
            <p>Además con nuestro Sistema de Galería, tu hijo podrá ordenar de una forma divertida sus juguetes, gracias a la impresión de un codigo QR
              el cual podras ubicar en los lugares de tu casa, a la vez que nosotros le echamos una mano.</p>
          </div>
          <div class="col-lg-6 mx-auto" style="border:1px solid #42dca3;">
            <div class="col-lg-12 mx-auto" style="border-bottom:1px solid #42dca3;"><br/><h3>Entidad</h3></div><br/>
            <h4>1- Número de intercambios de juguetes por sector:</h4>
            <p>Por nuestro sistema de análisis podrás enterarte de la cantidad de juguetes que se intercambian según sector.</p>
            <h4>2- Ranking de categorías preferidas por sector:</h4>
            <p>También podrás obtener las categorías de juguetes mas solicitadas por sector.</p>
            <h4>3- Juguetes intercambiados por sector:</h4>
            <p>Además sabrás que juguetes han sido intercambiados según sector.</p>
            <p>Por lo que si eres una entidad interesada en saber las tendencias en productos infantiles, ¡no dudes en suscribirte!</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Ingresar -->
    <section id="download" class="download-section content-section text-center">
      <div class="container">
        <div class="col-lg-8 mx-auto">
          <h2>Ingresar</h2>
          <p class="texto_sesion">Te invitamos a ser parte de nuestra comunidad iniciando sesión si ya tienes una cuenta o registrándote para obtener una nueva</p>

          <div class="form-group">
              <a href="{% url 'login' %}" class="btn btn-default btn-lg">Iniciar Sesión</a>
              <!-- <a href='usuarios/login' class="btn btn-default btn-lg">Iniciar Sesión</a> -->
          </div>
          <div class="form-group">
              <a href="{% url 'registro_us' %}" class="btn btn-default btn-lg">Registrarme</a>
          </div>


        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Información de contacto</h2>
            <p>Si tienes dudas o consultas acerca de nosotros, puedes contactarnos a través de los siguientes medios</p>
            <ul class="list-inline banner-social-buttons">
              <li class="list-inline-item">
                <a href="#" class="btn btn-default btn-lg">
                  <i class="fa fa-twitter fa-fw"></i>
                  <span class="network-name">Twitter</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="btn btn-default btn-lg">
                  <i class="fa fa-github fa-fw"></i>
                  <span class="network-name">Github</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container text-center">
        <p>Copyright &copy; InformaDivertido 2018</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'Plantilla_Landing/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'Plantilla_Landing/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'Plantilla_Landing/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'Plantilla_Landing/js/grayscale.min.js' %}"></script>

  </body>

</html>
