{% extends 'usuarios/registro/register_base.html' %}
{% load bootstrap %}

{% block Titulo %}

  <h3>Modificar Juguete</h3>
  <div class="text-center">
  <img src="{{producto.foto.url}}" style="max-width: 500px;">
  </div>
  <p>Ingrese los datos a modificar.</p>

{% endblock%}

{% block datos %}
<form  method="post" enctype="multipart/form-data">
{% csrf_token %}

{{ form|bootstrap }}

<button type="submit" class="btn btn-primary block full-width m-b">Modificar Juguete</button>
{% if usuario.tipo == 'AP' %}
  <a href="{% url 'verProducto_ap' producto.id id_galeria %}" class="btn btn-primary" role="button">Volver</a>
{% else %}
  <a href="{% url 'verProducto_in' producto.id id_galeria %}" class="btn btn-primary" role="button">Volver</a>
{% endif %}
</form>

{% endblock %}
