{% extends 'usuarios/registro/register_base.html' %}
{% load bootstrap %}

{% block Titulo %}

  <h3>Registro de Juguete</h3>
  <p>Ingrese los datos.</p>

{% endblock%}

{% block datos %}
<form  method="post" enctype="multipart/form-data">
{% csrf_token %}

{{ form|bootstrap }}

<button type="submit" class="btn btn-primary block full-width m-b">Registrar Juguete</button>
</form>

{% endblock %}
