{% extends 'indexs/index_infante.html' %}
{% load static %}

{% block estilos %}
  <style>
    #perfil {
      max-width: 20vw;
      max-height: 20vh;
    }

    #perfil_logo {
      max-width: 10vw;
      max-height: 10vh;
    }
    #galeria_detalle {
      max-width: 40vw;
      max-height: 40vh;
    }
  </style>

{% endblock %}

{% block menu%}
  <li >
      <a href="{% url 'galeria_in' infante.id %}"><i class="fa fa-picture-o"></i> <span class="nav-label">Galería</span></a>
  </li>
  <li >
      <a href="{% url 'intercambio_in'%}"><i class="fa fa-exchange"></i> <span class="nav-label">Intercambio</span></a>
  </li>
  <li>
      <a href="{% url 'VerAnalisis_in'%}"><i class="fa fa-id-card-o"></i> <span class="nav-label">Mi perfil</span></a>
  </li>
  <li>
      <a href="{% url 'verDeseados' infante.id 1 %}"><i class="fa fa-send-o"></i> <span class="nav-label">Solicitudes enviadas</span></a>
  </li>
  <li>
      <a href="{% url 'recibido' infante.id 1 %}"><i class="fa fa-envelope"></i> <span class="nav-label">Solicitudes recibidas</span><span id="n_recividas" class="label label-info pull-right"></span></a>
  </li>

{% endblock %}

{% block contenido %}
<!-- bloque cabecilla -->
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox-content">
        <div class="text-center">
          <h2>{{producto.nombre}}</h2>
        </div>
          <ol class="breadcrumb">
              <input type="button" class="btn btn-primary" id="btnConfigPublicar" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#exampleModalLong" value="Publicar para intercambiar"></input>
              <a href="{% url 'editarProducto' producto.id galeria %}" class="btn btn-primary" role="button">Modificar Juguete</a>

              <!-- Modal publicar -->
              <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="mensaje1 modal-content">
                    <div class="modal-header">
                      <h1 class="text-center modal-title" id="exampleModalLongTitle">#</h1>
                    </div>
                    <div class="text-center modal-body">
                      <h2>#</h2>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>
                    </div>
                  </div>
                </div>
              </div>

          </ol>
      </div>
    </div>
  </div>
</div>

<div class="row  border-bottom white-bg dashboard-header">

                  <div class="col-md-3">
                    <div class="statistic-box">
                      <div class="text-center">
                        <h2>{{producto.nombre}}</h2>
                        <small>---Información---</small>
                      </div>
                      <ul class="list-group clear-list m-t">
                          <li class="list-group-item fist-item">
                            <span class="pull-right">
                              {{producto.get_categoria_display}}
                            </span>
                            <span class="label label-info pull-left">1</span> <strong>Categoria:</strong>
                          </li>
                          <li class="list-group-item fist-item">
                            <span class="DisponibleEstado pull-right">
                              {% if producto.Disponible_a_intercambio %}
                                Si
                              {% else %}
                                No
                              {% endif %}
                            </span>
                            <span class="label label-info pull-left">2</span> <strong>Disponible al inercambio:</strong>
                          </li>
                          <li class="list-group-item fist-item">
                            <span class="pull-right">
                              {% if producto.estado == None %}
                                --------
                              {% else %}
                                {{producto.estado}}
                              {% endif %}
                            </span>
                            <span class="label label-info pull-left">3</span> <strong>Estado:</strong>
                          </li>
                          <li class="list-group-item fist-item">
                            <span class="pull-right">
                              {% if producto.marca == None %}
                              --------
                              {% else %}
                                {{producto.marca}}
                              {% endif %}
                            </span>
                            <span class="label label-info pull-left">4</span> <strong>Marca:</strong>
                          </li>
                          <li class="list-group-item fist-item">
                            <span class="pull-right">
                              {% if producto.modelo == None %}
                              --------
                              {% else %}
                                {{producto.modelo}}
                              {% endif %}
                            </span>
                            <span class="label label-info pull-left">5</span> <strong>Modelo:</strong>
                          </li>
                          <li class="list-group-item fist-item">
                            <span class="pull-right">
                              {% if producto.serie == None %}
                              --------
                              {% else %}
                                {{producto.serie}}
                              {% endif %}
                            </span>
                            <span class="label label-info pull-left">6</span> <strong>Numero de Serie:</strong>
                          </li>
                          <li class="list-group-item fist-item">
                            <span class="pull-right">
                              {% if producto.anno == None %}
                              --------
                              {% else %}
                                {{producto.anno}}
                              {% endif %}
                            </span>
                            <span class="label label-info pull-left">7</span> <strong>Año:</strong>
                          </li>
                          <li class="list-group-item fist-item">
                            <span class="pull-right">
                              {% if producto.tamano == None %}
                              --------
                              {% else %}
                                {{producto.tamano}}
                              {% endif %}
                            </span>
                            <span class="label label-info pull-left">8</span> <strong>Tamaño:</strong>
                          </li>
                          <li class="list-group-item fist-item">
                            <span class="pull-right">
                              {% if producto.material == None %}
                              --------
                              {% else %}
                                {{producto.material}}
                              {% endif %}
                            </span>
                            <span class="label label-info pull-left">9</span> <strong>Material:</strong>
                          </li>
                      </ul>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="statistic-box text-center">
                    <h2>
                        Foto
                    </h2>
                        <div class="row text-center">
                          <a href="{{producto.foto.url}}" title="{{producto.nombre}}" data-gallery=""><img src="{{producto.foto.url}}" id="galeria_detalle"></a>
                            <!-- <img src="{{producto.foto.url}}"> -->
                        </div>
                        <div class="m-t">
                            <!-- <small>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small> -->
                        </div>

                    </div>
                  </div>
                  <div class="col-md-3">
                      <div class="statistic-box text-center">
                      <h2>
                          Código QR
                      </h2>
                      <p>
                          Puedes imprimir este código para utilizarlo como guía de una galeria fisica para tu hijo
                      </p>
                          <div class="row text-center">
                              <img src="{{producto.QR.url}}" id="galeria_detalle">
                          </div>
                          <a href="{{producto.QR.url}}" download><i class="fa fa-download"></i> <span class="nav-label">Descargar código QR</span></a>
                          <div class="m-t">
                              <small>Para la lectura del código, es necesario utilizar una aplicación móbil. Recomendamos utilizar Lightning QR para Android</small>
                          </div>

                      </div>
                  </div>

          </div>

          <!-- Historial -->
      <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
          <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Historial</h5>
                    </div>
                    <div class="ibox-content">

                        <table class="table">
                            <thead>
                            <tr>
                                <th>Caracteristica</th>
                                <th>Datos</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>N° Veces Intercambiado</td>
                                <td>{{historial.Intercambiado}}</td>
                            </tr>
                            <tr>
                                <td>Fecha de Adquisición</td>
                                <td>{{historial.Adquisicion}}</td>
                            </tr>
                            <tr>
                                <td>Fecha de Registro</td>
                                <td>{{historial.Registro}}</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
          </div>
        </div>
{% endblock %}

{% block codigo_js %}
<!-- Notificciones: -->
<script>
$.ajax({
  type: "POST",
  url:"{% url 'notificacionesIn' %}",
  data:{
    csrfmiddlewaretoken:"{{ csrf_token }}",
  },

  success: function(response){
    if(response.solicitudes>0){
      $("#n_recividas").html("");
      $("#n_recividas").append(''+response.solicitudes+'');
    }
  }
})
</script>

<script>
$(document).ready(function(){
  var estado = "{{ publicacion.Estado }}";
  var elem = document.getElementById("btnConfigPublicar");
  $(".DisponibleEstado").html("");

  if(estado=="Por confirmar"){
    elem.value="Cancelar publicación";
    $(".DisponibleEstado").append("Por confirmar");
  }
  else if(estado=="Publicado"){
    elem.value="Cancelar publicación";
    $(".DisponibleEstado").append("¡Publicado! <i class='fa fa-check'></i>");
  }
  else{
    elem.value="Publicar para intercambiar";
    $(".DisponibleEstado").append("No");
  }
});

</script>

<script>

$(document).on('click','#btnConfigPublicar',function(){

  var elem = document.getElementById("btnConfigPublicar");
  if(elem.value=="Publicar para intercambiar"){
    $(".mensaje1").html("");
    $(".mensaje1").append(''+
    '<div class="modal-header">'+
      '<h1 class="text-center modal-title" id="exampleModalLongTitle">Descripción de publicación</h1>'+
    '</div>'+
    '<div class="text-center modal-body">'+
      '<h2>Me gustaría intercambiar mi juguete a cambio de:</h2>'+
      '<input id="deseo" placeholder="Juguete deseado" class="form-control">'+
    '</div>'+
    '<div class="modal-footer">'+
      '<button id="btnPublicar" type="button" class="btn btn-secondary">Aceptar</button>'+
      '<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>'+
    '</div>');
    elem.value="Cancelar publicación";
  }
  else{

    $.ajax({
      type: "POST",
      url:"{% url 'publicar' %}",
      data:{
        csrfmiddlewaretoken:"{{ csrf_token }}",
        producto: "{{ producto.id }}",
        descripcion: '',
        estado:'cancelar'
      },

      success: function(response){
        $(".DisponibleEstado").html("");
        $(".DisponibleEstado").append("No");

        $(".mensaje1").html("");
        $(".mensaje1").append(''+
        '<div class="modal-header">'+
          '<h1 class="text-center modal-title" id="exampleModalLongTitle">Publicación Cancelada</h1>'+
        '</div>'+
        '<div class="text-center modal-body">'+
          '<h2>Se ha cancelado la solicitud de publicación.</h2>'+
        '</div>'+
        '<div class="modal-footer">'+
          '<button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>'+
        '</div>');
        elem.value="Publicar para intercambiar";
      },
    })


  }
});

$(document).on('click','#btnPublicar',function(){

  $.ajax({
    type: "POST",
    url:"{% url 'publicar' %}",
    data:{
      csrfmiddlewaretoken:"{{ csrf_token }}",
      producto: "{{ producto.id }}",
      descripcion: $("#deseo").val(),
      estado:'publicar',
      infante_id:"{{ infante.id }}"
    },

    success: function(response){
      var elem = document.getElementById("btnPublicar");
      Disponible="{{ producto.Disponible_a_intercambio }}";
      $(".DisponibleEstado").html("");

      $(".DisponibleEstado").append("Por confirmar");


      $(".mensaje1").html("");
      $(".mensaje1").append(''+
      '<div class="modal-header">'+
        '<h1 class="text-center modal-title" id="exampleModalLongTitle">¡Solicitud de publicación enviada!</h1>'+
      '</div>'+
      '<div class="text-center modal-body">'+
        '<h2>Se ha enviado una notificación a su apoderado para finalizar la publicación</h2>'+
      '</div>'+
      '<div class="modal-footer">'+
        '<button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>'+
      '</div>');
      elem.value="Cancelar publicación";
    },
  })
});

</script>

{% endblock %}

<script src="{% static 'Plantilla_Sistema/js/plugins/blueimp/jquery.blueimp-gallery.min.js' %}"></script>
