{% extends 'indexs/public_base.html' %}
{% load static %}

{% block estilos %}
  <style>
    #perfil {
      max-width: 20vw;
      max-height: 20vh;
    }

    #perfil_logo {
      max-width: 10vw;
      max-height: 10vh;
    }
    #galeria_detalle {
      max-width: 40vw;
      max-height: 40vh;
    }
    .btn-space {
      margin-top: 10px;
      margin-bottom: 10px;
      margin-right: 10px;
      clear: both;
    }
  </style>

{% endblock %}

{% block navbar %}
{% endblock %}


{% block contenido %}
<div class="row text-center" style="width: 90vw; margin: auto;">

  <div class="row">
      <div class="col-lg-12">
        <a href="{% url 'informaDivertido' %}" class="btn btn-warning btn-space">Ir a InformaDivertido</a>
      </div>
  </div>

  <div class="row  border-bottom white-bg dashboard-header">

                  <div class="col-md-3">
                    <div class="statistic-box">
                      <div class="text-center">
                        <h2>{{producto.nombre}}</h2>
                        <small>---Información---</small>
                      </div>
                      <ul class="list-group clear-list m-t">
                          <li class="list-group-item fist-item">
                            <span class="pull-right">
                              {{producto.get_categoria_display}}
                            </span>
                            <span class="label label-info pull-left">1</span> <strong>Categoria:</strong>
                          </li>
                          <li class="list-group-item fist-item">
                            <span class="pull-right">
                              {% if producto.Disponible_a_intercambio %}
                                Si
                              {% else %}
                                No
                              {% endif %}
                            </span>
                            <span class="label label-info pull-left">2</span> <strong>Disponible al inercambio:</strong>
                          </li>
                          <li class="list-group-item fist-item">
                            <span class="pull-right">
                              {% if producto.estado == None %}
                                --------
                              {% else %}
                                {{producto.estado}}
                              {% endif %}
                            </span>
                            <span class="label label-info pull-left">3</span> <strong>Estado:</strong>
                          </li>
                          <li class="list-group-item fist-item">
                            <span class="pull-right">
                              {% if producto.marca == None %}
                              --------
                              {% else %}
                                {{producto.marca}}
                              {% endif %}
                            </span>
                            <span class="label label-info pull-left">4</span> <strong>Marca:</strong>
                          </li>
                          <li class="list-group-item fist-item">
                            <span class="pull-right">
                              {% if producto.modelo == None %}
                              --------
                              {% else %}
                                {{producto.modelo}}
                              {% endif %}
                            </span>
                            <span class="label label-info pull-left">5</span> <strong>Modelo:</strong>
                          </li>
                          <li class="list-group-item fist-item">
                            <span class="pull-right">
                              {% if producto.serie == None %}
                              --------
                              {% else %}
                                {{producto.serie}}
                              {% endif %}
                            </span>
                            <span class="label label-info pull-left">6</span> <strong>Numero de Serie:</strong>
                          </li>
                          <li class="list-group-item fist-item">
                            <span class="pull-right">
                              {% if producto.anno == None %}
                              --------
                              {% else %}
                                {{producto.anno}}
                              {% endif %}
                            </span>
                            <span class="label label-info pull-left">7</span> <strong>Año:</strong>
                          </li>
                          <li class="list-group-item fist-item">
                            <span class="pull-right">
                              {% if producto.tamano == None %}
                              --------
                              {% else %}
                                {{producto.tamano}}
                              {% endif %}
                            </span>
                            <span class="label label-info pull-left">8</span> <strong>Tamaño:</strong>
                          </li>
                          <li class="list-group-item fist-item">
                            <span class="pull-right">
                              {% if producto.material == None %}
                              --------
                              {% else %}
                                {{producto.material}}
                              {% endif %}
                            </span>
                            <span class="label label-info pull-left">9</span> <strong>Material:</strong>
                          </li>
                      </ul>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="statistic-box text-center">
                    <h2>
                        Foto
                    </h2>
                        <div class="row text-center">
                          <a href="{{producto.foto.url}}" title="{{producto.nombre}}" data-gallery=""><img src="{{producto.foto.url}}" id="galeria_detalle"></a>
                            <!-- <img src="{{producto.foto.url}}"> -->
                        </div>
                        <div class="m-t">
                            <!-- <small>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small> -->
                        </div>

                    </div>
                  </div>
                  <div class="col-md-3">
                      <div class="statistic-box text-center">
                      <h2>
                          Código QR
                      </h2>
                      <p>
                          Puedes imprimir este código para utilizarlo como guía de una galeria fisica para tu hijo
                      </p>
                          <div class="row text-center">
                              <img src="{{producto.QR.url}}" id="galeria_detalle">
                          </div>
                          <a href="{{producto.QR.url}}" download><i class="fa fa-download"></i> <span class="nav-label">Descargar código QR</span></a>
                          <div class="m-t">
                              <small>Para la lectura del código, es necesario utilizar una aplicación móbil. Recomendamos utilizar Lightning QR para Android</small>
                          </div>

                      </div>
                  </div>

          </div>
        </div>
        <!-- Historial -->
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="row">
        <div class="col-lg-12">
              <div class="ibox float-e-margins">
                  <div class="ibox-title">
                      <h5>Historial</h5>
                  </div>
                  <div class="ibox-content">

                      <table class="table">
                          <thead>
                          <tr>
                              <th>Caracteristica</th>
                              <th>Datos</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                              <td>N° Veces Intercambiado</td>
                              <td>{{historial.Intercambiado}}</td>
                          </tr>
                          <tr>
                              <td>Fecha de Adquisición</td>
                              <td>{{historial.Adquisicion}}</td>
                          </tr>
                          <tr>
                              <td>Fecha de Registro</td>
                              <td>{{historial.Registro}}</td>
                          </tr>
                          </tbody>
                      </table>

                  </div>
              </div>
          </div>
        </div>
      </div>
{% endblock %}

<script src="{% static 'Plantilla_Sistema/js/plugins/blueimp/jquery.blueimp-gallery.min.js' %}"></script>
