{% extends 'indexs/index_admin.html' %}
{% load static %}

{% block menu%}
  <li>
    <a href="{% url 'inicio_ad' %}"><span class="nav-label">Usuarios</span></a>
  </li>
{% endblock %}

{% block contenido %}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title text-center">
                <h1><b>Infantes de {{apoderado.nombre}}</b></h1>
            </div>
            <div class="ibox-content">

                <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover dataTables-example" >
            <thead>
            <tr>
                <th >ID</th>
                <th >Estado</th>
                <th >Nombre</th>
                <th >Edad</th>
                <th class="text-center">Galería</th>
                <th class="text-center">Activar/Desactivar</th>
            </tr>
            </thead>
            <tbody>
              {% for i in infantes %}
                <tr >
                    <td>{{i.0.id}}</td>
                    {% if  i.1.is_active == 1 %}
                      <td><font color="blue">Activo</font></td>
                    {% else %}
                      <td><font color="red">Inactivo</font></td>
                    {% endif %}
                    <td>{{i.0.nombre}}</td>
                    <td>{{i.0.edad}}</td>

                    <td class="text-center"><a href="{% url 'administrar_infante' i.0.id %}" class="btn btn-info" role="button">Ver Galería</a></td>

                    {% if  i.1.is_active == 0 %}

                      <td class="text-center"><a href="{% url 'desactivarInfante' i.1.id apoderado.usuario_id %}" class="btn btn-warning" role="button">Activar</a></td>

                    {% else %}
                      <td class="text-center"><a href="{% url 'desactivarInfante' i.1.id apoderado.usuario_id %}" class="btn btn-info" role="button">Desactivar</a></td>

                    {% endif %}

                </tr>
              {% endfor %}
            </tbody>

            </table>
                </div>

            </div>
        </div>
    </div>
    </div>
</div>

{% endblock %}


{% block codigo_js %}


<script src="{% static 'Plantilla_Sistema/js/plugins/dataTables/datatables.min.js' %}"></script>


<!-- Page-Level Scripts -->
<script>
    $(document).ready(function(){
        $('.dataTables-example').DataTable({
            pageLength: 25,
            responsive: true,
            dom: '<"html5buttons"B>lTfgitp',
            buttons: [
                { extend: 'copy'},
                {extend: 'csv'},
                {extend: 'excel', title: 'ExampleFile'},
                {extend: 'pdf', title: 'ExampleFile'},

                {extend: 'print',
                 customize: function (win){
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                }
                }
            ]

        });

    });

</script>


{% endblock %}
