{% load static %}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login InformaDivertido</title>

    <link href="{% static 'Plantilla_Sistema/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'Plantilla_Sistema/font-awesome/css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'Plantilla_Sistema/css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'Plantilla_Sistema/css/style.css' %}" rel="stylesheet">


</head>

<body class="fondoEstatico">

    <div class="loginColumns animated fadeInDown">
        <div class="row">

            <div class="col-md-6">
                <img alt="image" class="logo-name" src="{% static 'img/logos/logo_informadiviertido.png' %}" />
                <h2 class="font-bold">Bienvenido a InformaDivertido</h2>

            </div>
            <div class="col-md-6">
                <div class="ibox-content text-center">


                    {% if messages %}
                      {% for message in messages %}
                        <div class="alert {{ message.tags }} " role="alert">
                          {{ message }}
                        </div>
                      {% endfor %}
                    {% endif %}

                    <form  method="post">
                      {% csrf_token %}

                        <div class="form-group">
                          <label for="username">Usuario</label>
                          <input type="text" id="username" name="username" class="form-control" placeholder="Usuario" required autofocus>
                        </div>

                        <div class="form-group">
                          <label for="password">Contraseña</label>
                          <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                        </div>

                        <input class="btn btn-primary" type="submit" value="Ingresar">



                        <a href="#">
                            <small>Olvide mi contraseña!</small>
                        </a>

                        <p class="text-muted text-center">
                            <small>¿No tienes una cuenta?</small>
                        </p>
                        <a class="btn btn-sm btn-white btn-block" type="submit" href="{% url 'registro_us' %}">Registrarme</a>
                    </form>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                Copyright Example Company
            </div>
            <div class="col-md-6 text-right">
               <small>© 2014-2015</small>
            </div>
        </div>
    </div>

</body>

</html>
