{% extends 'indexs/index_apoderado.html' %}
{% load static %}

{% block menu%}


  <li>
      <a href="{% url 'inicio_ap' %}"><i class="fa fa-child"></i> <span class="nav-label">Mis niños</span> <span class="fa arrow"></span></a>
  </li>
  <li>
      <a href="{% url 'intercambios_a_concretar' %}"><i class="fa fa-exchange"></i> <span class="nav-label">Intercambios a concretar</span><span id="n_cierres" class="label label-info pull-right"></span></a>
  </li>
{% endblock %}

{% block contenido %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
          <h2>Desarrollo de </h2>
          <ol class="breadcrumb">
              <a href="{% url 'inicio_ap' %}" class="btn btn-primary pull-right" role="button">Volver</a>
          </ol>
    </div>
</div>

{% endblock %}

{% block codigo_js %}

{% endblock %}
