{% extends 'usuarios/registro/register_base.html' %}
{% load bootstrap %}

{% block estilos %}
  <style>
    #perfil {
      max-width: 20vw;
      max-height: 20vh;
    }

    #perfil_logo {
      max-width: 10vw;
      max-height: 10vh;
    }
  </style>
{% endblock %}

{% block Titulo %}

  <h3>Modificar Información</h3>
  <img src="{{apoderado.foto.url}}" id="perfil">
  <p>Ingrese los datos a modificar.</p>

{% endblock%}

{% block datos %}
<form  method="post" enctype="multipart/form-data">
{% csrf_token %}

<div class="form-group">
  <h3>{{form.foto.label}}</h3>
  {{ form.foto }}
</div>

<div class="form-group" hidden>
  <h3>{{form.rut.label}}</h3>
  {{ form.rut }}
</div>

<div class="form-group">
  <h3>{{form.nombre.label}}</h3>
  {{ form.nombre }}
</div>

<div class="form-group">
  <h3>{{form.apellido.label}}</h3>
  {{ form.apellido }}
</div>

<div class="form-group">
  <h3>{{form.edad.label}}</h3>
  {{ form.edad }}
</div>

<div class="form-group">
  <h3>{{form.movil.label}}</h3>
  {{ form.movil }}
</div>

<div class="form-group">
  <h3>{{form.email.label}}</h3>
  {{ form.email }}
</div>

<button type="submit" class="btn btn-primary block full-width m-b">Modificar Información</button>
</form>

{% endblock %}
