{% extends 'indexs/index_apoderado.html' %}

{% block estilos %}
<style>
  #perfil {
    max-width: 20vw;
    max-height: 20vh;
  }

  #perfil_logo {
    max-width: 10vw;
    max-height: 10vh;
  }
  .btn-space {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    clear: both;
  }
</style>
{% endblock %}

{% block menu %}
  <li class="active">
      <a href="{% url 'inicio_ap' %}"><i class="fa fa-child"></i> <span class="nav-label">Mis niños</span></a>
  </li>
  <li>
      <a href={% url 'intercambios_a_concretar' %}><i class="fa fa-exchange"></i> <span class="nav-label">Intercambios a concretar</span><span id="n_cierres" class="label label-info pull-right"></span></a>
  </li>
{% endblock %}

{% block contenido %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
          <h2>Mis Niños</h2>
          <ol class="breadcrumb">
              <a href="{% url 'registro_in' %}" class="btn btn-primary pull-right" role="button">Registrar un Niño</a>
          </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">

  {% for infante in datos %}

    <div class="col-lg-3">
        <div class="contact-box center-version">

            <a href="{% url 'editar_in' infante.0.id %}">

              <!-- <style>img {max-width: 20vw;max-height: 20vh;}</style> -->
                <img style="height:90%"src="{{infante.0.foto.url}}">


                <h3 class="m-b-xs"><strong>{{infante.0.nombre}}</strong></h3>

                <div class="font-bold">{{infante.0.edad}} años</div>
                <address class="m-t-md">

                </address>

            </a>
            <div class="contact-box-footer">
                <div class="m-t-xs btn-group">
                    <a href="{% url 'VerAnalisis_ap' infante.0.id %}" class="btn btn-xs btn-outline btn-warning btn-space"><i class="fa fa-bar-chart-o"></i> Ver Desarrollo</a>
                    <a href="{% url 'galeria_ap' infante.0.id %}" class="btn btn-xs btn-outline btn-primary btn-space"><i class="fa fa-picture-o"></i> Ver Galería: <b>{{infante.5}} Juguetes</b> </a>
                    <a href="{% url 'publicaciones' infante.0.id %}" class="btn btn-xs btn-outline btn-primary btn-space"><i class="fa fa-paper-plane-o"></i> Publicaciones  &emsp;<span class="label label-info pull-right">{% if infante.1 != 0 %} {{ infante.1 }} {% endif %}</span></a>
                    <a href="{% url 'verDeseados' infante.0.id 0 %}" class="btn btn-xs btn-outline btn-primary btn-space"><i class="fa fa-rocket"></i> Lista de deseados &emsp;<span class="label label-info pull-right">{% if infante.2 != 0 %} {{ infante.2 }} {% endif %}</span></a>
                </div>
            </div>

        </div>
      </div>

  {% endfor %}


</div>
</div>

{% endblock %}

{% block codigo_js %}

<!-- cierres pendientes: -->
<script>
$.ajax({
  type: "POST",
  url:"{% url 'cierresPendientes' %}",
  data:{
    csrfmiddlewaretoken:"{{ csrf_token }}",
    rutApoderado:"{{apoderado.rut}}"
  },

  success: function(response){
    $("#n_cierres").html("");
    $("#n_cierres").append(''+response.numero+'');
  }
})
</script>

{% endblock %}
