{% extends 'indexs/index_apoderado.html' %}
{% load static %}

{% block menu%}

  <script src="{% static 'Plantilla_Sistema/js/jquery-3.1.1.min.js' %}"></script>


  <li>
      <a href="{% url 'inicio_ap' %}"><i class="fa fa-child"></i> <span class="nav-label">Mis niños</span> <span class="fa arrow"></span></a>
  </li>
  <li>
      <a href="{% url 'intercambios_a_concretar' %}"><i class="fa fa-exchange"></i> <span class="nav-label">Intercambios a concretar</span><span id="n_cierres" class="label label-info pull-right"></span></a>
  </li>
{% endblock %}

{% block contenido %}

  <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-lg-12">
            <h2>Intercambios a concretar: {{numero}}</h2>
            <ol class="breadcrumb">
                <a href="{% url 'inicio_ap' %}" class="btn btn-primary pull-right" role="button">Volver</a>
            </ol>
      </div>
  </div>

  <!-- Modal fotos -->
  <div class="modal fade" id="modalVerFoto" tabindex="-1" role="dialog" aria-labelledby="modalVerFoto" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="mensajefoto modal-content">
        <div class="modal-header">
          <h1 class="text-center modal-title" id="exampleModalLongTitle">#</h1>
        </div>
        <div class="text-center modal-body">
          <h2>#</h2>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal mensaje -->
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="mensaje1 modal-content">
        <div class="modal-header">
          <h1 class="text-center modal-title" id="exampleModalLongTitle">Cargando...</h1>
        </div>
        <div class="text-center modal-body">
          <h2>
            <div class="spiner-example">
              <div class="sk-spinner sk-spinner-circle">
                <div class="sk-circle1 sk-circle"></div>
                <div class="sk-circle2 sk-circle"></div>
                <div class="sk-circle3 sk-circle"></div>
                <div class="sk-circle4 sk-circle"></div>
                <div class="sk-circle5 sk-circle"></div>
                <div class="sk-circle6 sk-circle"></div>
                <div class="sk-circle7 sk-circle"></div>
                <div class="sk-circle8 sk-circle"></div>
                <div class="sk-circle9 sk-circle"></div>
                <div class="sk-circle10 sk-circle"></div>
                <div class="sk-circle11 sk-circle"></div>
                <div class="sk-circle12 sk-circle"></div>
              </div>
            </div>
          </h2>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>
        </div>
      </div>
    </div>
  </div>

  <input id="datepicker">

  <script>
  var idLug=0;

  var dia=["Domingo","Lunes","Martes","Miércoles","Jueves","Viernes","Sábado"][new Date().getDay()]
  var mes=["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre"][new Date().getMonth()]
  var fechaActual=dia +" "+ new Date().getDate() +" de "+ mes +" de "+ new Date().getFullYear()

  function compararFechas(fecha1, fecha2){
    var fecha1Token=fecha1.split(" ");
    var fecha2Token=fecha2.split(" ");

    var dia1=fecha1Token[1];
    var dia2=fecha2Token[1];

    var mes1N=fecha1Token[3];
    var mes1;
    if((mes1N.localeCompare("Enero"))==0){
      mes1=1;
    }
    else if((mes1N.localeCompare("Febrero"))==0){
      mes1=2;
    }
    else if((mes1N.localeCompare("Marzo"))==0){
      mes1=3;
    }
    else if((mes1N.localeCompare("Abril"))==0){
      mes1=4;
    }
    else if((mes1N.localeCompare("Mayo"))==0){
      mes1=5;
    }
    else if((mes1N.localeCompare("Junio"))==0){
      mes1=6;
    }
    else if((mes1N.localeCompare("Julio"))==0){
      mes1=7;
    }
    else if((mes1N.localeCompare("Agosto"))==0){
      mes1=8;
    }
    else if((mes1N.localeCompare("Septiembre"))==0){
      mes1=9;
    }
    else if((mes1N.localeCompare("Octubre"))==0){
      mes1=10;
    }
    else if((mes1N.localeCompare("Noviembre"))==0){
      mes1=11;
    }
    else if((mes1N.localeCompare("Diciembre"))==0){
      mes1=12;
    }

    var mes2N=fecha2Token[3];
    var mes2;
    if((mes2N.localeCompare("Enero"))==0){
      mes2=1;
    }
    else if((mes2N.localeCompare("Febrero"))==0){
      mes2=2;
    }
    else if((mes2N.localeCompare("Marzo"))==0){
      mes2=3;
    }
    else if((mes2N.localeCompare("Abril"))==0){
      mes2=4;
    }
    else if((mes2N.localeCompare("Mayo"))==0){
      mes2=5;
    }
    else if((mes2N.localeCompare("Junio"))==0){
      mes2=6;
    }
    else if((mes2N.localeCompare("Julio"))==0){
      mes2=7;
    }
    else if((mes2N.localeCompare("Agosto"))==0){
      mes2=8;
    }
    else if((mes2N.localeCompare("Septiembre"))==0){
      mes2=9;
    }
    else if((mes2N.localeCompare("Octubre"))==0){
      mes2=10;
    }
    else if((mes2N.localeCompare("Noviembre"))==0){
      mes2=11;
    }
    else if((mes2N.localeCompare("Diciembre"))==0){
      mes2=12;
    }

    var ano1=fecha1Token[5];
    var ano2=fecha2Token[5];

    var comp1=ano1+mes1+dia1;
    var comp2=ano2+mes2+dia2;

    if(comp1>comp2){
      return false;
    }
    else{
      return true;
    }

  }

  </script>


  {% for pendiente in pendientesAutor %}
    {% if pendiente.9 == "A concretar" %}
    <div class="panel panel-primary" style="margin-top:30px;">
        <div class="panel-heading text-center">
          <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 pull-left">
              <b>Juguete a dar</b>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 pull-left">
              <b>Datos del intercambio</b>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 pull-left">
              <b>Juguetes a recibir</b>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="row">

            <!-- Juguetes a dar -->
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 pull-left">
              <div class="row">
                <div id="foto{{pendiente.3}}" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pull-left text-center">
                  Foto {{pendiente.3}}
                </div>
                <div id="nombre{{pendiente.3}}" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pull-left text-center">
                  Nombre {{pendiente.3}}
                </div>
              </div>
            </div>

            <!-- Datos -->
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 pull-left">
              <div id="we0{{pendiente.3}}" class="alert alert-success">
                <p><b>Día: </b>{{pendiente.0}}</p>

                <script>
                  var heightt=(screen.height/30);
                  // document.getElementById("we0{{pendiente.3}}").style.maxHeight=heightt+"px";
                </script>
              </div>
              <div id="we1{{pendiente.3}}" class="alert alert-success">
                <p><b>Lugar: </b><div id="luA{{ forloop.counter }}">{{pendiente.1}}</div></p>
                <button onclick="javascript:verLugar({{ forloop.counter }},'luA');" class="btn btn-primary dim pull-right"><i class="fa fa-map-marker"></i>&nbsp;Ver mapa</button>

                <script>
                  var heightt=(screen.height/30);
                  // document.getElementById("we1{{pendiente.3}}").style.maxHeight=heightt+"px";
                </script>
              </div>
              </br>
              <div id="we2{{pendiente.3}}" class="alert alert-success">
                <p><b>Hora: </b>{{pendiente.2}}</p>

                <script>
                  var heightt=(screen.height/30);
                  // document.getElementById("we2{{pendiente.3}}").style.maxHeight=heightt+"px";
                </script>
              </div>
              <div class="row" id="we3{{pendiente.3}}">
              </div>
              <script>
              var fecha1="{{pendiente.0}}";
              if(compararFechas(fecha1,fechaActual)==true){
                $("#we3{{pendiente.3}}").append(''+
                '<div class="col-md-6 col-lg-6 text-center">'+
                  '<button onclick="javascript:confirmar(1,{{pendiente.7}},{{pendiente.8}});" class="btn btn-info dim pull-center"><i class="fa fa-check"></i>&nbsp;Realizado</button>'+
                '</div>'+
                '<div class="col-md-6 col-lg-6 text-center">'+
                  '<button onclick="javascript:confirmar(0,{{pendiente.7}},{{pendiente.8}});" class="btn btn-danger dim pull-center"><i class="fa fa-times"></i>&nbsp;No realizado</button>'+
                '</div>');
              }
              else{
                $("#we3{{pendiente.3}}").append(''+
                '<div class="alert alert-info text-center">'+
                  '<p><b>Por concretar </b></p>'+
                '</div>');
              }

              </script>
            </div>

            <!-- Juguetes a recibir -->
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 pull-left">
              <div class="panel panel-default">
                  <div class="ibox">

                    <div class="ibox-content">
                        <div class="scroll_content">
                          <div class="row">
                            {% for jugueteRecibir in pendiente.4 %}
                            <div id="foto{{jugueteRecibir}}" class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
                              {{jugueteRecibir}}
                            <!-- </div>
                            <div id="nombre{{jugueteRecibir}}" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center"> -->

                            </div>
                            {% endfor %}
                          </div>
                        </div>
                    </div>
                </div>
              </div>
              <!-- <div class="visible-xs visible-sm"> -->
              <div >
                <button type="button" class="btn btn-primary" onclick="javascript:verFotos({{pendiente.4}})" data-toggle="modal" data-target="#modalVerFoto">Ver Fotos</button>
              </div>
            </div>

          </div>
        </div>
    </div>
    {% endif %}
  {% endfor %}

  {% for pendiente in pendientesDestinatario %}
    {% if pendiente.9 == "A concretar" %}
    <div class="panel panel-primary" style="margin-top:30px;">
        <div class="panel-heading text-center">
          <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 pull-left">
              <b>Juguetes a dar</b>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 pull-left">
              <b>Datos del intercambio</b>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 pull-left">
              <b>Juguete a recibir</b>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="row">

            <!-- Juguete a dar -->
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 pull-left">
              <div class="panel panel-default">
                  <div class="ibox">

                    <div class="ibox-content">
                        <div class="scroll_content">
                          <div class="row">
                            {% for jugueteRecibir in pendiente.4 %}
                            <div id="foto{{jugueteRecibir}}" class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
                              Foto {{jugueteRecibir}}
                            <!-- </div>
                            <div id="nombre{{jugueteRecibir}}" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center"> -->

                            </div>
                            {% endfor %}
                          </div>
                        </div>
                    </div>
                </div>
              </div>
              <!-- <div class="visible-xs visible-sm"> -->
              <div >
                <button type="button" class="btn btn-primary" onclick="javascript:verFotos({{pendiente.4}})" data-toggle="modal" data-target="#modalVerFoto">Ver Fotos</button>
              </div>
            </div>

            <!-- Datos -->
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 pull-left">
              <div id="we0{{pendiente.3}}" class="alert alert-success">
                <p><b>Día: </b>{{pendiente.0}}</p>

              </div>
              <div id="we1{{pendiente.3}}" class="alert alert-success">
                <p><b>Lugar: </b><div id="lu{{ forloop.counter }}">{{pendiente.1}}</div></p>
                <button onclick="javascript:verLugar({{ forloop.counter }},'lu');" class="btn btn-primary dim pull-right"><i class="fa fa-map-marker"></i>&nbsp;Ver mapa</button>

              </div>
              </br>
              <div id="we2{{pendiente.3}}" class="alert alert-success">
                <p><b>Hora: </b>{{pendiente.2}}</p>

              </div>
              <div class="row" id="we3{{pendiente.3}}">
              </div>
              <script>
              var fecha1="{{pendiente.0}}";
              if(compararFechas(fecha1,fechaActual)==true){
                $("#we3{{pendiente.3}}").append(''+
                '<div class="col-md-6 col-lg-6 text-center">'+
                  '<button onclick="javascript:confirmar(1,{{pendiente.7}},{{pendiente.8}});" class="btn btn-info dim pull-center"><i class="fa fa-check"></i>&nbsp;Realizado</button>'+
                '</div>'+
                '<div class="col-md-6 col-lg-6 text-center">'+
                  '<button onclick="javascript:confirmar(0,{{pendiente.7}},{{pendiente.8}});" class="btn btn-danger dim pull-center"><i class="fa fa-times"></i>&nbsp;No realizado</button>'+
                '</div>');
              }
              else{
                $("#we3{{pendiente.3}}").append(''+
                '<div class="alert alert-info text-center">'+
                  '<p><b>Por concretar </b></p>'+
                '</div>');
              }

              </script>
            </div>

            <!-- Juguete a recibir -->
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 pull-left">
              <div class="row">
                <div id="foto{{pendiente.3}}" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pull-left text-center">
                  Foto {{pendiente.3}}
                </div>
                <div id="nombre{{pendiente.3}}" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pull-left text-center">
                  Nombre {{pendiente.3}}
                </div>
              </div>
            </div>

          </div>
        </div>
    </div>
    {% endif %}
  {% endfor %}


{% endblock %}

{% block codigo_js %}
<script>var activo=false</script>


<!-- Google maps api -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-xLcAPt_Zrif2ts7Gq1MZhnBLx2YNZRw&libraries=places"
        async defer></script>

<script>


$('#datepicker').hide();

function verLugar(lugar,loop){
  if(loop=="luA"){
    direccion=document.getElementById("luA"+lugar).innerHTML
  }
  else {
    direccion=document.getElementById("lu"+lugar).innerHTML
  }
  abrirGoogleMap(direccion)
}

var map;
var marker;

function initAutocomplete(direccion) {

    var geocoder = new google.maps.Geocoder;
    geocoder.geocode( { 'address': direccion}, function(results, status) {
      map.setCenter(results[0].geometry.location);
      placeMarker(results[0].geometry.location, map);
    });
    zo=15;


  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: -33.437880929381386, lng: -70.65050173851023},
    zoom: zo,
    mapTypeId: 'roadmap'
  });

  input = document.getElementById('pac-input');

  // Create the search box and link it to the UI element.
  var searchBox = new google.maps.places.SearchBox(input);
  // map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
  //
  // Bias the SearchBox results towards current map's viewport.
  map.addListener('bounds_changed', function() {
    searchBox.setBounds(map.getBounds());
  });

  var markers = [];
  // Listen for the event fired when the user selects a prediction and retrieve
  // more details for that place.
  searchBox.addListener('places_changed', function() {
    var places = searchBox.getPlaces();

    if (places.length == 0) {
      return;
    }

    // Clear out the old markers.
    markers.forEach(function(marker) {
      marker.setMap(null);
    });
    markers = [];

    // For each place, get the icon, name and location.
    var bounds = new google.maps.LatLngBounds();
    places.forEach(function(place) {
      if (!place.geometry) {
        console.log("Returned place contains no geometry");
        return;
      }
      var icon = {
        url: place.icon,
        size: new google.maps.Size(71, 71),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(17, 34),
        scaledSize: new google.maps.Size(25, 25)
      };

      // Create a marker for each place.
      markers.push(new google.maps.Marker({
        map: map,
        icon: icon,
        title: place.name,
        position: place.geometry.location
      }));

      if (place.geometry.viewport) {
        // Only geocodes have viewport.
        bounds.union(place.geometry.viewport);
      } else {
        bounds.extend(place.geometry.location);
      }
    });
    map.fitBounds(bounds);
  });

}

function placeMarker(position, map) {
  if(marker==null){
    marker = new google.maps.Marker({
      position: position,
      map: map
    });
  }
  else{
    marker.setPosition(position);
  }
    map.panTo(position);
}


function verFotos(juguetes){
  console.log(juguetes)

  $.ajax({
    type: "POST",
    url:"{% url 'juguetesEnintercambios_a_concretar' %}",
    data:{
      csrfmiddlewaretoken:"{{ csrf_token }}",
      rutApoderado:"{{apoderado.rut}}"
    },



    success: function(response){
      var heightU=(screen.height/7);
      var heightt=(screen.height/3);
      var len=response.juguetes.length

      $(".mensajefoto").html("");
      $(".mensajefoto").append(''+
      '<div class="modal-header">'+
      '<h1 class="text-center modal-title" id="exampleModalLongTitle">Juguetes</h1>'+
      '</div>'+
      '<div id="todas_fotos" class="text-center modal-body">'+
      '</div>'+
      '<div class="modal-footer">'+
      '<button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>'+
      '</div>');

      $("#todas_fotos").html("");

      var esta=false;
        for(i=0;i<len;i++){
          for(j=0;j<juguetes.length;j++){
            esta=false
            if(response.juguetes[i][0]==juguetes[j]){
              esta=true
              juguetes[j]='-1';
            }
            if(esta){
              $("#todas_fotos").append('<a href="'+response.juguetes[i][2]+'"><img id="'+response.juguetes[i][0]+'" style="max-width:98%; margin-bottom:5px;" src="'+response.juguetes[i][2]+'"></a>');
              document.getElementById(response.juguetes[i][0]).style.maxHeight=heightt+"px";

            }
          }
        }
    }
  })

}

function abrirGoogleMap(direccion){
  //google maps
  $('#exampleModalLong').modal({backdrop: 'static', keyboard: false})
  $("#exampleModalLong").modal("show");
  $(".mensaje1").html("");
  $(".mensaje1").append(''+
  '<div class="modal-header">'+
    '<h1 class="text-center modal-title" id="exampleModalLongTitle">Lugar de encuentro</h1>'+
  '</div>'+
  '<div class="text-center modal-body">'+
    '<input id="pac-input" class="controls" type="text" placeholder="Search Box">'+
    '<div id="map" style="height:'+screen.height*0.5+'px;"></div>'+
  '</div>'+
  '<div class="modal-footer">'+
    '<button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>'+
  '</div>');
  initAutocomplete(direccion);
  marker=null;

}

</script>


<!-- cierres pendientes: -->
<script>
$.ajax({
  type: "POST",
  url:"{% url 'cierresPendientes' %}",
  data:{
    csrfmiddlewaretoken:"{{ csrf_token }}",
    rutApoderado:"{{apoderado.rut}}"
  },

  success: function(response){
    $("#n_cierres").html("");
    $("#n_cierres").append(''+response.numero+'');
  }
})



$.ajax({
  type: "POST",
  url:"{% url 'juguetesEnintercambios_a_concretar' %}",
  data:{
    csrfmiddlewaretoken:"{{ csrf_token }}",
    rutApoderado:"{{apoderado.rut}}"
  },



  success: function(response){
    var heightU=(screen.height/7);
    var heightt=(screen.height/15);
    var len=response.juguetes.length
    for(i=0;i<len;i++){

      $("#foto"+response.juguetes[i][0]).html("");
      $("#foto"+response.juguetes[i][0]).append('<a href="'+response.juguetes[i][2]+'" data-gallery><img id="'+response.juguetes[i][0]+'" style="max-width:98%; margin-bottom:5px;" src="'+response.juguetes[i][2]+'"></a>');
        document.getElementById(response.juguetes[i][0]).style.maxHeight=heightt+"px";
    }
    var len=response.juguetesUnico.length
    for(i=0;i<len;i++){

      $("#nombre"+response.juguetesUnico[i][0]).html("");
      $("#nombre"+response.juguetesUnico[i][0]).append('<p><b>Nombre: </b></p>'+response.juguetesUnico[i][1]);
      $("#foto"+response.juguetesUnico[i][0]).html("");
      $("#foto"+response.juguetesUnico[i][0]).append('<a href="'+response.juguetesUnico[i][2]+'"><img id="'+response.juguetesUnico[i][0]+'" style="max-width:98%; margin-bottom:5px;" src="'+response.juguetesUnico[i][2]+'"></a>');
        document.getElementById(response.juguetesUnico[i][0]).style.maxHeight=heightU+"px";
    }

  }
})

</script>

<!-- respuesta -->
<script>

function respuesta(idUnaSolicitud,respuest,idCierre){
  if(activo==false){
    activo=true

    console.log(idUnaSolicitud)
    console.log(respuest)
    console.log("id despues:",idCierre)
    $.ajax({
      type: "POST",
      url:"{% url 'respuestaRealizado' %}",
      dataType:"json",
      data:{
        csrfmiddlewaretoken:"{{ csrf_token }}",
        unaSolicitudId: idUnaSolicitud,
        respues: respuest,
        'cierreid[]': idCierre
      },

      success: function(response){
        $('#exampleModalLong').modal({backdrop: 'static', keyboard: false})
        $("#exampleModalLong").modal("show");
        console.log(response.data)
        if(response.data=="1"){

          $(".mensaje1").html("");
          $(".mensaje1").append(''+
          '<div class="modal-header">'+
          '<h1 class="text-center modal-title" id="exampleModalLongTitle">¡Juguete intercambiado exitosamente!</h1>'+
          '</div>'+
          '<div class="text-center modal-body">'+
          '<h2>Se han agregado los juguetes a la galeria de su niño</h2>'+
          '</div>'+
          '<div class="modal-footer">'+
          '<button onclick="javascript:recargar();" type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>'+
          '</div>');
        }
        else{
          $(".mensaje1").html("");
          $(".mensaje1").append(''+
          '<div class="modal-header">'+
          '<h1 class="text-center modal-title" id="exampleModalLongTitle">Intercambio cancelado</h1>'+
          '</div>'+
          '<div class="modal-footer">'+
          '<button onclick="javascript:recargar();" type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>'+
          '</div>');
        }

      }

    })
  }
  else{
    console.log("ah ah ah")
  }
}

function confirmar(estado,solicitud_id,idCierre){
  console.log(solicitud_id)
  console.log("id antes: ",idCierre)
  $('#exampleModalLong').modal({backdrop: 'static', keyboard: false})
  $("#exampleModalLong").modal("show");
  if(estado==1){
    $(".mensaje1").html("");
    $(".mensaje1").append(''+
    '<div class="modal-header">'+
    '<h1 class="text-center modal-title" id="exampleModalLongTitle">¿Está seguro que el intercambio fue realizado?</h1>'+
    '</div>'+
    '<div class="text-center modal-body">'+
    '<button onclick="javascript:respuesta('+solicitud_id+','+estado+',['+idCierre+']);" class="btn btn-info dim pull-center" data-dismiss="modal"><i class="fa fa-check"></i>&nbsp;Si, el intercambio fue realizado</button>'+
    '</div>'+
    '<div class="modal-footer">'+
    '<button onclick="javascript:recargar();" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>'+
    '</div>');
  }
  else{
    $(".mensaje1").html("");
    $(".mensaje1").append(''+
    '<div class="modal-header">'+
    '<h1 class="text-center modal-title" id="exampleModalLongTitle">¿Está seguro que el intercambio NO fue realizado?</h1>'+
    '</div>'+
    '<div class="text-center modal-body">'+
    '<button onclick="javascript:respuesta('+solicitud_id+','+estado+',['+idCierre+']);" class="btn btn-danger dim pull-center" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;No fue realizado el intercambio</button>'+
    '</div>'+
    '<div class="modal-footer">'+
    '<button onclick="javascript:recargar();" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>'+
    '</div>');
  }
}

function recargar(){
  location.reload();
}

</script>


<!-- Mainly scripts -->
<script src="{% static 'Plantilla_Sistema/js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'Plantilla_Sistema/js/bootstrap.min.js' %}"></script>
<script src="{% static 'Plantilla_Sistema/js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
<script src="{% static 'Plantilla_Sistema/js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

<!-- Custom and plugin javascript -->
<script src="{% static 'Plantilla_Sistema/js/inspinia.js' %}"></script>
<script src="{% static 'Plantilla_Sistema/js/plugins/pace/pace.min.js' %}"></script>

<script>

$(document).ready(function () {

    // Add slimscroll to element
    $('.scroll_content').slimscroll({
        height: (screen.height/8)
    })

});

</script>
<script src="{% static 'Plantilla_Sistema/js/inspinia.js' %}"></script>



<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100px;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      #target {
        width: 345px;
      }
    </style>
{% endblock %}
