{% extends 'indexs/index_apoderado.html' %}
{% load static %}



{% block menu%}

  <li>
      <a href="{% url 'inicio_ap' %}"><i class="fa fa-child"></i> <span class="nav-label">Mis niños</span> <span class="fa arrow"></span></a>
  </li>
  <li>
      <a href="{% url 'intercambios_a_concretar' %}"><i class="fa fa-exchange"></i> <span class="nav-label">Intercambios a concretar</span><span id="n_cierres" class="label label-info pull-right"></span></a>
  </li>
{% endblock %}

{% block contenido %}
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pull-left">
            <h2>Configurar publicación</h2>
            <h3>&emsp;Datos de intercambio:</h3>
          </div>
        </div>
        <div class="row white-bg">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 pull-left">
            <button id="aceptar" class="btn btn-primary">Aceptar</button>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 pull-right">
            <a href="{% url 'publicaciones' infante.id %}" class="btn btn-primary pull-right" role="button">Atrás</a>
          </div>
        </div>
    </div>
</div>

<!-- Modal mensaje -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="mensaje1 modal-content">
      <div class="modal-header">
        <h1 class="text-center modal-title" id="exampleModalLongTitle">#</h1>
      </div>
      <div class="text-center modal-body">
        <h2>#</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<div id="datos">
  <div id="datosdia0" class="row">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
      <div class="ibox-content" style="margin-top:30px; background-color:rgba(255,255,255,0.6);">
        <div class="row">
          <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">


            <div id="dia0">
              <div class="row">
                <div class="col">
                    <button onclick="javascript:dia(0);" class="btn btn-primary dim"><i class="fa fa-calendar"></i>&nbsp;Agregar día</button>
                </div>
              </div>

              <div id=lugar0-0>

                <div id=hora0-0>

                </div>
                <div id=btnHora0-0>
                </div>

              </div>

            </div>

          </div>
          <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
        </div>
      </div>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
  </div>
</div>

{% endblock %}

{% block codigo_js %}

<script>
var activo=false
</script>

<!-- Google maps api -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-xLcAPt_Zrif2ts7Gq1MZhnBLx2YNZRw&libraries=places"
        async defer></script>

<script>

var map;
var marker;
var direccion=null;

function initAutocomplete(lugar) {
  var zo=10;

  var input;
  var inputAnterior=document.getElementById("inputLugar"+lugar)
  if(inputAnterior!=null){
    input = document.getElementById("inputLugar"+lugar).value
    var geocoder = new google.maps.Geocoder;
    geocoder.geocode( { 'address': input}, function(results, status) {
      map.setCenter(results[0].geometry.location);
      placeMarker(results[0].geometry.location, map);
    });
    direccion=input
    zo=15;
  }

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: -33.437880929381386, lng: -70.65050173851023},
    zoom: zo,
    mapTypeId: 'roadmap'
  });

  input = document.getElementById('pac-input');

  // Create the search box and link it to the UI element.
  var searchBox = new google.maps.places.SearchBox(input);
  // map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
  //
  // Bias the SearchBox results towards current map's viewport.
  map.addListener('bounds_changed', function() {
    searchBox.setBounds(map.getBounds());
  });

  var markers = [];
  // Listen for the event fired when the user selects a prediction and retrieve
  // more details for that place.
  searchBox.addListener('places_changed', function() {
    var places = searchBox.getPlaces();

    if (places.length == 0) {
      return;
    }

    // Clear out the old markers.
    markers.forEach(function(marker) {
      marker.setMap(null);
    });
    markers = [];

    // For each place, get the icon, name and location.
    var bounds = new google.maps.LatLngBounds();
    places.forEach(function(place) {
      if (!place.geometry) {
        console.log("Returned place contains no geometry");
        return;
      }
      var icon = {
        url: place.icon,
        size: new google.maps.Size(71, 71),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(17, 34),
        scaledSize: new google.maps.Size(25, 25)
      };

      // Create a marker for each place.
      markers.push(new google.maps.Marker({
        map: map,
        icon: icon,
        title: place.name,
        position: place.geometry.location
      }));

      if (place.geometry.viewport) {
        // Only geocodes have viewport.
        bounds.union(place.geometry.viewport);
      } else {
        bounds.extend(place.geometry.location);
      }
    });
    map.fitBounds(bounds);
  });

}

function placeMarker(position, map) {
  if(marker==null){
    marker = new google.maps.Marker({
      position: position,
      map: map
    });
  }
  else{
    marker.setPosition(position);
  }
    map.panTo(position);
}

function cambiarInputLugar(lugar){

  if(direccion!=null){
    $('#exampleModalLong').modal('hide');
    document.getElementById("inputLugar"+lugar).value = direccion;
    direccion=null
  }
  else{
    window.alert('Debe seleccionar un lugar antes de aceptar');
  }
}

function abrirGoogleMap(lugar){
  //google maps
  $('#exampleModalLong').modal({backdrop: 'static', keyboard: false})
  $("#exampleModalLong").modal("show");
  $(".mensaje1").html("");
  $(".mensaje1").append(''+
  '<div class="modal-header">'+
    '<h1 class="text-center modal-title" id="exampleModalLongTitle">Ingrese Lugar</h1>'+
  '</div>'+
  '<div class="text-center modal-body">'+
    '<input id="pac-input" class="controls" type="text" placeholder="Search Box">'+
    '<p>Haga click izquierdo en el mapa para establecer un lugar de encuentro </p>'+
    '<div id="map" style="height:'+screen.height*0.5+'px;"></div>'+
  '</div>'+
  '<div class="modal-footer">'+
    '<button type="button" onclick="javascript:cambiarInputLugar('+lugar+')" class="btn btn-secondary">Aceptar</button>'+
  '</div>');
  initAutocomplete(lugar);

  map.addListener('click', function(e) {
    placeMarker(e.latLng, map);

    var geocoder = new google.maps.Geocoder;
    var infowindow = new google.maps.InfoWindow;

    geocoder.geocode({'location': marker.getPosition()}, function(results, status) {
        if (status === 'OK') {
          if (results[0]) {
            direccion=results[0].formatted_address
          } else {
            window.alert('No hay resultados encontrados');
          }
        } else {
          window.alert('Geocoder failed due to: ' + status);
        }
      });

  });

  marker=null;

}

</script>

<!-- Javascript by rodrigo bustos -->

<script>

var dia_id=0;
var lugar_id=0;
var hora_id=0;

var dias=[]
var lugares=[]
var horas=[]

var dias_input=[]
var lugares_input=[]
var horas_input=[]

var btnDia=[]
var btnLugar=[]

// cierres pendientes:
$.ajax({
  type: "POST",
  url:"{% url 'cierresPendientes' %}",
  data:{
    csrfmiddlewaretoken:"{{ csrf_token }}",
    rutApoderado:"{{apoderado.rut}}"
  },

  success: function(response){
    $("#n_cierres").html("");
    $("#n_cierres").append(''+response.numero+'');
  }
})


//Cargamos los datos desde la BD
$(document).ready(function(){
  $.ajax({
    type: "POST",
    url:"{% url 'cargarDatosPublicacion' %}",
    dataType:"json",
    data:{
      csrfmiddlewaretoken:"{{ csrf_token }}",
      publicacion_id: "{{publicacion.id}}"
    },

    success: function(response){
      var lenD=response.data.length;
      if(lenD>0){
        $("#datos").html('');

        for(d=0;d<lenD;d++){
          $("#datos").append(''+
          '<div id="datosdia'+dia_id+'" class="row" >'+
          '</div>');
          $("#datosdia"+dia_id).append(''+
          '<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>'+
          '<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">'+
            '<div class="ibox-content" style="margin-top:30px; background-color:rgba(255,255,255,0.6);">'+
              '<div class="row">'+
                '<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>'+
                '<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">'+
                ''+
                ''+
                '<div id="dia'+dia_id+'">'+

                '</div>'+
                ''+
                ''+
                '</div>'+
                '<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>'+
              '</div>'+
            '</div>'+
          '</div>'+
          '<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>'+
          '');

          $("#dia"+dia_id).append(''+
          '<div class="row">'+
            '<div class="col">'+
                '<input id="calendario'+dia_id+'" type="button" class="btn btn-info" style="margin-bottom:10px;" name="startdate" value="Seleccione día"/>'+
                '<button id="borrarDia'+dia_id+'" onclick="javascript:borrarDia('+dia_id+');" class="btn btn-success" style="margin-bottom:10px; margin-left:10px;"><i class="fa fa-trash"></i>&nbsp;Borrar</button>'+
            '</div>'+
          '</div>'+
          ''+
          '<div id=inicioLugar'+dia_id+'>'+
          '<div id=lugar'+lugar_id+'-'+dia_id+'>'+
          ''+
          '</div>'+
          '</div>');
          $("#calendario"+dia_id).datepicker();
          $("#calendario"+dia_id).datepicker("option","currentText","focus");
          $("#calendario"+dia_id).datepicker("option","dateFormat","DD dd 'de' MM 'de' yy");
          $("#calendario"+dia_id).datepicker("option","dayNames",["Domingo","Lunes","Martes","Miércoles","Jueves","Viernes","Sábado"]);
          $("#calendario"+dia_id).datepicker("option","monthNames",["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre"]);
          $("#calendario"+dia_id).val(response.data[d][0])

          dias_input.push(dia_id);

          var datosbtnDia=[dia_id,1]
          btnDia.push(datosbtnDia);
          var datosbtnLugar=[dia_id,1]
          btnLugar.push(datosbtnLugar);

          //lugares
          var lenL=response.data[d].length;
          for(l=1;l<lenL;l++){
            $("#inicioLugar"+dia_id).append(''+
            '<div id=lugar'+lugar_id+'-'+dia_id+'>'+
            ''+
            '</div>');
            $("#lugar"+lugar_id+"-"+dia_id).append(''+
            '<div class="row">'+
              '<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>'+
              '<div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">'+
                '<input id="inputLugar'+lugar_id+'" type="button" onclick="javascript:abrirGoogleMap('+lugar_id+');" class="btn btn-info" style="margin-bottom:10px;" name="startdate" placeholder="Ingrese lugar"/>'+
                '<button id="brrLugar'+lugar_id+'" onclick="javascript:borrarLugar('+lugar_id+','+dia_id+');" class="btn btn-success" style="margin-bottom:10px; margin-left:10px;"><i class="fa fa-trash"></i>&nbsp;Borrar</button>'+
              '</div>'+
            '</div>'+
            '<div id=hora'+lugar_id+'-'+dia_id+'>'+
            ''+
            '</div>'+
            '<div id=btnHora'+lugar_id+'-'+dia_id+'>'+
            '</div>');
            $("#inputLugar"+lugar_id).val(response.data[d][l][0]);


            //horas
            var lenH=response.data[d][l].length;
            for(h=1;h<lenH;h++){
              $("#hora"+lugar_id+"-"+dia_id).prepend(''+
              '<div class="row">'+
                '<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>'+
                '<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">'+
                  '<input id="inputHora'+hora_id+'" type="time" class="btn btn-info" style="margin-bottom:10px;" name="startdate" placeholder="Ingrese Hora"/>'+
                  '<button id="brrHora'+hora_id+'" onclick="javascript:borrarHora('+hora_id+','+lugar_id+','+dia_id+');" class="btn btn-success" style="margin-bottom:10px; margin-left:10px;"><i class="fa fa-trash"></i>&nbsp;Borrar</button>'+
                '</div>'+
              '</div>');

              $("#inputHora"+hora_id).val(response.data[d][l][h]);

              var nextHora=hora_id+1;
              $("#btnHora"+lugar_id+"-"+dia_id).html('');
              $("#btnHora"+lugar_id+"-"+dia_id).append(''+
              '<div class="row">'+
                '<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>'+
                '<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">'+
                  '<button onclick="javascript:hora(0,0,'+nextHora+','+lugar_id+','+dia_id+');" class="btn btn-primary dim"><i class="fa fa-clock-o"></i>&nbsp;Agregar hora</button>'+
                '</div>'+
              '</div>');

              var horaLugarDia=[hora_id,lugar_id,dia_id];
              var horaLugarDia_input=[hora_id,lugar_id,dia_id];
              horas.push(horaLugarDia);
              horas_input.push(horaLugarDia_input);
              hora_id++;
            }

            var lugarDia=[lugar_id,dia_id];
            var lugarDia_input=[lugar_id,dia_id];
            lugares.push(lugarDia);
            lugares_input.push(lugarDia_input);
            lugar_id++;
          }

          $("#inicioLugar"+dia_id).append(''+
          '<div id=lugar'+lugar_id+'-'+dia_id+'>'+
          '<div class="row">'+
            '<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>'+
            '<div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">'+
              '<button onclick="javascript:lugar(0,1,'+lugar_id+','+dia_id+');" class="btn btn-primary dim"><i class="fa fa-map-marker"></i>&nbsp;Agregar lugar</button>'+
            '</div>'+
          '</div>');

          dia_id++;
        }



        $("#datos").append(''+
        '<div id="datosdia'+dia_id+'" class="row">'+
          '<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>'+
          '<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">'+
            '<div class="ibox-content" style="margin-top:30px; background-color:rgba(255,255,255,0.6);">'+
              '<div class="row">'+
                '<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>'+
                '<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">'+
                ''+
                ''+
                  '<div id="dia'+dia_id+'">'+
                    '<div class="row">'+
                      '<div class="col">'+
                          '<button onclick="javascript:dia('+dia_id+');" class="btn btn-primary dim"><i class="fa fa-calendar"></i>&nbsp;Agregar día</button>'+
                      '</div>'+
                    '</div>'+
                    ''+
                    '<div id=lugar'+lugar_id+'-'+dia_id+'>'+
                    ''+
                      '<div id=hora'+lugar_id+'-'+dia_id+'>'+
                      ''+
                      '</div>'+
                      '<div id=btnHora'+lugar_id+'-'+dia_id+'>'+
                      '</div>'+
                      ''+
                    '</div>'+
                    ''+
                  '</div>'+
                  ''+
                  ''+
                '</div>'+
                '<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>'+
              '</div>'+
            '</div>'+
          '</div>'+
          '<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>'+
        '</div>');

      }
    }

  })
})

$(document).on('click','#aceptar',function(){
  if(activo==false){
    var valido=0;

    if(hora_id!=0){
      var valido=1;

      hlen=horas_input.length;

      for(i=0;i<hlen;i++){
        var inputH=$("#inputHora"+horas_input[i][0]).val();
        if(inputH == ''){
          valido=0;
          break;
        }
      }
      if(valido==1){
        Llen=lugares_input.length;
        for(i=0;i<Llen;i++){
          var inputL=$("#inputLugar"+lugares_input[i][0]).val();
          if(inputL == ''){
            valido=0;
            break;
          }
        }
      }
      if(valido==1){
        Dlen=dias_input.length;
        for(i=0;i<Dlen;i++){
          var inputD=$("#calendario"+dias_input[i]).val();
          if(inputD == ''){
            valido=0;
            break;
          }
        }
      }
      if(valido==1){

        for(i=0;i<Llen;i++){
          var pareja=0;
          for(j=0;j<hlen;j++){
            if(lugares_input[i][0]==horas_input[j][1]){
              pareja=1;
            }
          }
          if(pareja!=1){
            valido=0;
            break;
          }
        }

        for(i=0;i<Dlen;i++){
          var pareja=0;
          for(j=0;j<Llen;j++){
            if(dias_input[i]==lugares_input[j][1]){
              pareja=1;
            }
          }
          if(pareja!=1){
            valido=0;
            break;
          }
        }

      }
    }

    if(valido!=1){
      $('#exampleModalLong').modal({backdrop: 'static', keyboard: false})
      $("#exampleModalLong").modal("show");
      $(".mensaje1").html("");
      $(".mensaje1").append(''+
      '<div class="modal-header">'+
        '<h1 class="text-center modal-title" id="exampleModalLongTitle">Datos iválidos</h1>'+
      '</div>'+
      '<div class="text-center modal-body">'+
        '<h2>Por favor ingrese todos los datos antes de aceptar</h2>'+
      '</div>'+
      '<div class="modal-footer">'+
        '<button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>'+
      '</div>');
    }
    else{

      //data
      var dataHoras=[]
      var dataHorasPorLugares=[]
      var dataHorasPorDias=[]
      var dataLugares=[]
      var dataLugaresPorDia=[]
      var dataDias=[]

      Hlen=horas_input.length;
      Llen=lugares_input.length;
      Dlen=dias_input.length;

      for(d=0;d<Dlen;d++){
        var inputD=$("#calendario"+dias_input[d]).val();
        dataLugaresPorDia=[];
        dataHorasPorDias=[];

        dataDias.push(inputD);

        for(l=0;l<Llen;l++){
          dataHorasPorLugares=[]

          if(lugares_input[l][1]==dias_input[d]){
            var inputL=$("#inputLugar"+lugares_input[l][0]).val();
            dataLugaresPorDia.push(inputL);


            for(h=0;h<Hlen;h++){
              if(lugares_input[l][0]==horas_input[h][1]){
                var inputH=$("#inputHora"+horas_input[h][0]).val();
                dataHorasPorLugares.push(inputH);

              }
            }
            dataHorasPorDias.push(dataHorasPorLugares);
          }
        }
        dataHoras.push(dataHorasPorDias);
        dataLugares.push(dataLugaresPorDia);
      }

      //console.log(dataDias);
      //console.log(dataLugares);
      //console.log(dataHoras);

      $.ajax({
        type: "POST",
        url:"{% url 'subirDatosPublicacion' publicacion.id %}",
        dataType:"json",
        data:{
          csrfmiddlewaretoken:"{{ csrf_token }}",
          'Dias[]': dataDias,
          'Lugares[]': JSON.stringify(dataLugares),
          'Horas[]': JSON.stringify(dataHoras),
          id_producto: "{{ publicacion.producto.id }}"
        },

        success: function(response){
          $('#exampleModalLong').modal({backdrop: 'static', keyboard: false})
          $("#exampleModalLong").modal("show");
          $(".mensaje1").html("");
          $(".mensaje1").append(''+
          '<div class="modal-header">'+
            '<h1 class="text-center modal-title" id="exampleModalLongTitle"><b>¡Datos publicados con éxito!</b></h1>'+
          '</div>'+
          '<div class="text-center modal-body">'+
            '<h2><b>{{ publicacion.producto.nombre }}</b></h2>'+
            '<img style="width:90%" src="{{publicacion.producto.foto.url}}">'+
            '<h2><b>El juguete ha sido publicado con éxito</b> </h2> '+
          '</div>'+
          '<div class="modal-footer">'+
            '<a href="{% url 'publicaciones' infante.id %}" class="btn btn-primary pull-right" role="button">Aceptar</a>'+
          '</div>');
        }

      })
    }
  }
  else{
    console.log("ah ah ah")
  }
  activo=true

});

function dia(dia){

  var valido=1;

  if(dia_id!=0){
    lugar_id++;
    hora_id++;
    hlen=horas_input.length;

    for(i=0;i<hlen;i++){
      var inputH=$("#inputHora"+horas_input[i][0]).val();
      if(inputH == ''){
        valido=0;
        break;
      }
    }
    if(valido==1){
      Llen=lugares_input.length;
      for(i=0;i<Llen;i++){
        var inputL=$("#inputLugar"+lugares_input[i][0]).val();
        if(inputL == ''){
          valido=0;
          break;
        }
      }
    }
    if(valido==1){

      for(i=0;i<Llen;i++){
        var pareja=0;
        for(j=0;j<hlen;j++){
          if(lugares_input[i][0]==horas_input[j][1]){
            pareja=1;
          }
        }
        if(pareja!=1){
          valido=0;
          break;
        }
      }

    }
  }

  if(valido!=1){
    $('#exampleModalLong').modal({backdrop: 'static', keyboard: false})
    $("#exampleModalLong").modal("show");
    $(".mensaje1").html("");
    $(".mensaje1").append(''+
    '<div class="modal-header">'+
      '<h1 class="text-center modal-title" id="exampleModalLongTitle">Datos iválidos</h1>'+
    '</div>'+
    '<div class="text-center modal-body">'+
      '<h2>Por favor ingrese todos los datos antes de agregar un nuevo dia de intercambio</h2>'+
    '</div>'+
    '<div class="modal-footer">'+
      '<button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>'+
    '</div>');
  }

  else{
    var datosbtnDia=[dia,0]
    btnDia.push(datosbtnDia);

    var datosbtnLugar=[dia,1]
    btnLugar.push(datosbtnLugar);

    $("#dia"+dia).html('');
    $("#dia"+dia).append(''+
    '<div class="row">'+
      '<div class="col">'+
          '<input id="calendario'+dia+'" type="button" class="btn btn-info" style="margin-bottom:10px;" name="startdate" value="Seleccione día"/>'+
          '<button id="borrarDia'+dia+'" onclick="javascript:borrarDia('+dia+');" class="btn btn-success" style="margin-bottom:10px; margin-left:10px;"><i class="fa fa-trash"></i>&nbsp;Borrar</button>'+
      '</div>'+
    '</div>'+
  ''+
    '<div id=lugar'+lugar_id+'-'+dia+'>'+
  ''+
      '<div id=hora'+lugar_id+'-'+dia+'>'+
  ''+
      '</div>'+
  ''+
    '</div>');


    $("#calendario"+dia).datepicker();
    $("#calendario"+dia).datepicker("option","currentText","focus");
    $("#calendario"+dia).datepicker("option","dateFormat","DD dd 'de' MM 'de' yy");
    $("#calendario"+dia).datepicker("option","dayNames",["Domingo","Lunes","Martes","Miércoles","Jueves","Viernes","Sábado"]);
    $("#calendario"+dia).datepicker("option","monthNames",["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre"]);
    $("#calendario"+dia).focus();


    $("#lugar"+lugar_id+"-"+dia).append(''+
    '<div class="row">'+
      '<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>'+
      '<div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">'+
        '<button onclick="javascript:lugar('+1+','+1+','+lugar_id+','+dia+');" class="btn btn-primary dim"><i class="fa fa-map-marker"></i>&nbsp;Agregar lugar</button>'+
      '</div>'+
    '</div>');

    dias.push(dia_id);
    dias_input.push(dia);
    dia_id++;
  }
}

function lugar(nuevoDia,nuevoLugar,lugar,dia){

  var valido=1;

  if(lugar_id!=0){
    hlen=horas_input.length;
    hora_id++;

    for(i=0;i<hlen;i++){
      var inputH=$("#inputHora"+horas_input[i][0]).val();
      if(inputH == ''){
        valido=0;
        break;
      }
    }
    if(valido==1){
      Llen=lugares_input.length;
      for(i=0;i<Llen;i++){
        var inputL=$("#inputLugar"+lugares_input[i][0]).val();
        if(inputL == ''){
          valido=0;
          break;
        }
      }
    }
    if(valido==1){
      Dlen=dias_input.length;
      for(i=0;i<Dlen;i++){
        var inputD=$("#calendario"+dias_input[i]).val();
        if(inputD == ''){
          valido=0;
          break;
        }
      }
    }
    if(valido==1){

      for(i=0;i<Llen;i++){
        var pareja=0;
        for(j=0;j<hlen;j++){
          if(lugares_input[i][0]==horas_input[j][1]){
            pareja=1;
          }
        }
        if(pareja!=1){
          valido=0;
          break;
        }
      }
    }
  }

  var input=$("#calendario"+dia).val();

  if(input == ''){
    $('#exampleModalLong').modal({backdrop: 'static', keyboard: false})
    $("#exampleModalLong").modal("show");
    $(".mensaje1").html("");
    $(".mensaje1").append(''+
    '<div class="modal-header">'+
      '<h1 class="text-center modal-title" id="exampleModalLongTitle">Datos iválidos</h1>'+
    '</div>'+
    '<div class="text-center modal-body">'+
      '<h2>Por favor seleccione un dia de intercambio</h2>'+
    '</div>'+
    '<div class="modal-footer">'+
      '<button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>'+
    '</div>');
  }
  else if(valido!=1){
    $('#exampleModalLong').modal({backdrop: 'static', keyboard: false})
    $("#exampleModalLong").modal("show");
    $(".mensaje1").html("");
    $(".mensaje1").append(''+
    '<div class="modal-header">'+
      '<h1 class="text-center modal-title" id="exampleModalLongTitle">Datos iválidos</h1>'+
    '</div>'+
    '<div class="text-center modal-body">'+
      '<h2>Por favor ingrese todos los datos antes de agregar un nuevo lugar de intercambio</h2>'+
    '</div>'+
    '<div class="modal-footer">'+
      '<button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>'+
    '</div>');
  }
  else{
    abrirGoogleMap(lugar);

    var btnLlen=btnLugar.length;
    for(i=0;i<btnLlen;i++){
      if(btnLugar[i][0]==dia){
        btnLugar[i][1]=0;
      }
    }

  $("#lugar"+lugar+"-"+dia).html('');
  $("#lugar"+lugar+"-"+dia).append(''+
  '<div class="row">'+
    '<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>'+
    '<div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">'+
      '<input id="inputLugar'+lugar+'" type="button" onclick="javascript:abrirGoogleMap('+lugar+');" class="btn btn-info" style="margin-bottom:10px;" name="startdate" placeholder="Ingrese lugar">'+
      '<button id="brrLugar'+lugar+'" onclick="javascript:borrarLugar('+lugar+','+dia+');" class="btn btn-success" style="margin-bottom:10px; margin-left:10px;"><i class="fa fa-trash"></i>&nbsp;Borrar</button>'+
    '</div>'+
  '</div>'+
  '<div id=hora'+lugar+'-'+dia+'>'+
  ''+
  '</div>'+
  '<div id=btnHora'+lugar+'-'+dia+'>'+
  '</div>');


  $("#btnHora"+lugar+"-"+dia).append(''+
  '<div class="row">'+
    '<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>'+
    '<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">'+
      '<button onclick="javascript:hora('+nuevoDia+','+nuevoLugar+','+hora_id+','+lugar+','+dia+');" class="btn btn-primary dim"><i class="fa fa-clock-o"></i>&nbsp;Agregar hora</button>'+
    '</div>'+
  '</div>');

  var lugarDia=[lugar_id,dia];
  var lugarDia_input=[lugar,dia];
  lugares.push(lugarDia);
  lugares_input.push(lugarDia_input);
  lugar_id++;
  }
}

function hora(nuevoDia,nuevoLugar,hora,lugar,dia){
  var valido=1;

  if(hora_id!=0){
    hlen=horas_input.length;

    for(i=0;i<hlen;i++){
      var inputH=$("#inputHora"+horas_input[i][0]).val();
      if(inputH == ''){
        valido=0;
        break;
      }
    }
    if(valido==1){
      Llen=lugares_input.length;
      for(i=0;i<Llen;i++){
        var inputL=$("#inputLugar"+lugares_input[i][0]).val();
        if(inputL == ''){
          valido=0;
          break;
        }
      }
    }
    if(valido==1){
      Dlen=dias_input.length;
      for(i=0;i<Dlen;i++){
        var inputD=$("#calendario"+dias_input[i]).val();
        if(inputD == ''){
          valido=0;
          break;
        }
      }
    }
  }

  var input=$("#inputLugar"+lugar).val();

  if(input == ''){
    $('#exampleModalLong').modal({backdrop: 'static', keyboard: false})
    $("#exampleModalLong").modal("show");
    $(".mensaje1").html("");
    $(".mensaje1").append(''+
    '<div class="modal-header">'+
      '<h1 class="text-center modal-title" id="exampleModalLongTitle">Datos iválidos</h1>'+
    '</div>'+
    '<div class="text-center modal-body">'+
      '<h2>Por favor ingrese un lugar de intercambio</h2>'+
    '</div>'+
    '<div class="modal-footer">'+
      '<button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>'+
    '</div>');
  }
  else if(valido!=1){
    $('#exampleModalLong').modal({backdrop: 'static', keyboard: false})
    $("#exampleModalLong").modal("show");
    $(".mensaje1").html("");
    $(".mensaje1").append(''+
    '<div class="modal-header">'+
      '<h1 class="text-center modal-title" id="exampleModalLongTitle">Datos iválidos</h1>'+
    '</div>'+
    '<div class="text-center modal-body">'+
      '<h2>Por favor ingrese todos los datos antes de agregar una nueva hora de intercambio</h2>'+
    '</div>'+
    '<div class="modal-footer">'+
      '<button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>'+
    '</div>');
  }
  else{

    $("#hora"+lugar+"-"+dia).prepend(''+
    '<div class="row">'+
      '<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>'+
      '<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">'+
        '<input id="inputHora'+hora+'" type="time" class="btn btn-info" style="margin-bottom:10px;" name="startdate" placeholder="Ingrese Hora"/>'+
        '<button id="brrHora'+hora+'" onclick="javascript:borrarHora('+hora+','+lugar+','+dia+');" class="btn btn-success" style="margin-bottom:10px; margin-left:10px;"><i class="fa fa-trash"></i>&nbsp;Borrar</button>'+
      '</div>'+
    '</div>');

    $("#inputHora"+hora).focus();

    var nextHora=hora_id+1;
    $("#btnHora"+lugar+"-"+dia).html('');
    $("#btnHora"+lugar+"-"+dia).append(''+
    '<div class="row">'+
      '<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>'+
      '<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">'+
        '<button onclick="javascript:hora(0,0,'+nextHora+','+lugar+','+dia+');" class="btn btn-primary dim"><i class="fa fa-clock-o"></i>&nbsp;Agregar hora</button>'+
      '</div>'+
    '</div>');

    var horaLugarDia=[hora_id,lugar,dia];
    var horaLugarDia_input=[hora,lugar,dia];
    horas.push(horaLugarDia);
    horas_input.push(horaLugarDia_input);
    hora_id++;


    //se crea otra seccion de lugar

    var nuevoBtnLugar;
    var indiceNuevoBntLugar;
    var btnLlen=btnLugar.length;
    for(i=0;i<btnLlen;i++){
      if(btnLugar[i][0]==dia){
        indiceNuevoBntLugar=i;
        nuevoBtnLugar=btnLugar[i][1];
      }
    }


    if(nuevoBtnLugar==0){
      btnLugar[indiceNuevoBntLugar][1]=1;

      $("#dia"+dia).append(''+
      '<div id=lugar'+lugar_id+'-'+dia+'>'+
    ''+
        '<div id=hora'+lugar_id+'-'+dia+'>'+
    ''+
        '</div>'+
    ''+
      '</div>');

      $("#lugar"+lugar_id+"-"+dia).append(''+
      '<div class="row">'+
        '<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>'+
        '<div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">'+
          '<button onclick="javascript:lugar(0,1,'+lugar_id+','+dia+');" class="btn btn-primary dim"><i class="fa fa-map-marker"></i>&nbsp;Agregar lugar</button>'+
        '</div>'+
      '</div>');
    }
    //se crea otra seccion de Datos
    var nuevoBtnDia;
    var indiceNuevoBntDia;
    var btnDlen=btnDia.length;
    for(i=0;i<btnDlen;i++){
      if(btnDia[i][0]==dia){
        indiceNuevoBntDia=i;
        nuevoBtnDia=btnDia[i][1];
      }
    }

    if(nuevoDia==1 && nuevoBtnDia==0){
      btnDia[indiceNuevoBntDia][1]=1;
      $("#datos").append(''+
      '<div id="datosdia'+dia_id+'" class="row">'+
        '<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>'+
        '<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">'+
          '<div class="ibox-content" style="margin-top:30px; background-color:rgba(255,255,255,0.6);">'+
            '<div class="row">'+
              '<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>'+
              '<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">'+
    ''+
    ''+
                '<div id="dia'+dia_id+'">'+
                  '<div class="row">'+
                    '<div class="col">'+
                        '<button onclick="javascript:dia('+dia_id+');" class="btn btn-primary dim"><i class="fa fa-calendar"></i>&nbsp;Agregar día</button>'+
                    '</div>'+
                  '</div>'+
  ''+
                  '<div id=lugar'+lugar_id+'-'+dia_id+'>'+
  ''+
                    '<div id=hora'+lugar_id+'-'+dia_id+'>'+
  ''+
                    '</div>'+
                    '<div id=btnHora'+lugar+'-'+dia+'>'+
                    '</div>'+
  ''+
                  '</div>'+
  ''+
                '</div>'+
    ''+
    ''+
              '</div>'+
              '<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>'+
            '</div>'+
          '</div>'+
        '</div>'+
        '<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>'+
      '</div>');
    }
  }
}

function borrarHora(hora,lugar,dia){
  var len=horas_input.length;
  var numHoras=0;
  var indexB=-1;

  for(i=0;i<len;i++){
    if(horas_input[i][1]==lugar && horas_input[i][2]==dia){
      numHoras++;
    }
    if(horas_input[i][0]==hora){
      indexB=i;
    }
  }

  horas_input.splice(indexB,1);
  $("#inputHora"+hora).hide();
  $("#brrHora"+hora).hide();

  // console.log("numero horas:");
  // console.log(numHoras);
  // console.log("arreglo horas:");
  // console.log(horas_input);

}

function borrarLugar(lugar,dia){
  var len=lugares_input.length;
  var numLugares=0;
  var indexB=-1;

  for(i=0;i<len;i++){
    if(lugares_input[i][1]==dia){
      numLugares++;
    }
    if(lugares_input[i][0]==lugar){
      indexB=i;
    }
  }

  //borramos horas
  var lenH=horas_input.length;
  for(i=0;i<lenH;i++){
    if(horas_input[i][1]==lugar){
      $("#inputHora"+horas_input[i][0]).hide();
      $("#brrHora"+horas_input[i][0]).hide();

      horas_input.splice(i,1);
      lenH=horas_input.length;
      i=i-1;
    }
  }
  //borramos lugar
  var nuevoBtnLugar;
  var indiceNuevoBntLugar;
  lugares_input.splice(indexB,1);

  var btnLlen=btnLugar.length;
  for(i=0;i<btnLlen;i++){
    if(btnLugar[i][0]==dia){
      indiceNuevoBntLugar=i;
      nuevoBtnLugar=btnLugar[i][1];
    }
  }


  $("#lugar"+lugar+"-"+dia).html('')
  if(nuevoBtnLugar==0){
    btnLugar[indiceNuevoBntLugar][1]=1;
    $("#lugar"+lugar+"-"+dia).append(''+
    '<div class="row">'+
      '<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>'+
      '<div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">'+
        '<button onclick="javascript:lugar(1,0,'+lugar+','+dia+');" class="btn btn-primary dim"><i class="fa fa-map-marker"></i>&nbsp;Agregar lugar</button>'+
      '</div>'+
    '</div>');
  }
  else{
    $("#lugar"+lugar+"-"+dia).append(''+
    '<div class="row">'+
      '<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>'+
      '<div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">'+
      '</div>'+
    '</div>');
  }

  $("#inputLugar"+lugar).hide();
  $("#brrLugar"+lugar).hide();


}

function borrarDia(dia){

  //borramos dias
  var len=dias_input.length;
  for(i=0;i<len;i++){
    if(dias_input[i]==dia){
      dias_input.splice(i,1);
    }
  }

  //borramos lugares
  var lenL=lugares_input.length;
  for(i=0;i<lenL;i++){
    if(lugares_input[i][1]==dia){
      $("#inputLugar"+lugares_input[i][0]).hide();
      $("#brrLugar"+lugares_input[i][0]).hide();

      lugares_input.splice(i,1);
      lenL=lugares_input.length;
      i=i-1;
    }
  }

  //borramos horas
  var lenH=horas_input.length;
  for(i=0;i<lenH;i++){
    if(horas_input[i][2]==dia){
      $("#inputHora"+horas_input[i][0]).hide();
      $("#brrHora"+horas_input[i][0]).hide();

      horas_input.splice(i,1);
      lenH=horas_input.length;
      i=i-1;
    }
  }

  //borramos html
  var nuevoBtnDia;
  var indiceNuevoBntDia;
  var btnDlen=btnDia.length;
  for(i=0;i<btnDlen;i++){
    if(btnDia[i][0]==dia){
      indiceNuevoBntDia=i;
      nuevoBtnDia=btnDia[i][1];
    }
  }

  $("#datosdia"+dia).html('');

  if(nuevoBtnDia==0){
    btnDia[indiceNuevoBntDia][1]=1;
    $("#datos").append(''+
    '<div id="datosdia'+dia_id+'" class="row" >'+
      '<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>'+
      '<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">'+
        '<div class="ibox-content" style="margin-top:30px; background-color:rgba(255,255,255,0.6);">'+
          '<div class="row">'+
            '<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>'+
            '<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">'+
  ''+
  ''+
              '<div id="dia'+dia_id+'">'+
                '<div class="row">'+
                  '<div class="col">'+
                      '<button onclick="javascript:dia('+dia_id+');" class="btn btn-primary dim"><i class="fa fa-calendar"></i>&nbsp;Agregar día</button>'+
                  '</div>'+
                '</div>'+
  ''+
                  '<div id=lugar'+lugar_id+'-'+dia_id+'>'+
  ''+
                    '<div id=hora'+lugar_id+'-'+dia_id+'>'+
  ''+
                    '</div>'+
                    '<div id=btnHora'+lugar_id+'-'+dia_id+'>'+
                    '</div>'+
  ''+
                  '</div>'+
  ''+
                '</div>'+
    ''+
    ''+
              '</div>'+
              '<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>'+
            '</div>'+
          '</div>'+
        '</div>'+
        '<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>'+
      '</div>');
    }

  }

</script>


<!-- Google maps api style -->
<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 100%;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      #target {
        width: 345px;
      }

      .pac-container{
        z-index: 20000;
      }

    </style>

{% endblock %}
