{% extends 'indexs/index_apoderado.html' %}

{% block menu%}
  <li>
      <a href="{% url 'inicio_ap' %}"><i class="fa fa-child"></i> <span class="nav-label">Mis niños</span> <span class="fa arrow"></span></a>
  </li>
  <li>
      <a href="{% url 'intercambios_a_concretar' %}"><i class="fa fa-exchange"></i> <span class="nav-label">Intercambios a concretar</span><span id="n_cierres" class="label label-info pull-right"></span></a>
  </li>
{% endblock %}

{% block contenido %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
          <h2>Juguetes que {{ infante.nombre }} desea adquirir:</h2>
          <ol class="breadcrumb">
              <a href="{% url 'inicio_ap' %}" class="btn btn-primary pull-right" role="button">Volver</a>
          </ol>
    </div>
</div>

<!-- Modal solicitud -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="mensaje1 modal-content">
      <div class="modal-header">
        <h1 class="text-center modal-title" id="exampleModalLongTitle">#</h1>
      </div>
      <div class="text-center modal-body">
        <h2>#</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal mapa -->
<div class="modal fade" id="exampleModalLong2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="mensaje2 modal-content">
      <div class="modal-header">
        <h1 class="text-center modal-title" id="exampleModalLongTitle">#</h1>
      </div>
      <div class="text-center modal-body">
        <h2>#</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    {% for publicacion in publicaciones %}
      <div class="col-md-3">
          <div class="ibox">
              <div class="ibox-content product-box">
                {% for e in existe %}
                {% if e.0 == publicacion.id %}
                  {% if e.1 == "En espera" %}
                    <h1 class="text-center text-info">Solicitud enviada <i class="fa fa-check"></i></h1>
                  {% elif e.1 == "Aceptada" %}
                    <h1 class="text-center text-info">Solicitud aceptada <i class="fa fa-check"></i></h1>
                  {% else %}
                    <h1 class="text-center text-danger">Solicitud rechazada <i class="fa fa-times"></i></h1>
                  {% endif %}
                {% endif %}
                {% endfor %}
                  <div id="f{{publicacion.id}}" class="product-imitation lazur-bg">
                      <img id="i{{publicacion.id}}" style="max-width:98%;" src="{{publicacion.producto.foto.url}}">
                      <script>
                        var heightt=(screen.height/3);
                        var heightf=heightt+180;
                        document.getElementById("i{{publicacion.id}}").style.maxHeight=heightt+"px";
                        document.getElementById("f{{publicacion.id}}").style.maxheight=heightf+"px";
                      </script>
                  </div>
                  <div class="product-desc">
                    <a href="#" class="product-name text-center"> <h1>{{publicacion.producto.nombre}}</h1></a>
                    <small class="text-muted"><h2>{{publicacion.producto.get_categoria_display}}</h2></small>
                    <div class="small m-t-xs">
                      <h3>{{infante.nombre}} desea intercambiar este juguete a cambio de:</h3>
                      {% for pu in productos %}
                        {% if pu.0 ==  publicacion.id %}
                          {% for producto in pu.1 %}
                            <div class="well">
                              <b>{{producto.nombre}}:  </b>
                              <img id="i{{producto.id}}{{publicacion.id}}" style="max-width:98%;" src="{{producto.foto.url}}">
                              <script>
                                var heightt=(screen.height/25);
                                document.getElementById("i{{producto.id}}{{publicacion.id}}").style.maxHeight=heightt+"px";
                              </script>
                            </div>
                          {% endfor %}
                        {% endif %}
                      {% endfor %}
                    </div>
                    <div class="m-t text-center">
                        <button onclick="javascript:configSolicitud({{publicacion.id}});" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#exampleModalLong" class="btn btn-outline btn-primary"><i class="fa fa-gear"></i>&nbsp;Configurar solicitud <i class="fa fa-long-arrow-right"></i></button>
                    </div>
                  </div>
              </div>
          </div>
      </div>
      {% endfor %}
  </div>
</div>

{% endblock %}

{% block codigo_js %}
<script>

  var activo=false

// cierres pendientes:
$.ajax({
  type: "POST",
  url:"{% url 'cierresPendientes' %}",
  data:{
    csrfmiddlewaretoken:"{{ csrf_token }}",
    rutApoderado:"{{apoderado.rut}}"
  },

  success: function(response){
    $("#n_cierres").html("");
    $("#n_cierres").append(''+response.numero+'');
  }
})

function configSolicitud(id){

  $.ajax({
    type: "POST",
    url:"{% url 'cargarDatosPublicacion' %}",
    dataType:"json",
    data:{
      csrfmiddlewaretoken:"{{ csrf_token }}",
      publicacion_id: id
    },

    success: function(response){
      console.log(response.data)

      $(".mensaje1").html("");
      $(".mensaje1").append(''+
      '<div class="modal-header">'+
      '<h1 class="text-center modal-title" id="exampleModalLongTitle">Enviar solicitud</h1>'+
      '</div>'+
      '<div class="modal-body">'+
      '<div class="text-center ">'+
      '<h2>Por favor seleccione una opción para concretar el intercambio</h2>'+
      '</div>'+
      '<div id="datos">'+
      '</div>'+
      '</div>'+
      '<div class="modal-footer">'+
      '<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>'+
      '</div>');

      for(d=0;d<response.data.length;d++){

        $("#datos").append(''+
        '<div class="row">'+
          '<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>'+
          '<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">'+
            ''+
            ''+
            '<div id="dia'+d+'">'+
              '<div class="row">'+
                '<div class="col">'+
                  '<div class="well">'+
                    '<b>Día: </b>'+response.data[d][0]+''+
                  '</div>'+
                '</div>'+
              '</div>'+
            '</div>'+
            ''+
          '</div>'+
          '<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>'+
        '</div>');

        for(l=1;l<response.data[d].length;l++){
          $("#dia"+d).append(''+
          '<div class="row">'+
            '<div id="espH'+l+'-'+d+'" class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>'+
            '<div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">'+
              '<div id="lugar'+l+'-'+d+'">'+
                '<div class="well">'+
                  '<b>Lugar: </b>'+response.data[d][l][0]+''+
                  '<button onclick="javascript:verLugar(\''+response.data[d][l][0]+'\');" class="btn btn-warning pull-right" data-dismiss="modal"><i class="fa fa-map-marker"></i>&nbsp;Mapa</button>'+
                '</div>'+
              '</div>'+
            '</div>'+
          '</div>');


          for(h=1;h<response.data[d][l].length;h++){
              $("#lugar"+l+'-'+d).append(''+
              '<div class="row">'+
                '<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>'+
                '<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">'+
                  '<div class="well">'+
                    '<div class="row">'+
                      '<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">'+
                        '<b>Hora: </b>'+response.data[d][l][h]+''+
                      '</div>'+
                      '<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">'+
                        '<button onclick="javascript:solicitar('+response.ids[d][l][h]+','+id+');" type="button" class="btn btn-info">Solicitar</button>'+
                      '</div>'+
                    '</div>'+
                  '</div>'+
                '</div>'+
              '</div>');

          }

        }

      }

    }

  })
}

function solicitar(idDatosPublicacion,idPublicacion){
  if(activo==false){
    activo=true

    $.ajax({
      type: "POST",
      url:"{% url 'solicitar' %}",
      dataType:"json",
      data:{
        csrfmiddlewaretoken:"{{ csrf_token }}",
        datosPublicacion_id: idDatosPublicacion,
        Publicacion_id: idPublicacion,
        infanteAutor_id: "{{ infante.id }}"
      },

      success: function(response){

        $(".mensaje1").html("");
        $(".mensaje1").append(''+
        '<div class="modal-header">'+
        '<h1 class="text-center modal-title" id="exampleModalLongTitle">¡Solicitud enviada exitosamente!</h1>'+
        '</div>'+
        '<div class="text-center modal-body">'+
        '<h2>Usted recibirá una notificación en la sección <b>Intercambios a concretar</b> en caso de ser aceptada la solicitud</h2>'+
        '</div>'+
        '<div class="modal-footer">'+
        '<button onclick="javascript:recargar();" type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>'+
        '</div>');
      }
    })
  }
  else{
    console.log("ah ah ah")
  }
}

function recargar(){
  location.reload();
}

</script>

<!-- Google maps api -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-xLcAPt_Zrif2ts7Gq1MZhnBLx2YNZRw&libraries=places"
        async defer></script>

<script>
  function verLugar(direccion){
    abrirGoogleMap(direccion)
  }

  var map;
  var marker;

  function initAutocomplete(direccion) {

      var geocoder = new google.maps.Geocoder;
      geocoder.geocode( { 'address': direccion}, function(results, status) {
        map.setCenter(results[0].geometry.location);
        placeMarker(results[0].geometry.location, map);
      });
      zo=12;


    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: -33.437880929381386, lng: -70.65050173851023},
      zoom: zo,
      mapTypeId: 'roadmap'
    });

    input = document.getElementById('pac-input');

    // Create the search box and link it to the UI element.
    var searchBox = new google.maps.places.SearchBox(input);
    // map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
    //
    // Bias the SearchBox results towards current map's viewport.
    map.addListener('bounds_changed', function() {
      searchBox.setBounds(map.getBounds());
    });

    var markers = [];
    // Listen for the event fired when the user selects a prediction and retrieve
    // more details for that place.
    searchBox.addListener('places_changed', function() {
      var places = searchBox.getPlaces();

      if (places.length == 0) {
        return;
      }

      // Clear out the old markers.
      markers.forEach(function(marker) {
        marker.setMap(null);
      });
      markers = [];

      // For each place, get the icon, name and location.
      var bounds = new google.maps.LatLngBounds();
      places.forEach(function(place) {
        if (!place.geometry) {
          console.log("Returned place contains no geometry");
          return;
        }
        var icon = {
          url: place.icon,
          size: new google.maps.Size(71, 71),
          origin: new google.maps.Point(0, 0),
          anchor: new google.maps.Point(17, 34),
          scaledSize: new google.maps.Size(25, 25)
        };

        // Create a marker for each place.
        markers.push(new google.maps.Marker({
          map: map,
          icon: icon,
          title: place.name,
          position: place.geometry.location
        }));

        if (place.geometry.viewport) {
          // Only geocodes have viewport.
          bounds.union(place.geometry.viewport);
        } else {
          bounds.extend(place.geometry.location);
        }
      });
      map.fitBounds(bounds);
    });

  }

  function placeMarker(position, map) {
    if(marker==null){
      marker = new google.maps.Marker({
        position: position,
        map: map
      });
    }
    else{
      marker.setPosition(position);
    }
      map.panTo(position);
  }


  function abrirGoogleMap(direccion){
    //google maps
    $('#exampleModalLong2').modal({backdrop: 'static', keyboard: false})
    $("#exampleModalLong2").modal("show");
    $(".mensaje2").html("");
    $(".mensaje2").append(''+
    '<div class="modal-header">'+
      '<h1 class="text-center modal-title" id="exampleModalLongTitle">Lugar de encuentro</h1>'+
    '</div>'+
    '<div class="text-center modal-body">'+
      '<input id="pac-input" class="controls" type="text" placeholder="Search Box">'+
      '<div id="map" style="height:'+screen.height*0.5+'px;"></div>'+
    '</div>'+
    '<div class="modal-footer">'+
      '<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalLong" data-dismiss="modal">Aceptar</button>'+
    '</div>');
    initAutocomplete(direccion);
    marker=null;

  }
</script>

<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100px;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      #target {
        width: 345px;
      }

      .modal { overflow: auto !important; }
    </style>

{% endblock %}
