{% extends 'indexs/index_infante.html' %}
{% load static %}

{% block menu%}
  <li >
      <a href="{% url 'galeria_in' infante.id %}"><i class="fa fa-picture-o"></i> <span class="nav-label">Galería</span></a>
  </li>
  <li >
      <a href="{% url 'intercambio_in'%}"><i class="fa fa-exchange"></i> <span class="nav-label">Intercambio</span></a>
  </li>
  <li>
      <a href="{% url 'VerAnalisis_in'%}"><i class="fa fa-id-card-o"></i> <span class="nav-label">Mi perfil</span></a>
  </li>
  <li class="active">
      <a href="{% url 'verDeseados' infante.id 1 %}"><i class="fa fa-send-o"></i> <span class="nav-label">Solicitudes enviadas</span></a>
  </li>
  <li>
      <a href="{% url 'recibido' infante.id 1 %}"><i class="fa fa-envelope"></i> <span class="nav-label">Solicitudes recibidas</span><span id="n_recividas" class="label label-info pull-right"></span></a>
  </li>
  {% endblock %}

  {% block contenido %}
  <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-lg-12">
            <h2>Solicitudes enviadas</h2>
      </div>
  </div>

  <!-- Modal publicar -->
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="mensaje1 modal-content">
        <div class="modal-header">
          <h1 class="text-center modal-title" id="exampleModalLongTitle">#</h1>
        </div>
        <div class="text-center modal-body">
          <h2>#</h2>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      {% for publicacion in publicaciones %}
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">
                  <div id="a{{publicacion.id}}">
                    <h1 class="text-center">Solicitud en espera <i class="fa fa-exchange"></i></h1>
                  </div>
                  <script>
                  var id="{{publicacion.id}}"
                  </script>
                  {% for e in existe %}
                    {% if e.0 == publicacion.id %}
                      {% if e.1 == "En espera" %}
                      <script>
                        document.getElementById('a'+id).innerHTML='<h1 class="text-center text-info">Solicitud enviada <i class="fa fa-check"></i></h1>';
                      </script>
                      {% elif e.1 == "Solicitud rechazada" %}
                      <script>
                      document.getElementById('a'+id).innerHTML='<h1 class="text-center text-danger">Solicitud rechazada <i class="fa fa-times"></i></h1>';
                      </script>
                      {% else %}
                      <script>
                        document.getElementById('a'+id).innerHTML='<h1 class="text-center text-info">Solicitud aceptada <i class="fa fa-check"></i></h1>';
                      </script>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                    <div id="f{{publicacion.id}}" class="product-imitation lazur-bg">
                        <img id="i{{publicacion.id}}" style="max-width:98%;" src="{{publicacion.producto.foto.url}}">
                        <script>
                          var heightt=(screen.height/3);
                          var heightf=heightt+180;
                          document.getElementById("i{{publicacion.id}}").style.maxHeight=heightt+"px";
                          document.getElementById("f{{publicacion.id}}").style.maxheight=heightf+"px";
                        </script>
                    </div>
                    <div class="product-desc">
                      <a href="#" class="product-name text-center"> <h1>{{publicacion.producto.nombre}}</h1></a>
                      <small class="text-muted"><h2>{{publicacion.producto.get_categoria_display}}</h2></small>
                      <div class="small m-t-xs">
                        <h3>Deseas intercambiar este juguete a cambio de:</h3>
                        {% for pu in productos %}
                          {% if pu.0 ==  publicacion.id %}
                            {% for producto in pu.1 %}
                              <div class="well">
                                <b>{{producto.nombre}}:  </b>
                                <img id="i{{producto.id}}{{publicacion.id}}" style="max-width:98%;" src="{{producto.foto.url}}">
                                <script>
                                  var heightt=(screen.height/25);
                                  document.getElementById("i{{producto.id}}{{publicacion.id}}").style.maxHeight=heightt+"px";
                                </script>
                              </div>
                            {% endfor %}
                          {% endif %}
                        {% endfor %}
                      </div>
                      <div id="editar{{publicacion.id}}" class="m-t text-center">
                          <button  onclick="javascript:verPublicacion({{publicacion.id}});" data-toggle="modal" data-target="#exampleModalLong" class="btn btn-outline btn-primary"><i class="fa fa-gear"></i>&nbsp;Editar solicitud <i class="fa fa-long-arrow-right"></i></button>
                      </div>
                      {% for e in existe %}
                        {% if e.0 == publicacion.id %}
                          {% if e.1 == "Aceptada" %}
                          <script>
                            document.getElementById("editar{{publicacion.id}}").style.display="none";
                          </script>
                          {% endif %}
                        {% endif %}
                      {% endfor %}

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
  </div>
  {% endblock %}

{% block codigo_js %}
<script src="{% static 'Plantilla_Sistema/js/plugins/blueimp/jquery.blueimp-gallery.min.js' %}"></script>

<script> var activo=false </script>

  <!-- Notificciones: -->
  <script>
  $.ajax({
    type: "POST",
    url:"{% url 'notificacionesIn' %}",
    data:{
      csrfmiddlewaretoken:"{{ csrf_token }}",
    },

    success: function(response){
      if(response.solicitudes>0){
        $("#n_recividas").html("");
        $("#n_recividas").append(''+response.solicitudes+'');
        $("#a"+id).html("");
        $("#a"+id).append('<h1 class="text-center text-danger">Solicitud rechazada <i class="fa fa-times"></i></h1>');

      }
    }
  })
  </script>


  <script>

  var datos;

  function verPublicacion(id){
    $.ajax({
      type: "POST",
      url:"{% url 'verPublicacionIn' %}",
      data:{
        csrfmiddlewaretoken:"{{ csrf_token }}",
        idPublicacion: id,
        idInfante:"{{infante.id}}"
      },

      success: function(response){
        datos=response

        var sePide;
        if(response.publicacion[0][1]!=''){
          sePide=response.publicacion[0][1];
        }
        else{
          sePide="--Sin especificación--"
        }

        $(".mensaje1").html("");
        $(".mensaje1").append(''+
        '<div class="modal-header">'+
          '<h1 class="text-center modal-title" id="exampleModalLongTitle">Solicitar Juguete    <button id="cancelar" onclick="cancelarSolicitud();"" type="button" class="btn btn-danger">Cancelar solicitud</button></h1>'+
        '</div>'+
        '<div class="text-center modal-body">'+
          '<h2 class="text-center"><b>'+response.producto[0][2]+'</b></h2>'+
          '<img style="max-width:33%; max-height:'+(screen.height/8)+'px;" src='+ response.producto[0][1] +'>'+
          '<h2>Este juguete se desea intercambiar a cambio de:</h2>'+
          '<h2 class="text-center"><b>'+sePide+'</b></h2>'+
        '</div>'+
        '<div class="modal-footer">'+
          '<h1 class="text-center modal-title" id="exampleModalLongTitle">Mi oferta</h1>'+
          '<div id="oferta">'+
          ''+
          '</div>'+
        '</div>'+
        '<div class="modal-footer">'+
          '<button onclick="desearPublicacion(1);"" type="button" class="btn btn-secondary">Aceptar</button>'+
          '<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>'+
        '</div>');

        for(i=0;i<response.misProductos.length;i++){
          $("#oferta").prepend(''+
          '<div class="row">'+
          '<div class="text-right col-xs-5 col-sm-5 col-md-5 col-lg-5">'+
          ' <img style="margin-bottom:10px; max-width:100%; max-height:'+(screen.height/15)+'px;" src='+ response.misProductos[i][1] +'>'+
          '</div>'+
          '<div class="text-left [ form-group ] col-xs-6 col-sm-6 col-md-6 col-lg-6" style="margin-top:5px;">'+
              '<input type="checkbox" name="fancy-checkbox-info" id="'+i+'" autocomplete="off" />'+
              '<div class="[ btn-group ]">'+
                  '<label for="'+i+'" class="[ btn btn-info ]">'+
                      '<span class="badge badge-info">✓</span>'+
                      '<span>&nbsp;</span>'+
                  '</label>'+
                  '<label for="'+i+'" class="[ btn btn-default active ]">'+
                      ''+response.misProductos[i][2]+''+
                  '</label>'+
              '</div>'+
          '</div>'+
          '</div>'+
          '');

          for(j=0;j<response.productos_antes.length;j++){
            if(response.misProductos[i][0]==response.productos_antes[j]){
              $("#"+i).prop('checked',true);
            }
          }
          if(response.productos_antes.length==0){
            $("#cancelar").hide();
          }

        }

      },
    })
  }

  function cancelarSolicitud(){
    if(activo==false){
      activo=true

      console.log(datos)
      $.ajax({
        type: "POST",
        url:"{% url 'cancelarDesearPublicacion' %}",
        data:{
          csrfmiddlewaretoken:"{{ csrf_token }}",
          infante_autor:"{{infante.id}}",
          publicacionId:datos.publicacion[0][0]
        },

        success: function(response){
          $(".mensaje1").html("");
          $(".mensaje1").append(''+
          '<div class="modal-header">'+
          '<h1 class="text-center modal-title" id="exampleModalLongTitle">¡Solicitud cancelada!</h1>'+
          '</div>'+
          '<div class="text-center modal-body">'+
          '<h2>Se ha cancelado solicitud de intercambio con este juguete</h2>'+
          '</div>'+
          '<div class="modal-footer">'+
          '<button onclick="location.reload();" type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>'+
          '</div>');
        },
      })
    }
    else{
      console.log("ah ah ah")
    }
  }

  function desearPublicacion(editar){
    if(activo==false){
      activo=true

      var productosId=[];
      for(i=0;i<datos.misProductos.length;i++){
        var input=$("#"+i);
        if(input.is(":checked")){
          productosId.push(datos.misProductos[i][0]);
        }
      }

      if(productosId.length>0){
        $.ajax({
          type: "POST",
          url:"{% url 'desearPublicacion' %}",
          data:{
            csrfmiddlewaretoken:"{{ csrf_token }}",
            infante_autor:"{{infante.id}}",
            publicacionId:datos.publicacion[0][0],
            editar_estado:editar,
            'productos_a_dar[]':productosId
          },

          success: function(response){
            $(".mensaje1").html("");
            $(".mensaje1").append(''+
            '<div class="modal-header">'+
            '<h1 class="text-center modal-title" id="exampleModalLongTitle">¡Solicitud de publicación realizada!</h1>'+
            '</div>'+
            '<div class="text-center modal-body">'+
            '<h2>Se ha enviado una notificación a su apoderado para finalizar la solicitud</h2>'+
            '</div>'+
            '<div class="modal-footer">'+
            '<button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>'+
            '</div>');
            location.reload();
          },
        })
      }
      else{
        $(".mensaje1").html("");
        $(".mensaje1").append(''+
        '<div class="modal-header">'+
        '<h1 class="text-center modal-title" id="exampleModalLongTitle">Datos insuficientes</h1>'+
        '</div>'+
        '<div class="text-center modal-body">'+
        '<h2>Debe realizar al menos 1 oferta</h2>'+
        '</div>'+
        '<div class="modal-footer">'+
        '<button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>'+
        '</div>');
      }
    }
    else{
      console.log("ah ah ah")
    }
  }

  </script>

  <style type="text/css">
    .form-group input[type="checkbox"] {
      display: none;
    }

    .form-group input[type="checkbox"] + .btn-group > label span {
      width: 20px;
    }

    .form-group input[type="checkbox"] + .btn-group > label span:first-child {
      display: none;
    }
    .form-group input[type="checkbox"] + .btn-group > label span:last-child {
      display: inline-block;
    }

    .form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
      display: inline-block;
    }
    .form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
      display: none;
    }
  </style>
{% endblock %}
