{% extends 'indexs/index_infante.html' %}
{% load static %}

{% block menu%}
  <li >
      <a href="{% url 'galeria_in' infante.id %}"><i class="fa fa-picture-o"></i> <span class="nav-label">Galería</span></a>
  </li>
  <li>
      <a href="{% url 'VerAnalisis_in'%}"><i class="fa fa-id-card-o"></i> <span class="nav-label">Mi perfil</span></a>
  </li>
  <li>
      <a href="{% url 'verDeseados' infante.id 1 %}"><i class="fa fa-send-o"></i> <span class="nav-label">Solicitudes enviadas</span></a>
  </li>
  <li>
      <a href="{% url 'recibido' infante.id 1 %}"><i class="fa fa-envelope"></i> <span class="nav-label">Solicitudes recibidas</span><span id="n_recividas" class="label label-info pull-right"></span></a>
  </li>
  <li class="active">
      <a href="index.html"><i class="fa fa-list-ul"></i> <span class="nav-label">Intercambio</span> <span class="fa arrow"></span></a>
      <ul class="nav nav-second-level">
          <li><a href="#" id="todo"><i class="fa fa-th"></i>Más Recientes</li>
          <li><a href="#" id="DV"><i class="fa fa-soccer-ball-o"></i>Deportivos y vehículos</a></li>
          <li><a href="#" id="LL"><i class="fa fa-book"></i>Libros</a></li>
          <li><a href="#" id="RM"><i class="fa fa-cogs"></i>Robot y mecánicos</a></li>
          <li><a href="#" id="MC"><i class="fa fa-female"></i>Muñecas y accesorios</a></li>
          <li><a href="#" id="FM"><i class="fa fa-male"></i>Figuras y muñecos de acción</a></li>
          <li><a href="#" id="PM"><i class="fa fa-paw"></i>Peluches y muñecos de trapo</a></li>
          <li><a href="#" id="AV"><i class="fa fa-truck"></i>Autos y vehículos en miniatura</a></li>
          <li><a href="#" id="TA"><i class="fa fa-road"></i>Trenes y accesorios</a></li>
          <li><a href="#" id="AA"><i class="fa fa-flag-checkered"></i>Autopista y accesorios</a></li>
          <li><a href="#" id="HH"><i class="fa fa-wrench"></i>Herramientas</a></li>
          <li><a href="#" id="MM"><i class="fa fa-pencil"></i>Materiales</a></li>
          <li><a href="#" id="CA"><i class="fa fa-cubes"></i>Construcción, acoplamientos y "kits"</a></li>
          <li><a href="#" id="IV"><i class="fa fa-cutlery"></i>Imitación de la vida</a></li>
          <li><a href="#" id="MU"><i class="fa fa-music"></i>Musicales</a></li>
          <li><a href="#" id="AV"><i class="fa fa-camera"></i>Audio-visual</a></li>
          <li><a href="#" id="CT"><i class="fa fa-flask"></i>Ciencia y tecnología</a></li>
          <li><a href="#" id="PR"><i class="fa fa-puzzle-piece"></i>Puzzles y rompecabeza</a></li>
          <li><a href="#" id="MA"><i class="fa fa-delicious"></i>Juego de mesa y azar</a></li>
          <li><a href="#" id="VO"><i class="fa fa-gamepad"></i>Videoconsola y ordenador</a></li>
          <li><a href="#" id="CC"><i class="fa fa-phone"></i>Comunicación</a></li>
          <li><a href="#" id="PH"><i class="fa fa-crosshairs"></i>Puntería y habilidad</a></li>
          <li><a href="#" id="AE"><i class="fa fa-sign-in"></i>Arrastre y empuje</a></li>
          <li><a href="#" id="OV"><i class="fa fa-plane"></i>Voladores</a></li>
          <li><a href="#" id="DA"><i class="fa fa-github-alt"></i>Disfraces y accesorios</a></li>
          <li><a href="#" id="TT"><i class="fa fa-child"></i>Títeres y teatro</a></li>
      </ul>
  </li>
  {% endblock %}

  {% block contenido %}
  <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-lg-12">
            <h2>Juguetes publicados</h2>
      </div>
  </div>

  <!-- Modal publicar -->
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="mensaje1 modal-content">
        <div class="modal-header">
          <h1 class="text-center modal-title" id="exampleModalLongTitle">#</h1>
        </div>
        <div class="text-center modal-body">
          <h2>#</h2>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row wrapper border-bottom border-top white-bg">
      <div class="resultados row">
        <div class="ibox-content">
          <div class=" col-md-12 col-lg-12 text-center">
            <h2>Leyenda</h2>

                <div class="row" style="margin-bottom:10px;">
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <button   type="button" class="btn btn-info" ><i class="fa fa-th"></i></button> <h3>Todo</h3>
                  </div>
                  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <button   type="button" class="btn btn-secondary" ><i class="fa fa-puzzle-piece"></i></button> <h3>0 Juguetes</h3>
                  </div>
                  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <button   type="button" class="btn btn-danger" ><i class="fa fa-puzzle-piece"></i></button> <h3>1 a 50 Juguetes</h3>
                  </div>
                  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <button   type="button" class="btn btn-warning" ><i class="fa fa-puzzle-piece"></i></button> <h3>50 a 100 Juguetes</h3>
                  </div>
                  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <button   type="button" class="btn btn-primary" ><i class="fa fa-puzzle-piece"></i></button> <h3>+100 Juguetes</h3>
                  </div>
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                </div>


          </div>
        </div>
      </div>
  </div>

  <div class="row wrapper border-bottom border-top white-bg">
      <div class="resultados row">
        <div class="ibox-content">
          <div class=" col-md-12 col-lg-12 text-center">
            <h2>Filtro</h2>

            <div class="visible-lg visible-md">
                <div class="row" style="margin-bottom:10px;">
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <button   type="button" class="f_to btn btn-info" id="todo" title='Todos'><i class="fa fa-th"></i></button>
                  </div>
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <button   type="button" class="f_DV btn btn-primary" id="DV" title='Deportivos y vehículos'><i class="fa fa-soccer-ball-o"></i></button>
                  </div>
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <button   type="button" class="f_LL btn btn-primary" id="LL" title='Libros'><i class="fa fa-book"></i></button>
                  </div>
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <button   type="button" class="f_RM btn btn-primary" id="RM" title='Robot y mecánicos'><i class="fa fa-cogs"></i></button>
                  </div>
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <button   type="button" class="f_MC btn btn-primary" id="MC" title='Muñecas y accesorios'><i class="fa fa-female"></i></button>
                  </div>
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <button   type="button" class="f_FM btn btn-primary" id="FM" title='Figuras y muñecos de acción'><i class="fa fa-male"></i></button>
                  </div>
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <button   type="button" class="f_PM btn btn-primary" id="PM" title='Peluches y muñecos de trapo'><i class="fa fa-paw"></i></button>
                  </div>
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <button   type="button" class="f_AV btn btn-primary" id="AV" title='Autos y vehículos en miniatura'><i class="fa fa-truck"></i></button>
                  </div>
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <button   type="button" class="f_TA btn btn-primary" id="TA" title='Trenes y accesorios'><i class="fa fa-road"></i></button>
                  </div>
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <button   type="button" class="f_AA btn btn-primary" id="AA" title='Autopista y accesorios'><i class="fa fa-flag-checkered"></i></button>
                  </div>
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <button   type="button" class="f_HH btn btn-primary" id="HH" title='Herramientas'><i class="fa fa-wrench"></i></button>
                  </div>
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <button   type="button" class="f_MM btn btn-primary" id="MM" title='Materiales'><i class="fa fa-pencil"></i></button>
                  </div>
                </div>

                <div class="row" style="margin-bottom:10px;">
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <button   type="button" class="f_CA btn btn-primary" id="CA" title='Construcción, acoplamientos y "kits"'><i class="fa fa-cubes"></i></button>
                  </div>
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <button   type="button" class="f_IV btn btn-primary" id="IV" title='Imitación de la vida'><i class="fa fa-cutlery"></i></button>
                  </div>
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <button   type="button" class="f_MU btn btn-primary" id="MU" title='Musicales'><i class="fa fa-music"></i></button>
                  </div>
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <button   type="button" class="f_AV btn btn-primary" id="AV" title='Audio-visual'><i class="fa fa-camera"></i></button>
                  </div>
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <button   type="button" class="f_CT btn btn-primary" id="CT" title='Ciencia y tecnología'><i class="fa fa-flask"></i></button>
                  </div>
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <button   type="button" class="f_PR btn btn-primary" id="PR" title='Puzzles y rompecabezas'><i class="fa fa-puzzle-piece"></i></button>
                  </div>
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <button   type="button" class="f_MA btn btn-primary" id="MA" title='Juego de mesa y azar'><i class="fa fa-delicious"></i></button>
                  </div>
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <button   type="button" class="f_VO btn btn-primary" id="VO" title='Videoconsola y ordenador'><i class="fa fa-gamepad"></i></button>
                  </div>
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <button   type="button" class="f_CC btn btn-primary" id="CC" title='Comunicación'><i class="fa fa-phone"></i></button>
                  </div>
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <button   type="button" class="f_PH btn btn-primary" id="PH" title='Puntería y habilidad'><i class="fa fa-crosshairs"></i></button>
                  </div>
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <button   type="button" class="f_AE btn btn-primary" id="AE" title='Arrastre y empuje'><i class="fa fa-sign-in"></i></button>
                  </div>
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <button   type="button" class="f_OV btn btn-primary" id="OV" title='Voladores'><i class="fa fa-plane"></i></button>
                  </div>
                </div>

                <div class="row"  style="margin-bottom:10px;">
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <button   type="button" class="f_DA btn btn-primary" id="DA" title='Disfraces y accesorios'><i class="fa fa-github-alt"></i></button>
                  </div>
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <button   type="button" class="f_TT btn btn-primary" id="TT" title='Títeres y teatro'><i class="fa fa-child"></i></button>
                  </div>
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                </div>
              </div>

            <div class="visible-xs visible-sm">
                <div class="row" style="margin-bottom:10px;">
                  <div  class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <button   type="button" class="f_to btn btn-warning" id="todo" title='Todos'><i class="fa fa-th"></i></button>
                  </div>
                  <div  class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <button   type="button" class="f_DV btn btn-primary" id="DV" title='Deportivos y vehículos'><i class="fa fa-soccer-ball-o"></i></button>
                  </div>
                  <div  class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <button   type="button" class="f_LL btn btn-primary" id="LL" title='Libros'><i class="fa fa-book"></i></button>
                  </div>
                  <div  class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <button   type="button" class="f_RM btn btn-primary" id="RM" title='Robot y mecánicos'><i class="fa fa-cogs"></i></button>
                  </div>
                  <div  class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <button   type="button" class="f_MC btn btn-primary" id="MC" title='Muñecas y accesorios'><i class="fa fa-female"></i></button>
                  </div>
                  <div  class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <button   type="button" class="f_FM btn btn-primary" id="FM" title='Figuras y muñecos de acción'><i class="fa fa-male"></i></button>
                  </div>
                </div>

                <div class="row" style="margin-bottom:10px;">
                  <div  class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <button   type="button" class="f_PM btn btn-primary" id="PM" title='Peluches y muñecos de trapo'><i class="fa fa-paw"></i></button>
                  </div>
                  <div  class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <button   type="button" class="f_AV btn btn-primary" id="AV" title='Autos y vehículos en miniatura'><i class="fa fa-truck"></i></button>
                  </div>
                  <div  class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <button   type="button" class="f_TA btn btn-primary" id="TA" title='Trenes y accesorios'><i class="fa fa-road"></i></button>
                  </div>
                  <div  class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <button   type="button" class="f_AA btn btn-primary" id="AA" title='Autopista y accesorios'><i class="fa fa-flag-checkered"></i></button>
                  </div>
                  <div  class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <button   type="button" class="f_HH btn btn-primary" id="HH" title='Herramientas'><i class="fa fa-wrench"></i></button>
                  </div>
                  <div  class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <button   type="button" class="f_MM btn btn-primary" id="MM" title='Materiales'><i class="fa fa-pencil"></i></button>
                  </div>
                </div>

                <div class="row"  style="margin-bottom:10px;">
                  <div  class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <button   type="button" class="f_CA btn btn-primary" id="CA" title='Construcción, acoplamientos y "kits"'><i class="fa fa-cubes"></i></button>
                  </div>
                  <div  class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <button   type="button" class="f_IV btn btn-primary" id="IV" title='Imitación de la vida'><i class="fa fa-cutlery"></i></button>
                  </div>
                  <div  class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <button   type="button" class="f_MU btn btn-primary" id="MU" title='Musicales'><i class="fa fa-music"></i></button>
                  </div>
                  <div  class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <button   type="button" class="f_AV btn btn-primary" id="AV" title='Audio-visual'><i class="fa fa-camera"></i></button>
                  </div>
                  <div  class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <button   type="button" class="f_CT btn btn-primary" id="CT" title='Ciencia y tecnología'><i class="fa fa-flask"></i></button>
                  </div>
                  <div  class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <button   type="button" class="f_PR btn btn-primary" id="PR" title='Puzzles y rompecabezas'><i class="fa fa-puzzle-piece"></i></button>
                  </div>
                </div>

                <div class="row"  style="margin-bottom:10px;">
                  <div  class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <button   type="button" class="f_MA btn btn-primary" id="MA" title='Juego de mesa y azar'><i class="fa fa-delicious"></i></button>
                  </div>
                  <div  class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <button   type="button" class="f_VO btn btn-primary" id="VO" title='Videoconsola y ordenador'><i class="fa fa-gamepad"></i></button>
                  </div>
                  <div  class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <button   type="button" class="f_CC btn btn-primary" id="CC" title='Comunicación'><i class="fa fa-phone"></i></button>
                  </div>
                  <div  class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <button   type="button" class="f_PH btn btn-primary" id="PH" title='Puntería y habilidad'><i class="fa fa-crosshairs"></i></button>
                  </div>
                  <div  class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <button   type="button" class="f_AE btn btn-primary" id="AE" title='Arrastre y empuje'><i class="fa fa-sign-in"></i></button>
                  </div>
                  <div  class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <button   type="button" class="f_OV btn btn-primary" id="OV" title='Voladores'><i class="fa fa-plane"></i></button>
                  </div>
                </div>

                <div class="row"  style="margin-bottom:10px;">
                  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
                  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
                  <div  class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <button   type="button" class="f_DA btn btn-primary" id="DA" title='Disfraces y accesorios'><i class="fa fa-github-alt"></i></button>
                  </div>
                  <div  class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <button   type="button" class="f_TT btn btn-primary" id="TT" title='Títeres y teatro'><i class="fa fa-child"></i></button>
                  </div>
                  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
                  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
                </div>
              </div>


            </div>
        </div>
      </div>
  </div>

  <div class="wrapper wrapper-content">
            <div class="resultados row">
                <div class="col-lg-12">
                <div class="ibox float-e-margins">

                    <div class="ibox-content">

                        <h2>Resultados</h2>
                        <p>
                            Categoria: <strong id="categoria">Todos</strong>
                        </p>

                        <div id="juguetes" class="lightBoxGallery">

                        </div>

                      </div>
                  </div>
              </div>
            </div>
            <div class="row  text-center">
              <div class="col-lg-12">
                <ul class="pagination" id="pag">
                  <li class="page-item "><span class="page-link">1<span class="sr-only">(current)</span></span></li>
                  <li class="page-item active"><span class="page-link"><b>2</b><span class="sr-only">(current)</span></span></li>
                  <li class="page-item "><span class="page-link">3<span class="sr-only">(current)</span></span></li>
                  <li class="page-item "><span class="page-link">4<span class="sr-only">(current)</span></span></li>
                  <li class="page-item "><span class="page-link">5<span class="sr-only">(current)</span></span></li>
                </ul>
              </div>
            </div>
        </div>


  {% endblock %}

  {% block codigo_js %}
  <script src="{% static 'Plantilla_Sistema/js/plugins/blueimp/jquery.blueimp-gallery.min.js' %}"></script>

  <!-- Notificciones: -->
  <script>
    var activo=false
  $.ajax({
    type: "POST",
    url:"{% url 'notificacionesIn' %}",
    data:{
      csrfmiddlewaretoken:"{{ csrf_token }}",
    },

    success: function(response){
      if(response.solicitudes>0){
        $("#n_recividas").html("");
        $("#n_recividas").append(''+response.solicitudes+'');
      }
    }
  })
  </script>

  <script>
    $(".resultados").hide();

    console.log(screen.height)
    $.ajax({
      type: "POST",
      url:"{% url 'filtro' %}",
      data:{
        csrfmiddlewaretoken:"{{ csrf_token }}",
        filtro: 'todo'
      },

      success: function(response){
        $(".resultados").show();
        $("#juguetes").html("");
        $("#categoria").html("");
        $("#categoria").append("Más recientes");
        paginar(0,response.filtro,response.largoPag);
        // actualizar(response);.

        keys=Object.keys(response.poblacion)

        for(var i=0;i<keys.length;i++){
          console.log($(".f_"+keys[i]+""))
          if(response.poblacion[""+keys[i]+""]<=0){
            $(".f_"+keys[i]+"").removeClass("btn btn-primary").addClass("btn btn-seconday");
          }
          else if(response.poblacion[""+keys[i]+""]>0 && response.poblacion[""+keys[i]+""]<=50 ){
            $(".f_"+keys[i]+"").removeClass("btn btn-primary").addClass("btn btn-danger");
            $(".f_"+keys[i]+"").attr("title", ""+$(".f_"+keys[i]+"")[0].title+": ["+response.poblacion[""+keys[i]+""]+"]");


          }
          else if(response.poblacion[""+keys[i]+""]>50 && response.poblacion[""+keys[i]+""]<=100 ){
            $(".f_"+keys[i]+"").removeClass("btn btn-primary").addClass("btn btn-warning");
            $(".f_"+keys[i]+"").attr("title", ""+$(".f_"+keys[i]+"")[0].title+": ["+response.poblacion[""+keys[i]+""]+"]");
          }
          else{
            $(".f_"+keys[i]+"").attr("title", ""+$(".f_"+keys[i]+"")[0].title+": ["+response.poblacion[""+keys[i]+""]+"]");
          }
        }
        // for(var i=0;i<24;i++){
        //   $("#F_").html("");
        //   $("#n_recividas").append(''+response.solicitudes+'');
        //
        // }
        console.log(response.poblacion)

        console.log(response.poblacion["LL"])
      },
    })
  </script>

  <script>

  var datos;

  function paginar(numero,filtroo,largo){
    $.ajax({
      type: "POST",
      url:"{% url 'filtro_pag' %}",
      data:{
        csrfmiddlewaretoken:"{{ csrf_token }}",
        filtro: filtroo,
        pagina: numero,
        largo: largo
      },

      success: function(response){
        $(".resultados").show();
        $("#juguetes").html("");

        actualizar(response);
      },
    })
  }

  function actualizar(response){

    var f=response.filtro;
    console.log(response.largoPag);
    $("#pag").html("");
    for(var i=0;i<response.largoPag;i++){
      if(i==response.pagina){
        $("#pag").append(''+
        '<li class="page-item active"><a href="#" onclick="paginar('+i+',\''+f+'\',\''+response.largoPag+'\');"><span class="page-link"><b>'+(i+1)+'</b><span class="sr-only">(current)</span></span></li></a>');
      }
      else{
        $("#pag").append(''+
        '<li class="page-item "><a href="#" onclick="paginar('+i+',\''+f+'\',\''+response.largoPag+'\');"><span class="page-link">'+(i+1)+'<span class="sr-only">(current)</span></span></li></a>');
      }
    }


    for(var i=0;i<response.largo;i++){
      $("#juguetes").append('<a href="#" onclick="verPublicacion('+response.data[i][0]+');" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#exampleModalLong" title='+response.data[i][2]+'><img style="max-width:33%; max-height:'+(screen.height/3)+'px;" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="exampleModalLong" src='+ response.data[i][1] +'></a>');
    }
  }

  function verPublicacion(id){
    $.ajax({
      type: "POST",
      url:"{% url 'verPublicacion' %}",
      data:{
        csrfmiddlewaretoken:"{{ csrf_token }}",
        idProducto: id,
        idInfante:"{{infante.id}}"
      },

      success: function(response){
        datos=response

        var sePide;
        if(response.publicacion[0][1]!=''){
          sePide=response.publicacion[0][1];
        }
        else{
          sePide="--Sin especificación--"
        }

        $(".mensaje1").html("");
        $(".mensaje1").append(''+
        '<div class="modal-header">'+
          '<h1 class="text-center modal-title" id="exampleModalLongTitle">Solicitar Juguete    <button id="cancelar" onclick="cancelarSolicitud();"" type="button" class="btn btn-danger">Cancelar solicitud</button></h1>'+
        '</div>'+
        '<div class="text-center modal-body">'+
          '<h2 class="text-center"><b>'+response.producto[0][2]+'</b></h2>'+
          '<img style="max-width:33%; max-height:'+(screen.height/8)+'px;" src='+ response.producto[0][1] +'>'+
          '<p id="estado"></br><b>Estado: </b>'+response.producto[0][3]+'</p>'+
          '<p id="marca"></br><b>Marca: </b>'+response.producto[0][4]+'</p>'+
          '<p id="modelo"></br><b>Modelo: </b>'+response.producto[0][5]+'</p>'+
          '<p id="serie"></br><b>Serie: </b>'+response.producto[0][6]+'</p>'+
          '<p id="anno"></br><b>Año: </b>'+response.producto[0][7]+'</p>'+
          '<p id="tamano"></br><b>Tamaño: </b>'+response.producto[0][8]+'</p>'+
          '<p id="material"></br><b>Material: </b>'+response.producto[0][9]+'</p>'+
          '<h2>Este juguete se desea intercambiar a cambio de:</h2>'+
          '<h2 class="text-center"><b>'+sePide+'</b></h2>'+
        '</div>'+
        '<div class="modal-footer">'+
          '<h1 class="text-center modal-title" id="exampleModalLongTitle">Mi oferta</h1>'+
          '<div id="oferta">'+
          ''+
          '</div>'+
        '</div>'+
        '<div class="modal-footer">'+
          '<button onclick="desearPublicacion();" type="button" class="btn btn-secondary">Aceptar</button>'+
          '<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>'+
        '</div>');

        if(response.producto[0][3]==null){
          $("#estado").html("");
        }
        if(response.producto[0][4]==null){
          $("#marca").html("");
        }
        if(response.producto[0][5]==null){
          $("#modelo").html("");
        }
        if(response.producto[0][6]==null){
          $("#serie").html("");
        }
        if(response.producto[0][7]==null){
          $("#anno").html("");
        }
        if(response.producto[0][8]==null){
          $("#tamano").html("");
        }
        if(response.producto[0][9]==null){
          $("#material").html("");
        }
        for(i=0;i<response.misProductos.length;i++){
          $("#oferta").prepend(''+
          '<div class="row">'+
          '<div class="text-right col-xs-5 col-sm-5 col-md-5 col-lg-5">'+
          ' <img style="margin-bottom:10px; max-width:100%; max-height:'+(screen.height/15)+'px;" src='+ response.misProductos[i][1] +'>'+
          '</div>'+
          '<div class="text-left [ form-group ] col-xs-6 col-sm-6 col-md-6 col-lg-6" style="margin-top:5px;">'+
              '<input type="checkbox" name="fancy-checkbox-info" id="'+i+'" autocomplete="off" />'+
              '<div class="[ btn-group ]">'+
                  '<label for="'+i+'" class="[ btn btn-info ]">'+
                      '<span class="badge badge-info">✓</span>'+
                      '<span>&nbsp;</span>'+
                  '</label>'+
                  '<label for="'+i+'" class="[ btn btn-default active ]">'+
                      ''+response.misProductos[i][2]+''+
                  '</label>'+
              '</div>'+
          '</div>'+
          '</div>'+
          '');

          for(j=0;j<response.productos_antes.length;j++){
            if(response.misProductos[i][0]==response.productos_antes[j]){
              $("#"+i).prop('checked',true);
            }
          }
          if(response.productos_antes.length==0){
            $("#cancelar").hide();
          }

        }

      },
    })
  }

  function cancelarSolicitud(){
    console.log(datos)
    $.ajax({
      type: "POST",
      url:"{% url 'cancelarDesearPublicacion' %}",
      data:{
        csrfmiddlewaretoken:"{{ csrf_token }}",
        infante_autor:"{{infante.id}}",
        publicacionId:datos.publicacion[0][0]
      },

      success: function(response){
        $(".mensaje1").html("");
        $(".mensaje1").append(''+
        '<div class="modal-header">'+
        '<h1 class="text-center modal-title" id="exampleModalLongTitle">¡Solicitud cancelada!</h1>'+
        '</div>'+
        '<div class="text-center modal-body">'+
        '<h2>Se ha cancelado solicitud de intercambio con este juguete</h2>'+
        '</div>'+
        '<div class="modal-footer">'+
        '<button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>'+
        '</div>');
      },
    })
  }

  function desearPublicacion(){
    if (activo==false){
      var productosId=[];
      for(i=0;i<datos.misProductos.length;i++){
        var input=$("#"+i);
        if(input.is(":checked")){
          productosId.push(datos.misProductos[i][0]);
        }
      }

      if(productosId.length>0){
        $.ajax({
          type: "POST",
          url:"{% url 'desearPublicacion' %}",
          data:{
            csrfmiddlewaretoken:"{{ csrf_token }}",
            infante_autor:"{{infante.id}}",
            publicacionId:datos.publicacion[0][0],
            editar_estado:0,
            'productos_a_dar[]':productosId
          },

          success: function(response){
            $(".mensaje1").html("");
            $(".mensaje1").append(''+
            '<div class="modal-header">'+
            '<h1 class="text-center modal-title" id="exampleModalLongTitle">¡Solicitud de publicación realizada!</h1>'+
            '</div>'+
            '<div class="text-center modal-body">'+
            '<h2>Se ha enviado una notificación a su apoderado para finalizar la solicitud</h2>'+
            '<h3><b>Puede ver sus solicitudes en la sección [Solicitudes enviadas]<b></h3>'+
            '</div>'+
            '<div class="modal-footer">'+
            '<button onclick="location.reload();" type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>'+
            '</div>');
          },
        })
      }
      else{
        $(".mensaje1").html("");
        $(".mensaje1").append(''+
        '<div class="modal-header">'+
        '<h1 class="text-center modal-title" id="exampleModalLongTitle">Datos insuficientes</h1>'+
        '</div>'+
        '<div class="text-center modal-body">'+
        '<h2>Debe realizar al menos 1 oferta</h2>'+
        '</div>'+
        '<div class="modal-footer">'+
        '<button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>'+
        '</div>');
      }
    }
    else{
      console.log("ah ah ah")
    }
    activo=true
  }

  $(document).on('click','#todo',function(){
    $.ajax({
      type: "POST",
      url:"{% url 'filtro' %}",
      data:{
        csrfmiddlewaretoken:"{{ csrf_token }}",
        filtro: 'todo'
      },

      success: function(response){
        $(".resultados").show();
        $("#juguetes").html("");
        $("#categoria").html("");
        $("#categoria").append("Más recientes");

        paginar(0,response.filtro,response.largoPag);
        // actualizar(response);
      },
    })
  });

  $(document).on('click','#DV',function(){
    $.ajax({
      type: "POST",
      url:"{% url 'filtro' %}",
      data:{
        csrfmiddlewaretoken:"{{ csrf_token }}",
        filtro: 'DV'
      },

      success: function(response){
        $(".resultados").show();
        $("#juguetes").html("");
        $("#categoria").html("");
        $("#categoria").append("Deportivos y vehículos");
        paginar(0,response.filtro,response.largoPag);
        // actualizar(response);.
      },
    })
  });

  $(document).on('click','#LL',function(){
    $.ajax({
      type: "POST",
      url:"{% url 'filtro' %}",
      data:{
        csrfmiddlewaretoken:"{{ csrf_token }}",
        filtro: 'LL'
      },

      success: function(response){
        $(".resultados").show();
        $("#juguetes").html("");
        $("#categoria").html("");
        $("#categoria").append("Libros");
        paginar(0,response.filtro,response.largoPag);
        // actualizar(response);
      },
    })
  });

  $(document).on('click','#RM',function(){
    $.ajax({
      type: "POST",
      url:"{% url 'filtro' %}",
      data:{
        csrfmiddlewaretoken:"{{ csrf_token }}",
        filtro: 'RM'
      },

      success: function(response){
        $(".resultados").show();
        $("#juguetes").html("");
        $("#categoria").html("");
        $("#categoria").append("Robot y mecánicos");
        paginar(0,response.filtro,response.largoPag);
        // actualizar(response);
      },
    })
  });

  $(document).on('click','#MC',function(){
    $.ajax({
      type: "POST",
      url:"{% url 'filtro' %}",
      data:{
        csrfmiddlewaretoken:"{{ csrf_token }}",
        filtro: 'MC'
      },

      success: function(response){
        $(".resultados").show();
        $("#juguetes").html("");
        $("#categoria").html("");
        $("#categoria").append("Muñecas y accesorios");
        paginar(0,response.filtro,response.largoPag);
        // actualizar(response);
      },
    })
  });

  $(document).on('click','#FM',function(){
    $.ajax({
      type: "POST",
      url:"{% url 'filtro' %}",
      data:{
        csrfmiddlewaretoken:"{{ csrf_token }}",
        filtro: 'FM'
      },

      success: function(response){
        $(".resultados").show();
        $("#juguetes").html("");
        $("#categoria").html("");
        $("#categoria").append("Figuras y muñecos de acción");
        paginar(0,response.filtro,response.largoPag);
        // actualizar(response);
      },
    })
  });

  $(document).on('click','#PM',function(){
    $.ajax({
      type: "POST",
      url:"{% url 'filtro' %}",
      data:{
        csrfmiddlewaretoken:"{{ csrf_token }}",
        filtro: 'PM'
      },

      success: function(response){
        $(".resultados").show();
        $("#juguetes").html("");
        $("#categoria").html("");
        $("#categoria").append("Peluches y muñecos de trapo");
        paginar(0,response.filtro,response.largoPag);
        // actualizar(response);
      },
    })
  });

  $(document).on('click','#AV',function(){
    $.ajax({
      type: "POST",
      url:"{% url 'filtro' %}",
      data:{
        csrfmiddlewaretoken:"{{ csrf_token }}",
        filtro: 'AV'
      },

      success: function(response){
        $(".resultados").show();
        $("#juguetes").html("");
        $("#categoria").html("");
        $("#categoria").append("Autos y vehículos en miniatura");
        paginar(0,response.filtro,response.largoPag);
        // actualizar(response);
      },
    })
  });

  $(document).on('click','#TA',function(){
    $.ajax({
      type: "POST",
      url:"{% url 'filtro' %}",
      data:{
        csrfmiddlewaretoken:"{{ csrf_token }}",
        filtro: 'TA'
      },

      success: function(response){
        $(".resultados").show();
        $("#juguetes").html("");
        $("#categoria").html("");
        $("#categoria").append("Trenes y accesorios");
        paginar(0,response.filtro,response.largoPag);
        // actualizar(response);
      },
    })
  });

  $(document).on('click','#AA',function(){
    $.ajax({
      type: "POST",
      url:"{% url 'filtro' %}",
      data:{
        csrfmiddlewaretoken:"{{ csrf_token }}",
        filtro: 'AA'
      },

      success: function(response){
        $(".resultados").show();
        $("#juguetes").html("");
        $("#categoria").html("");
        $("#categoria").append("Autopista y accesorios");
        paginar(0,response.filtro,response.largoPag);
        // actualizar(response);
      },
    })
  });

  $(document).on('click','#HH',function(){
    $.ajax({
      type: "POST",
      url:"{% url 'filtro' %}",
      data:{
        csrfmiddlewaretoken:"{{ csrf_token }}",
        filtro: 'HH'
      },

      success: function(response){
        $(".resultados").show();
        $("#juguetes").html("");
        $("#categoria").html("");
        $("#categoria").append("Herramientas");
        paginar(0,response.filtro,response.largoPag);
        // actualizar(response);
      },
    })
  });

  $(document).on('click','#MM',function(){
    $.ajax({
      type: "POST",
      url:"{% url 'filtro' %}",
      data:{
        csrfmiddlewaretoken:"{{ csrf_token }}",
        filtro: 'MM'
      },

      success: function(response){
        $(".resultados").show();
        $("#juguetes").html("");
        $("#categoria").html("");
        $("#categoria").append("Materiales");
        paginar(0,response.filtro,response.largoPag);
        // actualizar(response);
      },
    })
  });

  $(document).on('click','#CA',function(){
    $.ajax({
      type: "POST",
      url:"{% url 'filtro' %}",
      data:{
        csrfmiddlewaretoken:"{{ csrf_token }}",
        filtro: 'CA'
      },

      success: function(response){
        $(".resultados").show();
        $("#juguetes").html("");
        $("#categoria").html("");
        $("#categoria").append("Construcción, acoplamientos y 'kits'");
        paginar(0,response.filtro,response.largoPag);
        // actualizar(response);
      },
    })
  });

  $(document).on('click','#IV',function(){
    $.ajax({
      type: "POST",
      url:"{% url 'filtro' %}",
      data:{
        csrfmiddlewaretoken:"{{ csrf_token }}",
        filtro: 'IV'
      },

      success: function(response){
        $(".resultados").show();
        $("#juguetes").html("");
        $("#categoria").html("");
        $("#categoria").append("Imitación de la vida");
        paginar(0,response.filtro,response.largoPag);
        // actualizar(response);
      },
    })
  });

  $(document).on('click','#MU',function(){
    $.ajax({
      type: "POST",
      url:"{% url 'filtro' %}",
      data:{
        csrfmiddlewaretoken:"{{ csrf_token }}",
        filtro: 'MU'
      },

      success: function(response){
        $(".resultados").show();
        $("#juguetes").html("");
        $("#categoria").html("");
        $("#categoria").append("Musicales");
        paginar(0,response.filtro,response.largoPag);
        // actualizar(response);
      },
    })
  });

  $(document).on('click','#AV',function(){
    $.ajax({
      type: "POST",
      url:"{% url 'filtro' %}",
      data:{
        csrfmiddlewaretoken:"{{ csrf_token }}",
        filtro: 'AV'
      },

      success: function(response){
        $(".resultados").show();
        $("#juguetes").html("");
        $("#categoria").html("");
        $("#categoria").append("Audio-visual");
        paginar(0,response.filtro,response.largoPag);
        // actualizar(response);
      },
    })
  });

  $(document).on('click','#CT',function(){
    $.ajax({
      type: "POST",
      url:"{% url 'filtro' %}",
      data:{
        csrfmiddlewaretoken:"{{ csrf_token }}",
        filtro: 'CT'
      },

      success: function(response){
        $(".resultados").show();
        $("#juguetes").html("");
        $("#categoria").html("");
        $("#categoria").append("Ciencia y tecnología");
        paginar(0,response.filtro,response.largoPag);
        // actualizar(response);
      },
    })
  });

  $(document).on('click','#PR',function(){
    $.ajax({
      type: "POST",
      url:"{% url 'filtro' %}",
      data:{
        csrfmiddlewaretoken:"{{ csrf_token }}",
        filtro: 'PR'
      },

      success: function(response){
        $(".resultados").show();
        $("#juguetes").html("");
        $("#categoria").html("");
        $("#categoria").append("Puzzles y rompecabeza");
        paginar(0,response.filtro,response.largoPag);
        // actualizar(response);
      },
    })
  });

  $(document).on('click','#MA',function(){
    $.ajax({
      type: "POST",
      url:"{% url 'filtro' %}",
      data:{
        csrfmiddlewaretoken:"{{ csrf_token }}",
        filtro: 'MA'
      },

      success: function(response){
        $(".resultados").show();
        $("#juguetes").html("");
        $("#categoria").html("");
        $("#categoria").append("Juego de mesa y azar");
        paginar(0,response.filtro,response.largoPag);
        // actualizar(response);
      },
    })
  });

  $(document).on('click','#VO',function(){
    $.ajax({
      type: "POST",
      url:"{% url 'filtro' %}",
      data:{
        csrfmiddlewaretoken:"{{ csrf_token }}",
        filtro: 'VO'
      },

      success: function(response){
        $(".resultados").show();
        $("#juguetes").html("");
        $("#categoria").html("");
        $("#categoria").append("Videoconsola y ordenador");
        paginar(0,response.filtro,response.largoPag);
        // actualizar(response);
      },
    })
  });

  $(document).on('click','#CC',function(){
    $.ajax({
      type: "POST",
      url:"{% url 'filtro' %}",
      data:{
        csrfmiddlewaretoken:"{{ csrf_token }}",
        filtro: 'CC'
      },

      success: function(response){
        $(".resultados").show();
        $("#juguetes").html("");
        $("#categoria").html("");
        $("#categoria").append("Comunicación");
        paginar(0,response.filtro,response.largoPag);
        // actualizar(response);
      },
    })
  });

  $(document).on('click','#PH',function(){
    $.ajax({
      type: "POST",
      url:"{% url 'filtro' %}",
      data:{
        csrfmiddlewaretoken:"{{ csrf_token }}",
        filtro: 'PH'
      },

      success: function(response){
        $(".resultados").show();
        $("#juguetes").html("");
        $("#categoria").html("");
        $("#categoria").append("Puntería y habilidad");
        paginar(0,response.filtro,response.largoPag);
        // actualizar(response);
      },
    })
  });

  $(document).on('click','#AE',function(){
    $.ajax({
      type: "POST",
      url:"{% url 'filtro' %}",
      data:{
        csrfmiddlewaretoken:"{{ csrf_token }}",
        filtro: 'AE'
      },

      success: function(response){
        $(".resultados").show();
        $("#juguetes").html("");
        $("#categoria").html("");
        $("#categoria").append("Arrastre y empuje");
        paginar(0,response.filtro,response.largoPag);
        // actualizar(response);
      },
    })
  });

  $(document).on('click','#OV',function(){
    $.ajax({
      type: "POST",
      url:"{% url 'filtro' %}",
      data:{
        csrfmiddlewaretoken:"{{ csrf_token }}",
        filtro: 'OV'
      },

      success: function(response){
        $(".resultados").show();
        $("#juguetes").html("");
        $("#categoria").html("");
        $("#categoria").append("Voladores");
        paginar(0,response.filtro,response.largoPag);
        // actualizar(response);
      },
    })
  });

  $(document).on('click','#DA',function(){
    $.ajax({
      type: "POST",
      url:"{% url 'filtro' %}",
      data:{
        csrfmiddlewaretoken:"{{ csrf_token }}",
        filtro: 'DA'
      },

      success: function(response){
        $(".resultados").show();
        $("#juguetes").html("");
        $("#categoria").html("");
        $("#categoria").append("Disfraces y accesorios");
        paginar(0,response.filtro,response.largoPag);
        // actualizar(response);
      },
    })
  });

  $(document).on('click','#TT',function(){
    $.ajax({
      type: "POST",
      url:"{% url 'filtro' %}",
      data:{
        csrfmiddlewaretoken:"{{ csrf_token }}",
        filtro: 'TT'
      },

      success: function(response){
        $(".resultados").show();
        $("#juguetes").html("");
        $("#categoria").html("");
        $("#categoria").append("Títeres y teatro");
        paginar(0,response.filtro,response.largoPag);
        // actualizar(response);
      },
    })
  });




</script>

<style type="text/css">
  .form-group input[type="checkbox"] {
    display: none;
  }

  .form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
  }

  .form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
  }
  .form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;
  }

  .form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
  }
  .form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;
  }
</style>
{% endblock %}
