{% extends 'indexs/index_apoderado.html' %}

{% block menu%}
  <li>
      <a href="{% url 'inicio_ap' %}"><i class="fa fa-child"></i> <span class="nav-label">Mis niños</span> <span class="fa arrow"></span></a>
  </li>
  <li>
      <a href="{% url 'intercambios_a_concretar' %}"><i class="fa fa-exchange"></i> <span class="nav-label">Intercambios a concretar</span><span id="n_cierres" class="label label-info pull-right"></span></a>
  </li>
{% endblock %}

{% block contenido %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
          <h2>Juguetes que {{ infante.nombre }} desea publicar:</h2>
          <ol class="breadcrumb">
              <a href="{% url 'inicio_ap' %}" class="btn btn-primary pull-right" role="button">Volver</a>
          </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    {% for publicacion in publicaciones %}
      <div class="col-md-3">
          <div class="ibox">
              <div class="ibox-content product-box">
                {% for e in existe %}
                  {% if e == publicacion.id %}
                    <h1 class="text-center text-info">Publicado <i class="fa fa-check"></i></h1>
                  {% endif %}
                {% endfor %}
                  <div id="f{{publicacion.id}}" class="product-imitation lazur-bg">
                      <img id="i{{publicacion.id}}" style="max-width:98%;" src="{{publicacion.producto.foto.url}}">
                      <script>
                        var heightt=(screen.height/3);
                        var heightf=heightt+180;
                        document.getElementById("i{{publicacion.id}}").style.maxHeight=heightt+"px";
                        document.getElementById("f{{publicacion.id}}").style.height=heightf+"px";
                      </script>
                  </div>
                  <div class="product-desc">
                    <a href="#" class="product-name text-center"> <h1>{{publicacion.producto.nombre}}</h1></a>
                    <small class="text-muted"><h2>{{publicacion.producto.get_categoria_display}}</h2></small>
                    <div class="small m-t-xs">
                      <h3>{{infante.nombre}} desea adquirir este juguete a cambio de:</h3>
                      <div class="well">
                        {% if publicacion.descripcion != "" %}
                        <b>{{publicacion.descripcion}}</b>
                        {% else %}
                        <i>--Sin especificación--</i>
                        {% endif %}
                      </div>
                    </div>
                    <div class="m-t text-center">
                        <a href="{% url 'datosPublicacion' publicacion.id infante.id %}" class="btn btn-outline btn-primary"><i class="fa fa-gear"></i>&nbsp;Configurar publicación <i class="fa fa-long-arrow-right"></i> </a>
                    </div>
                  </div>
              </div>
          </div>
      </div>
      {% endfor %}
  </div>
</div>

{% endblock %}

{% block codigo_js %}

<!-- cierres pendientes: -->
<script>
$.ajax({
  type: "POST",
  url:"{% url 'cierresPendientes' %}",
  data:{
    csrfmiddlewaretoken:"{{ csrf_token }}",
    rutApoderado:"{{apoderado.rut}}"
  },

  success: function(response){
    $("#n_cierres").html("");
    $("#n_cierres").append(''+response.numero+'');
  }
})
</script>

{% endblock %}
