{% extends 'indexs/index_infante.html' %}
{% load static %}

{% block menu%}
  <li >
      <a href="{% url 'galeria_in' infante.id %}"><i class="fa fa-picture-o"></i> <span class="nav-label">Galería</span></a>
  </li>
  <li >
      <a href="{% url 'intercambio_in'%}"><i class="fa fa-exchange"></i> <span class="nav-label">Intercambio</span></a>
  </li>
  <li>
      <a href="{% url 'VerAnalisis_in'%}"><i class="fa fa-id-card-o"></i> <span class="nav-label">Mi perfil</span></a>
  </li>
  <li>
      <a href="{% url 'verDeseados' infante.id 1 %}"><i class="fa fa-send-o"></i> <span class="nav-label">Solicitudes enviadas</span></a>
  </li>
  <li class="active">
      <a href="{% url 'recibido' infante.id 1 %}"><i class="fa fa-envelope"></i> <span class="nav-label">Solicitudes recibidas</span><span id="n_recividas" class="label label-info pull-right"></span></a>
  </li>
  {% endblock %}


  {% block contenido %}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
              <h2>Solicitudes recibidas</h2>
        </div>
    </div>

    <!-- Modal fotos -->
    <div class="modal fade" id="modalVerFoto" tabindex="-1" role="dialog" aria-labelledby="modalVerFoto" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="mensajefoto modal-content">
          <div class="modal-header">
            <h1 class="text-center modal-title" id="exampleModalLongTitle">#</h1>
          </div>
          <div class="text-center modal-body">
            <h2>#</h2>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal solicitud -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="mensaje1 modal-content">
          <div class="modal-header">
            <h1 class="text-center modal-title" id="exampleModalLongTitle">Cargando...</h1>
          </div>
          <div class="text-center modal-body">
            <h2>
              <div class="spiner-example">
                <div class="sk-spinner sk-spinner-circle">
                  <div class="sk-circle1 sk-circle"></div>
                  <div class="sk-circle2 sk-circle"></div>
                  <div class="sk-circle3 sk-circle"></div>
                  <div class="sk-circle4 sk-circle"></div>
                  <div class="sk-circle5 sk-circle"></div>
                  <div class="sk-circle6 sk-circle"></div>
                  <div class="sk-circle7 sk-circle"></div>
                  <div class="sk-circle8 sk-circle"></div>
                  <div class="sk-circle9 sk-circle"></div>
                  <div class="sk-circle10 sk-circle"></div>
                  <div class="sk-circle11 sk-circle"></div>
                  <div class="sk-circle12 sk-circle"></div>
                </div>
              </div>
            </h2>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>
          </div>
        </div>
      </div>
    </div>


    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="row">
        {% for solicitud in recividas %}
          <div class="col-md-3">
              <div class="ibox">
                  <div class="ibox-content product-box">
                      <div id="f{{solicitud.1}}" class="product-imitation lazur-bg">
                          <img id="i{{solicitud.1}}" style="max-width:98%;" src="{{solicitud.2.1}}">
                          <script>
                            var heightt=(screen.height/3);
                            var heightf=heightt+180;
                            document.getElementById("i{{solicitud.1}}").style.maxHeight=heightt+"px";
                            document.getElementById("f{{solicitud.1}}").style.maxheight=heightf+"px";
                          </script>
                      </div>
                      <div class="product-desc">
                        <a href="#" class="product-name text-center"> <h1>{{solicitud.2.2}}</h1></a>
                        <small class="text-muted text-center"><h2>tu juguete se desea intercambiar a cambio de:</h2></small>
                        <div class="small m-t-xs">
                          {% for juguete in solicitud.6 %}
                            <div class="well">
                              <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                  <b>{{juguete.2}}: </b>
                                  <img id="i{{juguete.0}}{{solicitud.1}}" style="max-width:98%;" src="{{juguete.1}}">
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                  <button type="button" class="btn btn-primary" onclick="javascript:verFoto({{juguete}})" data-toggle="modal" data-target="#modalVerFoto">Ver</button>
                                </div>
                              </div>
                              <script>
                                var heightt=(screen.height/25);
                                document.getElementById("i{{juguete.0}}{{solicitud.1}}").style.maxHeight=heightt+"px";
                              </script>
                            </div>
                          {% endfor %}
                        </div>
                        <div class="row">
                          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">

                              <button onclick="javascript:respuesta({{solicitud.0.0}},1);" data-toggle="modal" data-target="#exampleModalLong" class="btn btn-info btn-sm"><i class="fa fa-gear"></i>&nbsp;Aceptar<i class="fa fa-long-arrow-right"></i></button>

                          </div>
                          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">

                              <button onclick="javascript:respuesta({{solicitud.0.0}},0);" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#exampleModalLong" class="btn btn-danger btn-sm"><i class="fa fa-gear"></i>&nbsp;Rechazar<i class="fa fa-long-arrow-right"></i></button>

                          </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
    </div>
  {% endblock %}



  {% block codigo_js %}
  <script>var activo=false</script>
  <!-- Notificciones: -->
  <script>
  $.ajax({
    type: "POST",
    url:"{% url 'notificacionesIn' %}",
    data:{
      csrfmiddlewaretoken:"{{ csrf_token }}",
    },

    success: function(response){
      if(response.solicitudes>0){
        $("#n_recividas").html("");
        $("#n_recividas").append(''+response.solicitudes+'');
      }
    }
  })
  </script>

  <script>

  function verFoto(juguete){
    console.log(juguete)
    $(".mensajefoto").html("");
    $(".mensajefoto").append(''+
    '<div class="modal-header">'+
    '<h1 class="text-center modal-title" id="exampleModalLongTitle">'+juguete[2]+'</h1>'+
    '</div>'+
    '<div class="text-center modal-body">'+
    '<img style="max-width:100%;" src="'+juguete[1]+'">'+
    '</div>'+
    '<div class="modal-footer">'+
    '<button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>'+
    '</div>');
  }

  function respuesta(idUnaSolicitud,respuest){
    if(activo==false){
      activo=true

      console.log(idUnaSolicitud)
      console.log(respuest)
      $.ajax({
        type: "POST",
        url:"{% url 'respuesta' %}",
        dataType:"json",
        data:{
          csrfmiddlewaretoken:"{{ csrf_token }}",
          unaSolicitudId: idUnaSolicitud,
          respues: respuest
        },

        success: function(response){
          if(response.data=="1"){
            $(".mensaje1").html("");
            $(".mensaje1").append(''+
            '<div class="modal-header">'+
            '<h1 class="text-center modal-title" id="exampleModalLongTitle">¡Solicitud aceptada exitosamente!</h1>'+
            '</div>'+
            '<div class="text-center modal-body">'+
            '<h2>Su apoderado deberá intercambiar los juguetes en el día, lugar y hora acordados</h2>'+
            '</div>'+
            '<div class="modal-footer">'+
            '<button onclick="javascript:recargar();" type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>'+
            '</div>');
          }
          else{
            $(".mensaje1").html("");
            $(".mensaje1").append(''+
            '<div class="modal-header">'+
            '<h1 class="text-center modal-title" id="exampleModalLongTitle">¡Solicitud rechazada exitosamente!</h1>'+
            '</div>'+
            '<div class="modal-footer">'+
            '<button onclick="javascript:recargar();" type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>'+
            '</div>');
          }

        }

      })
    }
    else{
      console.log("ah ah ah")
    }
  }

  function recargar(){
    location.reload();
  }


  </script>
  {% endblock %}
