{% extends 'usuarios/registro/register_base.html' %}
{% load bootstrap %}

{% block Titulo %}

  <h3>Configuracion inicial</h3>
  <p>Puedes saltar este paso y configurar estos aspectos mas tarde</p>

{% endblock%}

{% block datos %}

<div class="form-group">
  <a href="#" class="btn btn-primary block full-width m-b" role="button">Registrar Hijos</a>
</div>

<div class="form-group">
  <a href="#" class="btn btn-primary block full-width m-b" role="button">Configurar Galeria</a>
</div>

<div class="form-group">
  <a href="#" class="btn btn-primary block full-width m-b" role="button">Registrar Juguetes</a>
</div>

<div class="form-group">
  <a href="inicio" class="btn btn-danger block full-width m-b" role="button">Saltar estos pasos</a>
</div>

{% endblock %}
