{% extends 'indexs/index_apoderado.html' %}
{% load static %}

{% block menu %}
  <li>
      <a href="{% url 'inicio_ap' %}"><i class="fa fa-child"></i> <span class="nav-label">Mis niños</span></a>
  </li>
  <li>
      <a href={% url 'intercambios_a_concretar' %}><i class="fa fa-exchange"></i> <span class="nav-label">Intercambios a concretar</span><span id="n_cierres" class="label label-info pull-right"></span></a>
  </li>
{% endblock %}

{% block contenido %}

<!-- Modal publicar -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="mensaje1 modal-content">
      <div class="modal-header">
        <h1 class="text-center modal-title" id="exampleModalLongTitle">#</h1>
      </div>
      <div class="text-center modal-body">
        <h2>#</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<div id="g_desarrollo_cont" class="ibox-content" style="margin-top:30px; background-color:rgba(255,255,255,0.6);">
  <div class="row text-center">
    <h1> Desarrollo de {{infante.nombre}} </h1>
  </div>
  <div class="row">

    <div class="col-md-3">
        <h2>Datos</h2>
        <ul class="list-group clear-list m-t">
            <li class="list-group-item fist-item">
                <span class="pull-right">
                    <button onclick="javascript:verInfo('Afectividad')">Ver información</button>
                </span>
                <span class="label label-success">1</span> Afectividad
            </li>
            <li class="list-group-item">
                <span class="pull-right">
                    <button onclick="javascript:verInfo('Motricidad')">Ver información</button>
                </span>
                <span class="label label-info">2</span> Motricidad
            </li>
            <li class="list-group-item">
                <span class="pull-right">
                    <button onclick="javascript:verInfo('Inteligencia')">Ver información</button>
                </span>
                <span class="label label-primary">3</span> Inteligencia
            </li>
            <li class="list-group-item">
                <span class="pull-right">
                    <button onclick="javascript:verInfo('Creatividad')">Ver información</button>
                </span>
                <span class="label label-warning">4</span> Creatividad
            </li>
            <li class="list-group-item">
                <span class="pull-right">
                    <button onclick="javascript:verInfo('Sociabilidad')">Ver información</button>
                </span>
                <span class="label label-danger">5</span> Sociabilidad
            </li>
        </ul>
    </div>

    <div id="g_desarrollo_div" class="col-sm-9">
      <div class="ibox float-e-margins">
        <div>
            <canvas id="g_desarrollo" height="140"></canvas>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="ibox-content" style="margin-top:30px; background-color:rgba(255,255,255,0.5);">
  <div class="row text-center">
    <h1> Preferecias de {{infante.nombre}}</h1>
  </div>
  <div id="noDatos" class="row text-center">

  </div>
  <div id="preferencias" class="row">

    <!-- Ejemplo de preferencia -->
    {% for pref in preferencias %}
    {% if pref.1 > 0 and pref.0 != 'Audio-visual' %}
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="ibox-content" style="margin-top:10px;">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 text-center">
            <span class="label label-primary">{{forloop.counter}}</span> <b>{{pref.0}}:</b>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
            {% if pref.1 == 1 %}
              <b>{{pref.1}} vez deseado</b>
            {% else %}
              <b>{{pref.1}} veces deseado</b>
            {% endif %}
          </div>
        </div>
        <div><br>
          <div class="text-center"> Juguetes Adquiridos en esta categoría:<br><br> </div>
          <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center"> <b>Foto</b> </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center"> <b>Nombre</b> </div>
          </div>
          <br>
          <div class="scroll_content">
              {% for juguete in pref.2 %}
              <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
                <a href="{{juguete.1}}"><img id="f{{pref.0}}{{forloop.counter}}" style="max-width:100%; margin-bottom:5px;" src="{{juguete.1}}"></a>
                <script>
                  var heightU=(screen.height/7);
                  document.getElementById("f{{pref.0}}{{forloop.counter}}").style.maxHeight=heightU+"px";
                </script>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
                <p>{{juguete.0}}</p>
              </div>
              </div>
              {% endfor %}
          </div>
        </div>

      </div>
    </div>
    {% endif %}
    {% endfor %}
    <!-- Fin Ejemplo -->

  </div>

</div>

{% endblock %}

{% block codigo_js %}
<!-- Flot -->
<script src="{% static 'Plantilla_Sistema/js/plugins/flot/jquery.flot.js' %}"></script>
<script src="{% static 'Plantilla_Sistema/js/plugins/flot/jquery.flot.tooltip.min.js' %}"></script>
<script src="{% static 'Plantilla_Sistema/js/plugins/flot/jquery.flot.resize.js' %}"></script>
<script src="{% static 'Plantilla_Sistema/js/plugins/flot/jquery.flot.pie.js' %}"></script>
<script src="{% static 'Plantilla_Sistema/js/plugins/flot/jquery.flot.time.js' %}"></script>

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<!-- Mainly scripts -->
<script src="{% static 'Plantilla_Sistema/js/jquery-3.1.1.min.js' %"></script>
<script src="{% static 'Plantilla_Sistema/js/bootstrap.min.js' %"></script>
<script src="{% static 'Plantilla_Sistema/js/plugins/metisMenu/jquery.metisMenu.js' %"></script>
<script src="{% static 'Plantilla_Sistema/js/plugins/slimscroll/jquery.slimscroll.min.js' %"></script>

<!-- Custom and plugin javascript -->
<script src="{% static 'Plantilla_Sistema/js/inspinia.js' %"></script>
<script src="{% static 'Plantilla_Sistema/js/plugins/pace/pace.min.js' %"></script>

<script>

    $(document).ready(function () {

        // Add slimscroll to element
        $('.scroll_content').slimscroll({
            height: '200px'
        })

    });


    if({{desarrollo.AF}}==0 && {{desarrollo.MO}}==0 && {{desarrollo.IN}}==0 && {{desarrollo.CR}}==0 && {{desarrollo.SO}}==0){
      $("#noDatos").html("");
      $("#noDatos").append('<h2>Aún no hay registros</h2>');
    }

</script>


<script>

// Grafico Desarrollo:
$(function() {
  var barData = {
      labels: ["Afectividad", "Motricidad", "Inteligencia", "Creatividad", "Sociabilidad"],
      datasets: [
          {
              label: "Desarrollo",
              backgroundColor: 'rgba(26,179,148,1)',
              borderColor: "rgba(26,179,148,1)",
              pointBackgroundColor: "rgba(26,179,148,1)",
              pointBorderColor: "#fff",
              data: [{{desarrollo.AF}}, {{desarrollo.MO}}, {{desarrollo.IN}}, {{desarrollo.CR}}, {{desarrollo.SO}}]
          }
      ]
  };

  var barOptions = {
      responsive: true
  };


  var ctx2 = document.getElementById("g_desarrollo").getContext("2d");
  new Chart(ctx2, {type: 'bar', data: barData, options:barOptions});

});

</script>

<script>

function verInfo(dato){
  $("#exampleModalLong").modal("show");
  if(dato=="Afectividad"){
    $(".mensaje1").html("");
    $(".mensaje1").append(''+
    '<div class="modal-header">'+
      '<h1 class="text-center modal-title" id="exampleModalLongTitle">Desarrollo de la Afectividad</h1>'+
    '</div>'+
    '<div class="text-center modal-body">'+
      '<p> En los primeros años, tanto los juguetes típicamente afectivos –peluches, muñecos y animales-  como los que favorecen la imitación de situaciones adultas (lavarse, vestirse, peinarse…) potencias el desarrollo de una buena afectividad.</p>'+
      '<h4> Categorías de juguetes que favorecen la afectividad:</h4>'+
      '<p> <i class="fa fa-female"></i>&nbsp Muñecas y accesorios</p>'+
      '<p> <i class="fa fa-paw"></i>Peluches y muñecos de trapo</p>'+
      '<p> <i class="fa fa-cutlery"></i>Imitación de la vida</p>'+
      '<p> <i class="fa fa-phone"></i>Comunicación</p>'+
    '</div>'+
    '<div class="modal-footer">'+
      '<button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>'+
    '</div>');
  }
  else if(dato=="Motricidad"){
    $(".mensaje1").html("");
    $(".mensaje1").append(''+
    '<div class="modal-header">'+
      '<h1 class="text-center modal-title" id="exampleModalLongTitle">Desarrollo de la Motricidad</h1>'+
    '</div>'+
    '<div class="text-center modal-body">'+
      '<p> Destreza y equilibrio que se favorecen con la pelota, los juegos de arrastre, de empuje, de montar y los deportivos en general; como de la motricidad fina, precisión prensora y habitual manual que se ve favorecida por sonajeros, juegos de apilar y encajar, construcciones, puzles, etcétera.</p>'+
      '<h4> Categorías de juguetes que favorecen la motricidad:</h4>'+
      '<p> <i class="fa fa-soccer-ball-o"></i>&nbsp Deportivos y vehículos</p>'+
      '<p> <i class="fa fa-wrench"></i>&nbsp Herramientas</p>'+
      '<p> <i class="fa fa-pencil"></i>&nbsp Materiales</p>'+
      '<p> <i class="fa fa-cubes"></i>&nbsp Construcción, acoplamientos y "kits"</p>'+
      '<p> <i class="fa fa-music"></i>&nbsp Musicales</p>'+
      '<p> <i class="fa fa-puzzle-piece"></i>&nbsp Puzzles y rompecabeza</p>'+
      '<p> <i class="fa fa-crosshairs"></i>&nbsp Puntería y habilidad</p>'+
      '<p> <i class="fa fa-sign-in"></i>&nbsp Arrastre y empuje</p>'+
    '</div>'+
    '<div class="modal-footer">'+
      '<button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>'+
    '</div>');
  }
  else if(dato=="Inteligencia"){
    $(".mensaje1").html("");
    $(".mensaje1").append(''+
    '<div class="modal-header">'+
      '<h1 class="text-center modal-title" id="exampleModalLongTitle">Desarrollo de la Inteligencia</h1>'+
    '</div>'+
    '<div class="text-center modal-body">'+
      '<p> El desarrollo de la inteligencia está unido al desarrollo sensorio-motor. Cuando la niña o el niño desmonta un juguete, aprenden a analizar los objetos, a pensar sobre ellos y éste es su primer paso hacia el razonamiento y las actividades de síntesis. Estimulan la inteligencia los puzzles, encajes, dominós, construcciones, piezas de estrategia y de reflexión en general.</p>'+
      '<h4> Categorías de juguetes que favorecen la inteligencia:</h4>'+
      '<p> <i class="fa fa-book"></i>&nbsp Libros</p>'+
      '<p> <i class="fa fa-wrench"></i>&nbsp Herramientas</p>'+
      '<p> <i class="fa fa-pencil"></i>&nbsp Materiales</p>'+
      '<p> <i class="fa fa-cubes"></i>&nbsp Construcción, acoplamientos y "kits"</p>'+
      '<p> <i class="fa fa-flask"></i>&nbsp Ciencia y tecnología</p>'+
      '<p> <i class="fa fa-puzzle-piece"></i>&nbsp Puzzles y rompecabeza</p>'+
      '<p> <i class="fa fa-delicious"></i>&nbsp Juego de mesa y azar</p>'+
      '<p> <i class="fa fa-gamepad"></i>&nbsp Videoconsola y ordenador</p>'+
      '<p> <i class="fa fa-sign-in"></i>&nbsp Arrastre y empuje</p>'+
    '</div>'+
    '<div class="modal-footer">'+
      '<button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>'+
    '</div>');
  }
  else if(dato=="Creatividad"){
    $(".mensaje1").html("");
    $(".mensaje1").append(''+
    '<div class="modal-header">'+
      '<h1 class="text-center modal-title" id="exampleModalLongTitle">Desarrollo de la Creatividad</h1>'+
    '</div>'+
    '<div class="text-center modal-body">'+
      '<p> Crear no siempre es inventar, por lo que todos los juguetes que puedan considerarse creativos no siempre son imaginativos. Favorecen este aspecto de la personalidad los materiales de bricolaje, marionetas, juegos por elementos, disfraces e instrumentos musicales entre otros.</p>'+
      '<h4> Categorías de juguetes que favorecen la creatividad:</h4>'+
      '<p> <i class="fa fa-cogs"></i>&nbsp Robot y mecánicos </p>'+
      '<p> <i class="fa fa-female"></i>&nbsp Muñecas y accesorios </p>'+
      '<p> <i class="fa fa-male"></i>&nbsp Figuras y muñecos de acción </p>'+
      '<p> <i class="fa fa-paw"></i>&nbsp Peluches y muñecos de trapo </p>'+
      '<p> <i class="fa fa-truck"></i>&nbsp Autos y vehículos en miniatura </p>'+
      '<p> <i class="fa fa-road"></i>&nbsp Trenes y accesorios </p>'+
      '<p> <i class="fa fa-flag-checkered"></i>&nbsp Autopista y accesorios </p>'+
      '<p> <i class="fa fa-wrench"></i>&nbsp Herramientas </p>'+
      '<p> <i class="fa fa-pencil"></i>&nbsp Materiales </p>'+
      '<p> <i class="fa fa-cubes"></i>&nbsp Construcción, acoplamientos y "kits" </p>'+
      '<p> <i class="fa fa-cutlery"></i>&nbsp Imitación de la vida </p>'+
      '<p> <i class="fa fa-camera"></i>&nbsp Audio-visual </p>'+
      '<p> <i class="fa fa-flask"></i>&nbsp Ciencia y tecnología </p>'+
      '<p> <i class="fa fa-plane"></i>&nbsp Voladores </p>'+
      '<p> <i class="fa fa-github-alt"></i>&nbsp Disfraces y accesorios </p>'+
      '<p> <i class="fa fa-child"></i>&nbsp Títeres y teatro </p>'+
    '</div>'+
    '<div class="modal-footer">'+
      '<button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>'+
    '</div>');
  }
  else{
    $(".mensaje1").html("");
    $(".mensaje1").append(''+
    '<div class="modal-header">'+
      '<h1 class="text-center modal-title" id="exampleModalLongTitle">Desarrollo de la Sociabilidad</h1>'+
    '</div>'+
    '<div class="text-center modal-body">'+
      '<p> En la medida en que los juguetes favorecen a la comunicación, el intercambio, ayudan al niño a situarse entre los otros, a comunicar con ellos y preparar su integración social</p>'+
      '<h4> Categorías de juguetes que favorecen la sociabilidad:</h4>'+
      '<p> <i class="fa fa-female"></i>&nbsp Muñecas y accesorios </p>'+
      '<p> <i class="fa fa-male"></i>&nbsp Figuras y muñecos de acción </p>'+
      '<p> <i class="fa fa-paw"></i>&nbsp Peluches y muñecos de trapo </p>'+
      '<p> <i class="fa fa-cutlery"></i>&nbsp Imitación de la vida </p>'+
      '<p> <i class="fa fa-delicious"></i>&nbsp Juego de mesa y azar </p>'+
      '<p> <i class="fa fa-phone"></i>&nbsp Comunicación </p>'+
      '<p> <i class="fa fa-github-alt"></i>&nbsp Disfraces y accesorios </p>'+
      '<p> <i class="fa fa-child"></i>&nbsp Títeres y teatro </p>'+
    '</div>'+
    '<div class="modal-footer">'+
      '<button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>'+
    '</div>');
  }
}

</script>

<script>
$.ajax({
  type: "POST",
  url:"{% url 'cierresPendientes' %}",
  data:{
    csrfmiddlewaretoken:"{{ csrf_token }}",
    rutApoderado:"{{apoderado.rut}}"
  },

  success: function(response){
    $("#n_cierres").html("");
    $("#n_cierres").append(''+response.numero+'');
  }
})
</script>


{% endblock %}
