{% extends 'indexs/index_entidad.html' %}
{% load static %}

{% block menu %}
  <li class="active">
      <a href="#"><i class="fa fa-map-marker"></i> <span class="nav-label">Sectores</span></a>
  </li>
{% endblock %}

{% block contenido %}
<link href="{% static 'Plantilla_Sistema/css/plugins/dataTables/datatables.min.css' %}" rel="stylesheet">
<link href="{% static 'Plantilla_Sistema/css/animate.css' %}" rel="stylesheet">
<link href="{% static 'Plantilla_Sistema/css/style.css' %}" rel="stylesheet">
<link href="{% static 'Plantilla_Sistema/font-awesome/css/font-awesome.css' %}" rel="stylesheet">


<!-- Modal mapa -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="mensaje1 modal-content">
      <div class="modal-header">
        <h1 class="text-center modal-title" id="exampleModalLongTitle">Cargando...</h1>
      </div>
      <div class="text-center modal-body">
        <h2>
          <div class="spiner-example">
            <div class="sk-spinner sk-spinner-circle">
              <div class="sk-circle1 sk-circle"></div>
              <div class="sk-circle2 sk-circle"></div>
              <div class="sk-circle3 sk-circle"></div>
              <div class="sk-circle4 sk-circle"></div>
              <div class="sk-circle5 sk-circle"></div>
              <div class="sk-circle6 sk-circle"></div>
              <div class="sk-circle7 sk-circle"></div>
              <div class="sk-circle8 sk-circle"></div>
              <div class="sk-circle9 sk-circle"></div>
              <div class="sk-circle10 sk-circle"></div>
              <div class="sk-circle11 sk-circle"></div>
              <div class="sk-circle12 sk-circle"></div>
            </div>
          </div>
        </h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal info -->
<div class="modal fade" id="exampleModalLong2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="mensaje2 modal-content">
      <div class="modal-header">
        <h1 class="text-center modal-title" id="exampleModalLongTitle">Cargando...</h1>
      </div>
      <div class="text-center modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title text-center">
                <h1><b>Sectores</b></h1>
            </div>
            <div class="ibox-content">

                <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover dataTables-example" >
            <thead>
            <tr>
                <th>País</th>
                <th>Regíon</th>
                <th>Comuna</th>
                <th class="text-center">N° Intercambios</th>
                <th class="text-center">Información</th>
                <th class="text-center">Ubicación</th>
            </tr>
            </thead>
            <tbody>
              {% for sector in sectores %}
                <tr >
                    <td>{{sector.0}}</td>
                    <td>{{sector.1}}</td>
                    <td>{{sector.2}}</td>
                    <td class="text-center">{{sector.3}}</td>
                    <td class="text-center"><button onclick="javascript:InfoSector({{sector.4}});" class="btn btn-info">Ver Info</button></td>
                    <td class="text-center"><button onclick="javascript:verLugar('{{sector.0}}','{{sector.1}}','{{sector.2}}');" class="btn btn-info">Mapa</button></td>
                </tr>
              {% endfor %}
            </tbody>

            </table>
                </div>

            </div>
        </div>
    </div>
    </div>
</div>


{% endblock %}

{% block codigo_js %}


<script src="{% static 'Plantilla_Sistema/js/plugins/dataTables/datatables.min.js' %}"></script>

<script>

function InfoSector(juguetes){

  var ancho;
  if(screen.width<768){
    ancho=(screen.width*0.95);
  }else {
    ancho=(screen.width*0.7);
  }
  console.log(juguetes)
  $(".modal-dialog").width(ancho)
  $("#exampleModalLong2").modal("show");
  $(".mensaje2").html('');
  $(".mensaje2").append(''+
  '<div id="prefer"></div>'+
  '<div class="wrapper wrapper-content animated fadeInRight">'+
      '<div class="centrado" style="margin: auto; max-width:'+ancho*0.9+'px;">'+
        '<div class="row">'+
            '<div class="">'+
            '<div class="ibox panel-body">'+
                '<div class="text-center">'+
                    '<h1><b>Juguetes intercambiados</b> </h1></br></br>'+
                '</div>'+
                '<div class="" >'+
                    '<div class="table-responsive">'+
                '<table class="table table-striped table-bordered table-hover dataTables-info" >'+
                '<thead>'+
                '<tr>'+
                    '<th>Foto</th>'+
                    '<th>Nombre</th>'+
                    '<th>Categoría</th>'+
                    '<th>Estado</th>'+
                    '<th>Marca</th>'+
                    '<th>Modelo</th>'+
                    '<th>Serie</th>'+
                    '<th>Año</th>'+
                    '<th>Tamaño</th>'+
                    '<th>Material</th>'+
                '</tr>'+
                '</thead>'+
                '<tbody id="juguetesbody">'+
                '</tbody>'+
                '</table>'+
                    '</div>'+
                '</div>'+
            '</div>'+
        '</div>'+
        '</div>'+
      '</div>'+
  '</div>'+
  '<div class="modal-footer">'+
    '<button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>'+
  '</div>'+
  '');

  $.ajax({
    type: "POST",
    url:"{% url 'VerInfoSector' %}",
    data:{
      csrfmiddlewaretoken:"{{ csrf_token }}",
      'juguetes_id[]': juguetes
    },

    success: function(response){
      lenP=response.preferencias.length;
      $("#exampleModalLong2").on('shown.bs.modal',function(e){
        $("#prefer").html('');
        $("#prefer").append('<div class="text-center"><h1><b>Ranking de categorías preferidas</b></h1></div>');

        var categori=[]
        var cantidad=[]

        for(i=0;i<lenP;i++){
            categori.push('['+response.preferencias[i][1]+'] '+response.preferencias[i][0])
            cantidad.push(response.preferencias[i][1])
        }
        $("#prefer").append('<div id="chart" style="max-width:'+ancho*0.9+'; margin: 35px auto;"></div>');
        var options = {
            chart: {
                height: 400,
                type: 'bar',
            },
            plotOptions: {
                bar: {
                    horizontal: true,
                }
            },
            dataLabels: {
                enabled: false
            },
            series: [{
                data: cantidad,
            }],
            xaxis: {
                categories: categori,
            },
            yaxis: {

            },
            tooltip: {

            }
        }

        var chart = new ApexCharts(
            document.querySelector("#chart"),
            options
        );

        chart.render();
      });


      lenJ=response.productos.length;
      $("#juguetesbody").html('');
      for(i=0;i<lenJ;i++){
        $("#juguetesbody").append(''+
        '<tr>'+
          '<td class="text-center"><img class="zoom" id="'+response.productos[i][0]+'" style="max-width:50%;" src="'+response.productos[i][1]+'"></td>'+
          '<td>'+response.productos[i][2]+'</td>'+
          '<td>'+response.productos[i][3]+'</td>'+
          '<td id="estado'+i+'" class="text-center">'+response.productos[i][4]+'</td>'+
          '<td id="marca'+i+'" class="text-center">'+response.productos[i][5]+'</td>'+
          '<td id="modelo'+i+'" class="text-center">'+response.productos[i][6]+'</td>'+
          '<td id="serie'+i+'" class="text-center">'+response.productos[i][7]+'</td>'+
          '<td id="anno'+i+'" class="text-center">'+response.productos[i][8]+'</td>'+
          '<td id="tamano'+i+'" class="text-center">'+response.productos[i][9]+'</td>'+
          '<td id="material'+i+'" class="text-center">'+response.productos[i][10]+'</td>'+
        '</tr>');
        var largo=screen.height/5
        document.getElementById(response.productos[i][0]).style.maxHeight=""+largo+"px";

        if(response.productos[i][4]==null){
          $("#estado"+i).html("");
          $("#estado"+i).append('---------');
        }
        if(response.productos[i][5]==null){
          $("#marca"+i).html("");
          $("#marca"+i).append('---------');
        }
        if(response.productos[i][6]==null){
          $("#modelo"+i).html("");
          $("#modelo"+i).append('---------');
        }
        if(response.productos[i][7]==null){
          $("#serie"+i).html("");
          $("#serie"+i).append('---------');
        }
        if(response.productos[i][8]==null){
          $("#anno"+i).html("");
          $("#anno"+i).append('---------');
        }
        if(response.productos[i][9]==null){
          $("#tamano"+i).html("");
          $("#tamano"+i).append('---------');
        }
        if(response.productos[i][10]==null){
          $("#material"+i).html("");
          $("#material"+i).append('---------');
        }
      }




      $('.dataTables-info').DataTable({
          pageLength: 25,
          responsive: true,
          dom: '<"html5buttons"B>lTfgitp',
          buttons: [
              { extend: 'copy'},
              {extend: 'csv'},
              {extend: 'excel', title: 'ExampleFile'},
              {extend: 'pdf', title: 'ExampleFile'},

              {extend: 'print',
               customize: function (win){
                      $(win.document.body).addClass('white-bg');
                      $(win.document.body).css('font-size', '10px');

                      $(win.document.body).find('table')
                              .addClass('compact')
                              .css('font-size', 'inherit');
              }
              }
          ]

      });
    }
  })




}

</script>

<!-- Page-Level Scripts -->
<script>
    $(document).ready(function(){
        $('.dataTables-example').DataTable({
            pageLength: 25,
            responsive: true,
            dom: '<"html5buttons"B>lTfgitp',
            buttons: [
                { extend: 'copy'},
                {extend: 'csv'},
                {extend: 'excel', title: 'ExampleFile'},
                {extend: 'pdf', title: 'ExampleFile'},

                {extend: 'print',
                 customize: function (win){
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                }
                }
            ]

        });

    });

</script>

<!-- Google maps api -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-xLcAPt_Zrif2ts7Gq1MZhnBLx2YNZRw&libraries=places"
        async defer></script>

<!-- Chartist -->
<script src="{% static 'Plantilla_Sistema/js/plugins/chartist/chartist.min.js' %}"></script>


<script>
  function verLugar(pais,region,comuna){

    direccion=comuna+","+region+","+pais
    console.log(direccion)

    abrirGoogleMap(direccion)
  }

  var map;
  var marker;

  function initAutocomplete(direccion) {

      var geocoder = new google.maps.Geocoder;
      geocoder.geocode( { 'address': direccion}, function(results, status) {
        map.setCenter(results[0].geometry.location);
        placeMarker(results[0].geometry.location, map);
      });
      zo=12;


    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: -33.437880929381386, lng: -70.65050173851023},
      zoom: zo,
      mapTypeId: 'roadmap'
    });

    input = document.getElementById('pac-input');

    // Create the search box and link it to the UI element.
    var searchBox = new google.maps.places.SearchBox(input);
    // map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
    //
    // Bias the SearchBox results towards current map's viewport.
    map.addListener('bounds_changed', function() {
      searchBox.setBounds(map.getBounds());
    });

    var markers = [];
    // Listen for the event fired when the user selects a prediction and retrieve
    // more details for that place.
    searchBox.addListener('places_changed', function() {
      var places = searchBox.getPlaces();

      if (places.length == 0) {
        return;
      }

      // Clear out the old markers.
      markers.forEach(function(marker) {
        marker.setMap(null);
      });
      markers = [];

      // For each place, get the icon, name and location.
      var bounds = new google.maps.LatLngBounds();
      places.forEach(function(place) {
        if (!place.geometry) {
          console.log("Returned place contains no geometry");
          return;
        }
        var icon = {
          url: place.icon,
          size: new google.maps.Size(71, 71),
          origin: new google.maps.Point(0, 0),
          anchor: new google.maps.Point(17, 34),
          scaledSize: new google.maps.Size(25, 25)
        };

        // Create a marker for each place.
        markers.push(new google.maps.Marker({
          map: map,
          icon: icon,
          title: place.name,
          position: place.geometry.location
        }));

        if (place.geometry.viewport) {
          // Only geocodes have viewport.
          bounds.union(place.geometry.viewport);
        } else {
          bounds.extend(place.geometry.location);
        }
      });
      map.fitBounds(bounds);
    });

  }

  function placeMarker(position, map) {
    if(marker==null){
      marker = new google.maps.Marker({
        position: position,
        map: map
      });
    }
    else{
      marker.setPosition(position);
    }
      map.panTo(position);
  }


  function abrirGoogleMap(direccion){
    //google maps
    $("#exampleModalLong").modal("show");
    $(".mensaje1").html("");
    $(".mensaje1").append(''+
    '<div class="modal-header">'+
      '<h1 class="text-center modal-title" id="exampleModalLongTitle">Lugar de encuentro</h1>'+
    '</div>'+
    '<div class="text-center modal-body">'+
      '<input id="pac-input" class="controls" type="text" placeholder="Search Box">'+
      '<div id="map" style="height:'+screen.height*0.5+'px;"></div>'+
    '</div>'+
    '<div class="modal-footer">'+
      '<button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>'+
    '</div>');
    initAutocomplete(direccion);
    marker=null;

  }
</script>

<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100px;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      #target {
        width: 345px;
      }

      .zoom {
        transition: transform .2s;
      }

      .zoom:hover {
        transform: scale(1.9)
      }




    </style>

<script src="{% static 'apexcharts.js' %}"></script>


{% endblock %}
