{% extends 'usuarios/registro/register_base.html' %}
{% load bootstrap %}

{% block estilos %}
  <style>
    #perfil {
      max-width: 20vw;
      max-height: 20vh;
    }

    #perfil_logo {
      max-width: 10vw;
      max-height: 10vh;
    }
  </style>
{% endblock %}

{% block Titulo %}

  <h3>Modificar Información</h3>
  <img src="{{entidad.foto.url}}" id="perfil">
  <p>Ingrese los datos a modificar.</p>

{% endblock%}

{% block datos %}
<form  method="post" enctype="multipart/form-data">
{% csrf_token %}

{{ form|bootstrap }}

<button type="submit" class="btn btn-primary block full-width m-b">Modificar Información</button>
</form>

{% endblock %}
